<div class="container">
    <div class="row">
      <app-step-tracker-icons class="nav"> </app-step-tracker-icons>
      <div class="column">
        <form>
          <ng-container [formGroup]="stepForm"
                        name="stepForm"
                        (submit)="confirmAndSubmitForm()">
  
            <app-step-one-personal-info *ngIf="activeStep$ == 1"
                                           formGroupName="personalDetails"></app-step-one-personal-info>
            <app-step-two-plan-details *ngIf="activeStep$ == 2"
                                       formGroupName="planDetails"></app-step-two-plan-details>
            <app-step-four-summary *ngIf="activeStep$ == 3"
                                   [stepForm]="stepForm"></app-step-four-summary>

            <!-- Maybe add a component to accept dummy payment to make the whole process seem more legitimate -->
  
            <app-step-five-confim *ngIf="activeStep$ == 4"></app-step-five-confim>
          </ng-container>
  
        </form>
        <app-progression-buttons class="progress"></app-progression-buttons>
      </div>
    </div>
  
</div>