* {
  font-family: 'Outfit', sans-serif;
  }

span {
  display: contents;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0;
}
mat-card-content{
  height: 16rem;
}

table {
  height: fit-content;
  margin: 2rem auto 2rem auto;
  padding: 1.3rem;
  width: 35.4rem;
  background-color: rgb(231, 230, 230);
  border-radius: .5rem;
}

mat-divider {
  color: rgb(0, 0, 0);
  height: 0.125rem;
  width: 100%;
  border-radius: 0;
  opacity: .2;
}

.mat-card-content {
  height: fit-content;
}

th {
  height: 4rem;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 31rem;
}

.type {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 3rem;
  font-size: larger;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
}

button {
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  letter-spacing: 0;
}


.btn-change:hover {
  color: rgb(0, 0, 0);
}

.cost {
  font-size: 0.875rem;
}

div.cost{
  width: 9.3rem;
}

.total {
  width: 100%;
  padding: 0 0 2rem 0.5rem;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.total .cost {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

@media (min-width: 37.5em) {

  table {
    display: flex;
    flex-direction: row;
    width: 30.7rem;
  }

  th {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .type {
    height: auto;
  }

  button {
    margin-top: .5rem;
    padding: 1rem;
  }

  tr {
    padding-bottom: 0;
  }

}