.carouselMain{
display: flex;
/* flex-flow: row; */
/* flex-wrap: wrap; */
justify-content: space-evenly;
/* flex-direction: column; */
position: relative;
flex-direction: row;
width: 100%;
margin: auto;
/* margin-top: 50px; */
/* align-items: center; */
/* box-sizing: border-box; */
/* overflow:inherit; */
}

.image-container {
    display: flex;
    /* resize: both; */
    /* float: left; */
    /* position: relative; */
    /* margin: auto; */
    text-align: center;
    transform: scale(80%,80%);
    /* min-width:  500px;
    min-height: 700px; */

    /* min-height: 50%; */
    /* resize:both; */
    /* width:50%; */
    /* height: 700px;
    width: 500px; */
    /* border-radius: 50px; */
    /* box-shadow: 0 6px 12px #dce1e1; */
    /* align-content: center; */
}

.text-container{
    margin-top: 100px;
    width:50%;
    display:flex;
    /* overflow: overlay; */
    /* padding-top: 190px; */
    /* flex-wrap: wrap; */
   
}

/* img{
    width: 500px;
    height: 700px;
    border-radius: 8px;
    object-fit: cover;
} */

p{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    line-height: 1.5;
}

.image-container img{
    display: none;
    border-radius: 8px;
}

.text-container p{
    display: none;
    border-radius: 8px;
}
    
.image-container img.image-active{
    display: block;
    width: 100%;
    height: 700px;
}

.text-container p.image-active{
    display: block;
    width: 100%;
    height: 700px;
    color: white;
}