.carouselMain{
display: flex;
flex-flow: row;
/* flex-wrap: wrap; */
justify-content: space-evenly;
flex-direction: column;
position: relative;
flex-direction: row;
width: auto;
margin: auto;
margin-top: 50px;
}

.image-container {
    position: relative;
    /* margin: auto; */
    text-align: center;
    transform: scale(80%,80%);
    min-width:  300px;
    min-height: 50%;
    /* width:50%; */
    /* height: 700px;
    width: 500px; */
    /* border-radius: 50px; */
    /* box-shadow: 0 6px 12px #dce1e1; */
}

.text-container{
    margin-top: 80px;
    width:50%;
    display:flex;
}

/* img{
    width: 500px;
    height: 700px;
    border-radius: 8px;
    object-fit: cover;
} */

p{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    line-height: 1.5;
}

.image-container img{
    display: none;
    border-radius: 8px;
}

.text-container p{
    display: none;
    border-radius: 8px;
}
    
.image-container img.image-active{
    display: block;
    width: 100%;
    height: 700px;
}

.text-container p.image-active{
    display: block;
    width: 100%;
    height: 700px;
    color: white;
}