<div class="appContainer">


<nav>
  <mat-toolbar class="navBar" id="navbar">
    <a class="logoSpan" href="/">
      <div class="logoImage">
        <img class="logo" src="assets/Images/ProjectLogo.svg"
         alt="Hugh-Jackedman-Logo" routerLink="/home">
      </div>
    </a>
    
    <span class="spacer"></span>
    <label id="hamburger" for="toggle" (mouseenter)="onMenuMouseEnter()" (mouseleave)="onMenuMouseLeaveHamburger()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <input type="checkbox" id="toggle" #toggle (change)="menuToggle()">

    <div class="menu" id="menu" (mouseenter)="onMenuMouseEnter()" (mouseleave)="onMenuMouseLeave()" (click)="clearMenu()">

      <h6 class="navBarText" routerLink="/home">Home</h6>

      <h6 *ngIf="!userIsLoggedIn" class="navBarText" routerLink="/sign-up">Sign Up</h6>
      <h6 *ngIf="!userIsLoggedIn" class="navBarText" routerLink="/login">Log In</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" [routerLink]="['/content/', UserId]">Workouts</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" [routerLink]="['/profile/', UserId]">Profile</h6>

      <h6 class="navBarText" routerLink="/about" >About</h6>

      <h6 class="navBarText" routerLink="/contact">Contact</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" routerLink="/store">Store</h6>
      <h6 *ngIf="userIsLoggedIn && cartQuantity>=1" class="navBarText" routerLink="/cart">Cart <span class="reddot">{{cartQuantity}}</span></h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" (click)="logOut()" routerLink="/home" >Log Out</h6>


      <!-- <form class="form" *ngIf="viewSearchBar" #form="ngForm">
        <input class="formSearch" id="mySearch" name="search" type="input" placeholder="Enter to Search"
          aria-label="Search" (keyup.enter)="search(searchString)">
      </form>
      <mat-icon *ngIf="viewSearchBar" (click)="search(searchString)" mat-icon>search</mat-icon>
      <mat-icon (click)="toggleSearch()" *ngIf="viewSearchBar===false">search</mat-icon> -->
    </div>
  </mat-toolbar>
</nav>

<div class="content">
<router-outlet></router-outlet>
</div>

<div class="footerContainer">
  <footer>
    <p><strong> Superlative Life LLC. </strong> <strong> © Copyright 2024</strong></p>
    <p class="footer">Privacy Policy | Careers | Terms Of Use </p>
  </footer>
</div>

</div>

