nav {
  padding-top: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 4;
}

.navBar {
  border-radius: 6px;
  background-color: #C7FF20;
  height: 50px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Effect when navbar turns black */
.navBar.black {
  background-color: black !important;
  color: white !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navBar .navBarText.black {
  color: white !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navBar.black .logo {
  filter: invert(1) brightness(10000%) contrast(100%);
  transition: filter 0.3s ease-in-out;
}
/* End */

.spacer {
  flex: 1 1 auto;
}

.navBarText {
  font-family: 'Outfit', sans-serif;
  font-size: smaller;
  padding: 0 6px 0 6px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.menu {
  display: flex;
  align-items: center;
  z-index: 100;
}

mat-icon {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h6:hover {
  text-shadow: 0 0 7px #71BBF5;
  cursor: pointer;
}

mat-icon:hover {
  color: #71BBF5;
}

img.logo{
  transform: scale(90%,90%);
}

.logoImage{
    width: 13rem;
    height: 4rem;
    margin-top: 23px;
    cursor: pointer;
}

#mySearch {
  border-radius: 3px;
  margin-right: 2px;
  border-color: black;
  background-color: #C7FF20;
  padding-top: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.formSearch {
  padding-bottom: 3px;
  margin-left: 5px;
}

.form {
  margin-bottom: 3px;
}

label {

  display: none;
}

/* hamburger icon */

#toggle {
  display: none;
}


/* Makes Nav Flexible */

@media screen and (min-width: 500px) and (max-width: 850px) {
nav{
  width: 94vw;
}

  label {
    display: block;
    cursor: pointer;
    font-size: 26px;
    width: 40px;
    padding-bottom: 4px;
    float:left;
  }

  .menu {
    position: absolute;
    text-align: center;
    width: 200px;
    display: none;
    clear: right;
    z-index: 100;
    right: 0;
  }

  .menu {
    margin-top: 65px;
    margin-right: 1px;
    color: Black;
    background-color: #C7FF20;
    opacity: 90%;
    border-radius: 6px; 
  }

  #toggle:checked + .menu {
    display: flex; flex-direction: column;
    position: absolute;
    top: 0;
  }

  
}

/* Footer Starts Here */

.footerContainer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #C7FF20;
  font-size: smaller;
  height: 70px;
  margin-bottom: -100px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 10px;
}

.footer {
  cursor: pointer;
}
.reddot {
  border-radius: 100em;
  border-style: hidden;
  background-color: white;
  padding: .1em 0.45em;
}

::placeholder {
  text-align: center;
}