.maxContainer{
  height: auto;
  width: auto;
  max-width: 3000px;
  margin: auto;
}

.videoBackground{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  max-width: 3000px;
  margin: auto;
}

/* Banner One Styling */

.banner {
  position: relative;
  margin-top: -80px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.textContainer {
  display: inline-flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 100rem;
}

.heading {
  font-family: "Outfit", sans-serif;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 5vw;
  margin: 0;
  padding: 0;
}

/* .headingContd {
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin: auto;
  justify-content: center;
  color: white;
  font-size: 5vw;
  margin: 0 0 0 -5px;
  padding: 0;
} */

.overlayTwo {
  position: absolute;
  top:170%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.startHere {
  display: inline;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 1.2vw;
  border: solid;
  border-radius: 0.3vw;
  width: 7vw;
  padding: 0.55vw;
  animation: pulse 0.25s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes pulse {
  from {
    font-weight: 300;
  }

  to {
    font-weight: 600;
  }
}

.startHere:hover {
  color: #c7ff20;
  border-color: #c7ff20;
  cursor: pointer;
}

/* Beginning of Banner Two Styling */

.bannerTwo {
  height: 105vh;
  /* max-height: 130vh; */
  margin: auto;
  background: url("src/assets/Images/Edit-steven-erixon-FxlYmu_To7o-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}

.textOverlay {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  /* padding-top: 60px; */
  font-size:  10rem;
  font-weight: 400;
  line-height: 20vw;
  color: white;
  text-align: center;
}

/* Beginning of Banner Three Styling */

.bannerThree {
  height: 100vh;
  width: 100%;
  background-color: #c7ff20;
  min-height: 100vh;
}

.containerOne {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  height: 100vh;
  width: auto;
  max-width: 3000px;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.card {
  height: 700px;
  max-height: 800px;
  aspect-ratio: 3/2.5;
  width: 500px;
  max-width: 600px;
  background-image: url("/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 8px;
}

.cardText {
  font-size: 30px;
  margin: auto;
  color: black;
  line-height: 1.5;
  padding-bottom: 190px;
}

.nutritionText {
  width: 35%;
}

/* Beginning of Banner Four Styling */

.bannerFour {
  height: 100vh;
  width: 100%;
  background-color: #c7ff20;
  min-height: 100vh;
}

.containerTwo {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  height: 100vh;
  width: auto;
  max-width: 3000px;
  position: relative;
  flex-direction: row;
  align-content: center;
}

.cardTwo {
  height: 700px;
  max-height: 800px;
  width: 500px;
  max-width: 600px;
  aspect-ratio: 3/2.5;
  overflow: hidden;
  border-radius: 8px;
  /* padding-right: 20px; */
}

.cardTextTwo {
  font-size: 30px;
  margin: auto;
  color: black;
  line-height: 1.5;
  padding-top: 10rem;
  /* padding-right: 100px; */
}

.workoutText {
  width: 35%;
}

.label {
  display: flex;
}

#toggleView {
  display: none;
}

label {
  display: none;
}

#toggle {
  display: none;
}

/* Beginning of Banner Five Styling */

.bannerFive {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 120vh;
  width: 100%;
  max-width: 3000px;
  background: black;
  margin: auto;
}

.carouselHeading {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-family: "Outfit", sans-serif;
  margin-top: 120px;
  color: white;
  font-size: 70px;
  height: 3vw;
}

/* Media Queries */

@media screen and (min-width: 300px) and (max-width: 1080px) {

  .banner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .videoBackground {
    object-fit: cover;
    height: 100vh;
    overflow: hidden;
  }

  .overlay {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .overlayTwo {
    top: 200%;
    transform: translate(-50%, -50%);
  }

  .startHere {
    display: inline;
    font-family: "Outfit", sans-serif;
    color: white;
    font-size: 1.3rem;
    border: solid;
    border-radius: 0.3rem;
    margin-top: 0;
    width: 6rem;
    padding: 1vw;
    cursor: pointer;
  }

  .bannerTwo {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:50rem;
  }

  .heading {
    font-size: 3rem;
  }

  /* .headingContd {
    font-size: 3rem;
  } */

  .textOverlay {
    /* position: absolute; */
    padding: 200px 0 200px 0;
    width: 100%;
    font-size: 4rem;
    line-height: 5rem;
  }

  .containerOne {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    padding-top: 70px;
    margin-bottom: 10rem;
  }

  .card {
    transform: scale(80%, 80%);
    width: auto;
    min-width: 250px;
    max-width: 500px;
    height: auto;
    min-height: 600px;
    max-height: 650px;
  }

  .nutritionText {
    padding-bottom: 0;
    padding-left: 10px;
    text-align: left;
    width: 75%;
    margin-top: -50px;
  }

  .cardText{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-right: 0;
    /* padding-left: 5rem; */
    margin-top: 3rem;
    width: auto;
  }

  .bannerFour {
    height: 120vh;
    min-height: 120vh;
    padding-top: 10rem;
  }

  .containerTwo {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 80vh;
  }

  .cardTwo {
    transform: scale(80%, 80%);
    width: auto;
    min-width: 250px;
    max-width: 500px;
    height: auto;
    min-height: 600px;
    max-height: 650px;
    margin-top: 300px;
  }

  .workoutText {
    padding-bottom: 0;
    padding-left: 10px;
    text-align: left;
    width: 75%;
    margin-top: -50px;
  }

  .cardTextTwo {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-right: 0;
    margin-top: 3rem;
  }

  .label {
    display: none;
  }

  #toggleView {
    display: none;
  }

  label {
    display: flex;
  }

  #toggle {
    display: none;
  }

  .bannerFive {
    height: 150vh;
    padding-top: 15rem;
  }

  .carouselHeading {
    font-size: 4rem;
    z-index: 1;
    top: 1rem;
    left: 0;
    right: 0;
    /* margin-top: 100px; */
    width: 100%;
    height: 15vw;
    margin-bottom: 10rem;
    line-height: 3rem;
  }
}
