<mat-card class="step-three">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Finishing up</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2">Double-check everything looks okay before confirming.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <table>
        <th>
          <tr>
            <div class="type">{{planDetails.plan | titlecase}} ({{planDetails.billing === 'yearly' ? 'yearly' : 'monthly' | titlecase}})
              <button mat-button class="btn-change"
                      (click)="changePlan()">Change</button>
            </div>
            <div class="cost">${{planDetails.planCost}}/{{planDetails.billing === 'yearly' ? 'yr' : 'mo'}}</div>
          </tr>
        </th>
        <mat-divider></mat-divider>
      </table>
  
      <div class="total">
        <div>Total (per {{planDetails.billing === 'yearly' ? 'year' : 'month'}})</div>
        <div class="cost summary">${{planDetails.totalCost }}/{{planDetails.billing === 'yearly' ? 'yr' :
          'mo'}} 
          <!-- <p class="cardOnFile" *ngIf="tierTwoThree">*Charged to the Card on file</p> -->
          <p class="cardOnFile" *ngIf="tierTwoThree !== undefined && tierTwoThree && planDetails.plan !== 'Just Looking'">*Charged to the Card on file</p>
        </div>
      </div>
  
    </mat-card-content>
  </mat-card>