* {
  font-family: 'Outfit', sans-serif;
  }

  mat-card{
    /* display: flex;
    flex-direction: column;
    width: 100%; */
    /* max-width: 32.8rem;
    height: auto;
    max-height: 26rem; */
    width: 32.8rem;
    max-width: 700px;
    height: 26rem;
    margin-left: 0.6rem;

  }

span {
  display: contents;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0;
}

mat-card-content{
  height: 16rem;
}

table {
  height: fit-content;
  margin: 2rem auto 2rem auto;
  padding: 1.3rem;
  width: 100%;
  max-width: 32.8rem;
  background-color: rgb(231, 230, 230);
  border-radius: .5rem;
}

mat-divider {
  color: rgb(0, 0, 0);
  height: 0.125rem;
  width: 100%;
  border-radius: 0;
  opacity: .2;
}

.mat-card-content {
  height: fit-content;
}

th {
  height: 4rem;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  min-width: 31rem;
  /* min-width: 0; */
  max-width: 31rem;
}

.type {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 3rem;
  font-size: larger;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
}

button {
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  letter-spacing: 0;
}

.btn-change:hover {
  color: rgb(0, 0, 0);
}

.cost {
  font-size: 0.875rem;
}

.costSummary{
  font-size: 0.875rem;
  display: inline-flex;
}

.cardOnFile{
  font-weight: 500;
  font-size: 0.8rem;
}

div.cost{
  width: 9.3rem;
}

div.cost.summary{
  width: 12rem;
}

.total {
  width: 100%;
  padding: 0 0 2rem 0.5rem;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.total .cost {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}


@media (min-width: 37.5em) {

  /* 30.5em */

  table {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 30.7rem;
    /* width: 30.7rem; */
  }

  th {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .type {
    height: auto;
  }

  button {
    margin-top: .5rem;
    padding: 1rem;
  }

  tr {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 939px) and (max-width: 1300px){

  mat-card{
    /* width: 27rem; */
    width: auto;
    height: 26rem;
    max-height: 27rem;
    /* overflow: hidden; */
  }

  mat-card-header {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  
  tr {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: row;
    height: fit-content;
    /* width: auto; */
    width: 100%;
    /* min-width: 9rem; */
    min-width: clamp(20rem, calc(5rem + 22.5vw), 27rem);
    /* max-width: 31rem; */
  }

  div.cost{
    width: auto;
    max-width: 9.3rem;
  }

}

@media screen and (min-width: 0px) and (max-width: 938px) {

mat-card{
  height: 25rem;
  width: 100%;
}

mat-card-header {
  margin: 0;
  padding: 0.5rem;
}

/* mat-card-header{
  padding: 0.5rem 0 0 1rem;
} */

mat-card-subtitle{
  display: none;
}

.step-three{
  /* margin-top: 0; */
  /* padding-top: 0; */
  margin: auto;
  /* width: 98%; */
  width: 99%;
  /* min-width: 20rem; */
  max-width: clamp(20rem, 80vw, 22rem); 
  /* padding-right: 2rem; */
  /* margin-left: auto;
  margin-right: auto; */
}

table {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 1rem 1rem 0.8rem;
  /* min-width: 2rem; */
}

tr {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  /* align-items: flex-start; */
  height: 100%;
  width: 100%;
  min-width: clamp(18rem, 80vw, 21rem);
  max-width: auto;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  /* margin: auto; */
}

.cost{
  font-size: 0.8rem;
}

}
