.background {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 3000px;
  position: relative;
  margin: auto;
  /* overflow-y: scroll; */
}

.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
  width: fit-content;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

.videoBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center 10rem;
  z-index: 0;
}

.overlay {
  margin-right: 5rem;
  flex-direction: column;
  height: 100%;
  max-height: 550px;
}

.textContainer {
  display: inline-flex;
  margin: auto;
  text-align: center;
}

.welcome {
  font-family: "Outfit", sans-serif;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: clamp(3.5rem, 5vw, 5rem);
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

  &.firstVisitAnimation {
    animation: fade-in 1s linear;
    animation-fill-mode: both;
  

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 100;
    }
  }
}
}

.overlayTwo {
  padding: 1rem;
}

.otherText {
  font-family: "Outfit", sans-serif;
  height: 100%;
  max-height: 550px;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: clamp(3.5rem, 5vw, 5rem);
  margin-top: 1rem;
  // animation: zoomIn 0.25s;
  // animation-iteration-count: infinite;
  line-height: clamp(4rem, 5vw, 5rem);
  opacity: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

  &.firstVisitAnimation {
    animation: fade-in-two 1s linear;
    animation-delay: 1s;
    animation-fill-mode: both;

  @keyframes fade-in-two {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

&.skipVisitAnimation {
    opacity: 1;
}

}


.card {
  position: relative;
  background-color: transparent !important;
  box-shadow: none;
  height: 100%;
  max-height: 550px;
  width: 55vw;
  min-width: 20vw;
  max-width: 800px;
  border-radius: 1.4rem;
  opacity: 100%;
  // margin: auto auto auto 3rem;
}

.innerCardTwo {
  position: absolute;
  bottom: 2rem;
  right: 0;
  height: fit-content;
  max-height: 550px;
  width: fit-content;
  max-width: 800px;
  background-color: transparent !important;
  border-radius: 1.4rem;
  opacity: 100%;
}

.alreadyMemberText {
  position: absolute;
  bottom: 0.5rem;
  right: 20%;
  cursor: pointer;
  padding: 0;
  z-index: 100;
  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

.alreadyMemberText p {
  color: black;
}

.highlight {
  font-weight: bold;
  color: #c7ff20;
}

/* @media screen and (min-width: 1080px) and (max-width: 1367px) {

    .background {
        width: 100%;
        height: 100vh;
        margin-bottom: 20rem;
    }

    mat-card.card {
      margin: auto;
    }

    .videoBackground {
        object-fit: 100vh;
    }

    .card{
        margin-left: 0rem;
    }

    .container {
        flex-wrap: wrap;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        padding-top: 12rem;  
    }

    .overlay {
        margin-right: 0rem;
        text-align: center;
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .welcome {
        font-size: 5rem;
    }

    .otherText {
        font-size: 5rem;
        line-height: 5rem;
    }
} */

@media screen and (min-width: 872px) and (max-width: 1300px) {
  /* .card{
        width: auto;
        height: fit-content;
    }*/

  .innerCardTwo {
    width: auto;
    height: fit-content;
  }
}

@media screen and (min-width: 300px) and (max-width: 938px) {
  /* max-width: 892px */
  .videoBackground {
    height: 120vh;
    width: 100%;
  }

  .background {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .welcome,
  .otherText {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 20rem;
    box-sizing: border-box;
    transform: translate(-50%, 0%);
    margin: 0 auto 1rem auto;
    /* padding: 0 20px; */
  }

  .overlay {
    text-align: center;
    margin: 5rem auto 15rem auto;
  }

  mat-card.card {
    max-width: 32rem;
    width: 90%;
    margin: 1rem auto;
    box-sizing: border-box;
    /* left: 0;
        right: 0; */
    /* right: auto; */
  }

  .card {
    height: 45rem;
    width: 90%;

    /* height: auto;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box; */
  }

  .innerCardTwo {
    height: 46rem;
    max-height: 800px;
    width: 100%;
    min-width: 20rem;
    max-width: 25rem;
    right: auto;
    /* left: 0; */
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: auto;
        margin-right: auto; */
    background-color: transparent !important;
    opacity: 100%;
    box-sizing: border-box;
  }

  .alreadyMemberText {
    position: absolute;
    top: auto;
    right: auto;
    left: 23%;
    bottom: 0.1%;
    /* right: 0; */
    cursor: pointer;
    padding: 0;
    z-index: 100;
  }
}
