* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    margin-top: -10rem;
    overflow-x: hidden;
    height: 100vh;
}

.cardFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productContainer {
    margin: auto;
    width: 70rem;
    height: 40rem;
    background-color: white;
    margin-top: 15rem;
    border-radius: 10px;
}

.productImage{
    height: 38rem;
    width: 40rem;
    background-size: cover;
    border-radius: 8px;
}

.productInfo{
    position: relative;
    padding-top: 2rem;
    height: 30rem;
    width: 28rem;
    background-size: cover;
    border-radius: 8px;
}


p.name{
    margin-left: 2rem;
    font-size: 6rem;
    font-weight: 500;
    height: 5rem;
    line-height: 2rem;
}

p.price{
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 6rem;
    line-height: 3rem;
}

.productDescriptionContainer{
    margin-left: 2rem;
    margin-top: 5rem;
    height: fit-content;
}

.descriptionTitle{
    font-weight: 500;
    font-size: 2rem;
}

.productDescriptionLorem{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.buttonContainer{
    position: absolute;
    top: 101.5%;
    bottom: 0;
    width: 28rem;
}

.addToCartButton, .viewCartButton {
    margin-left: 2rem;
    margin-top: 3.3rem;
    background-color: rgb(255, 255, 255) !important;
}

.viewCartButton{
    padding: 0 1rem 0 1rem;
}

.backButton{
letter-spacing: 1px;
margin-left: 2rem;
margin-top: 3.3rem;
background-color: rgb(255, 255, 255) !important;
}

.addToCartButton:hover, .viewCartButton:hover, .backButton:hover{
    color: white !important;
    background-color: rgb(0, 0, 0) !important;
}
