<ng-container [formGroup]="stepForm">
    <mat-card class="step-four">
      <mat-card-header>
        <mat-card-title-group class="title">
          <mat-card-title role="heading"
                          aria-level="1">Payment Details</mat-card-title>
          <mat-card-subtitle role="heading"
                             aria-level="2"
                             role="heading"
                             aria-level="2">Please Enter Your Payment Details</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="form-controls">
      <div class="nameCredit">
        <!-- name on card input -->
        <div>
          <div class="input-details-name">
            <label for="name" [ngStyle]="getLabelStyle('nameOnCard')">Name on Card</label>
            <label for="error"
                   id="error"
                   *ngIf="shouldShowError('nameOnCard')"
                   class="error-alert">{{getErrorMessage('nameOnCard')}}</label>
          </div>
          <input type="text"
                 matInput
                 name="nameOnCard"
                 id="nameOnCard"
                 [ngStyle]="getInputStyle('nameOnCard')"
                 [ngClass]="{'error-input': shouldShowError('nameOnCard')}"
                 placeholder="Aye Wantobejacked" 
                 formControlName="nameOnCard"
                 trimOnBlur
                 (blur)="onInputBlur('nameOnCard')"
                 required>
        </div>
        <!-- credit card number input -->
        <div>
        <div class="input-details-cc">
          <label for="ccNumber" [ngStyle]="getLabelStyle('ccNumber')">Card Number</label>
          <label for="error"
                 *ngIf="shouldShowError('ccNumber')"
                 class="error-alert">{{getErrorMessage('ccNumber')}}</label>
        </div>
        <input type="tel"
               matInput
               name="ccNumber"
               id="ccNumber"
               maxlength="19"
               pattern="[0-9\s]{13,19}"
               inputmode="numeric"
               placeholder="xxxx xxxx xxxx xxxx"
               [ngStyle]="getInputStyle('ccNumber')"
               [ngClass]="{'error-input': shouldShowError('ccNumber')}"
               formControlName="ccNumber"
               (blur)="hideCreditCardNumber()"
               (focus)="showCreditCardNumber()"
               required>
        </div>
      </div>
      <div class="expCvvZip">
      <!-- expiration date input -->
        <div>
        <div class="input-details-exp">
          <label for="expiration" [ngStyle]="getLabelStyle('expDate')">Exp.</label>
          <!-- <label for="error"
                 *ngIf="this.stepForm.controls['expDate'].invalid && this.stepForm.controls['expDate'].touched"
                 class="error-alert">Invalid</label> -->
          <!-- <label for="error" 
                  *ngIf="stepForm.get('expDate')!.invalid && stepForm.get('expDate')?.touched && !stepForm.get('expDate')?.hasError('expiredDate')" class="error-alert">
                  Invalid</label>    -->
          <label for="error" 
                  *ngIf="shouldShowError('expDate')"
                  class="error-alert">{{getErrorMessage('expDate')}}</label>    
        </div>
        <input type="tel"
              matInput
              name="expDate"
              maxlength="5"
              id="expDate"
              placeholder="01/25" 
              formControlName="expDate"
              [ngStyle]="getInputStyle('expDate')"
              [ngClass]="{'error-input': shouldShowError('expDate')}"
              (input)="formatExpirationDate($event)"
              (blur)="onInputBlur('expDate'); checkExpirationDate()"
              required>
       </div>
       <!-- cvv number input -->
       <div>
        <div class="input-details-cvv">
          <label for="cvv" [ngStyle]="getLabelStyle('cvv')">CVV</label>
          <label for="error"
                   *ngIf="shouldShowError('cvv')"
                   class="error-alert">{{getErrorMessage('cvv')}}</label>
        </div>
        <input type="tel"
               matInput
               name="cvv"
               id="cvv"
               maxlength="3"
               placeholder="000"
               [ngStyle]="getInputStyle('cvv')"
               [ngClass]="{'error-input': shouldShowError('cvv')}"
               formControlName="cvv"
               required>
        </div>
      <!-- zipcode input -->
      <div>
        <div class="input-details-zip">
        <label 
          for="zipcode"  
          [ngStyle]="getLabelStyle('zipCode')"
          [ngClass]="{'label-zipcode': true}">
          Zipcode
        </label>
        
        <label 
          for="zipcode" 
          [ngStyle]="getLabelStyle('zipCode')"
          [ngClass]="{'label-zip': true}">
          Zip
        </label>
        <label for="error"
          *ngIf="shouldShowError('zipCode')"
          class="error-alert">{{getErrorMessage('zipCode')}}</label>
        </div>
        <input type="tel"
               matInput
               name="zipcode"
               id="zipCode"
               maxlength="5"
               placeholder="12345"
               [ngStyle]="getInputStyle('zipCode')"
               [ngClass]="{'error-input': shouldShowError('zipCode')}"
               formControlName="zipCode"
               required>
      </div>
    </div>
    <!-- Billing & Zipcode input -->
    <div class="billingZip">
      <div>
      <div class="input-details-billing">
        <label for="billingAddress" [ngStyle]="getLabelStyle('billingAddress')">Billing Address</label>
        <label for="error"
          *ngIf="shouldShowError('billingAddress')"
          class="error-alert">{{getErrorMessage('billingAddress')}}</label>
      </div>
      <input type="text"
             matInput
             name="billingAddress"
             id="billingAddress"
             maxlength="30"
             placeholder="1221 Mount Bicepius Street, Minnesota"
             [ngStyle]="getInputStyle('billingAddress')"
             [ngClass]="{'error-input': shouldShowError('billingAddress')}"
             trimOnBlur
             (blur)="onInputBlur('billingAddress')"
             formControlName="billingAddress"
             required>
      </div>
      <!-- zipcode input -->
      <div>
        <div class="input-details-billing-zip">
          <label 
          for="zipcodeBilling"  
          [ngStyle]="getLabelStyle('billingZip')"
          [ngClass]="{'label-zipcode': true}">
          Zipcode
        </label>
        
        <label 
          for="zipcodeBilling" 
          [ngStyle]="getLabelStyle('billingZip')"
          [ngClass]="{'label-zip': true}">
          Zip
        </label>
        <label for="error"
                   *ngIf="shouldShowError('billingZip')"
                   class="error-alert">{{getErrorMessage('billingZip')}}</label>
        </div>
        <input type="tel"
               matInput
               name="zipcodeBilling"
               id="zipCodeBilling"
               maxlength="5"
               placeholder="12345"
               [ngStyle]="getInputStyle('billingZip')"
               [ngClass]="{'error-input': shouldShowError('billingZip')}"
               (blur)="onInputBlur('billingZip')"
               formControlName="billingZip"
               required>
      </div>  
    </div>
   

    <!-- Shipping & Zipcode input -->
    <div class="shippingZip" *ngIf="showShipping">
      <div>
      <div class="input-details-shipping">
        <label for="billingAddress" [ngStyle]="getLabelStyle('billingAddress')">Shipping Address</label>
        <label for="error"
               *ngIf="shouldShowError('billingAddress')"
               class="error-alert">{{getErrorMessage('shippingAddress')}}</label>
      </div>
      <input type="text"
             name="shippingAddress"
             id="shippingAddress"
             maxlength="30"
             placeholder="777 Lattismus Dorsi Blvd, Wyoming"
             [ngStyle]="getInputStyle('shippingAddress')"
             [ngClass]="{'error-input': shouldShowError('shippingAddress')}"
             trimOnBlur
             formControlName="shippingAddress"
             required>
      </div>
      <!-- zipcode input -->
      <div>
        <div class="input-details-zip-shipping">
        <label 
          for="zipcodeShipping"  
          [ngStyle]="getLabelStyle('shippingZip')"
          [ngClass]="{'label-zipcode': true}">
          Zipcode
        </label>
        <label 
          for="zipcodeShipping" 
          [ngStyle]="getLabelStyle('shippingZip')"
          [ngClass]="{'label-zip': true}">
          Zip
        </label>
        <label for="error"
                   *ngIf="shouldShowError('shippingZip')"
                   class="error-alert">{{getErrorMessage('shippingZip')}}</label>
        </div>
        <input type="tel"
               matInput
               name="zipcodeShipping"
               id="zipCodeShipping"
               maxlength="5"
               placeholder="12345"
               [ngStyle]="getInputStyle('shippingZip')"
               [ngClass]="{'error-input': shouldShowError('shippingZip')}"
               formControlName="shippingZip"
               required>
      </div>   
    </div>
    <!-- Show Shipping Address Field Toggle -->
    <mat-slide-toggle 
    class="shippingToggle"
    [checked]="isChecked"
    (change)="toggleShipping()"
    *ngIf="shipping">
    Shipping Address same as Billing Address
    </mat-slide-toggle> 
      </mat-card-content>
    </mat-card>
  </ng-container>