



<div>
  <h1>Interested</h1>
<div *ngFor="let video of iVideos" >
    <div >
      <div >
        <iframe width="560" height="315" [src]="video.sanitizedURL" frameborder="0" allowfullscreen></iframe>
      </div>
      <div >
        <h5 class="card-title mb-0">
          <a [href]="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">{{ video.snippet.title }}</a>
        </h5>
      </div>
    </div>
  </div>
</div>  

<div *ngIf="currentUser?.tier === 'motivated' || currentUser?.tier === 'allin'">
  <h1>Motivated</h1>
<div *ngFor="let video of mVideos" >
    <div >
      <div >
        <iframe width="560" height="315" [src]="video.sanitizedURL" frameborder="0" allowfullscreen></iframe>
      </div>
      <div >
        <h5 class="card-title mb-0">
          <a [href]="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">{{ video.snippet.title }}</a>
        </h5>
      </div>
    </div>
  </div>
</div>  

<div *ngIf="currentUser?.tier === 'allin'">
  <h1>All In</h1>
<div *ngFor="let video of aVideos" >
    <div >
      <div >
        <iframe width="560" height="315" [src]="video.sanitizedURL" frameborder="0" allowfullscreen></iframe>
      </div>
      <div >
        <h5 class="card-title mb-0">
          <a [href]="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">{{ video.snippet.title }}</a>
        </h5>
      </div>
    </div>
  </div>
</div>  


