<ng-container [formGroup]="stepForm">
    <mat-card class="step-one">
      <mat-card-header>
        <mat-card-title-group class="title">
          <mat-card-title role="heading"
                          aria-level="1">Personal Info</mat-card-title>
          <mat-card-subtitle role="heading"
                             aria-level="2"
                             role="heading"
                             aria-level="2">Please provide your name and email address, and phone number.</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="form-controls">
        <!-- name input -->
        <div class="input-details focusedInput">
          <label class="label" for="name">Name</label>
          <label for="error"
                 id="error"
                 *ngIf="this.stepForm.controls['name']?.invalid && this.stepForm.controls['name'].touched"
                 class="error-alert">Name is required</label>
        </div>
        <input type="text"
               matInput
               name="name"
               id="name"
               placeholder="Hugh Jackedman" 
               formControlName="name"
               required>
        <!-- email input -->
        <div class="input-details focusedInput">
          <label class="label" for="email">Email Address</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['email']?.invalid && this.stepForm.controls['email'].touched && !this.stepForm.get('email')?.hasError('emailExists')"
                 class="error-alert">Email is required</label>
           <label for="error"
                 *ngIf="this.stepForm.get('email')?.hasError('emailExists')"
                 class="error-alert">Email already exists</label>      
        </div>
        <input type="text"
               matInput
               name="email"
               id="email"
               placeholder="hugh@hughjackedman.com"
               formControlName="email"
               (blur)="checkEmail()"
               required>
      <!-- password input -->
       <div>
        <div class="input-details focusedInput passwordRelative">
          <label class="label" for="password">Password</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['password'].invalid && this.stepForm.controls['password'].touched && !this.passwordMismatch"
                 class="error-alert">{{getPasswordErrorMessage()}}</label>
          <!-- <label for="error"
                 *ngIf="stepForm.controls['password'].hasError('pattern') && stepForm.controls['password'].touched && !passwordMismatch"
                 class="error-alert">Requirements not met</label> -->
          <label for="error"
                 *ngIf="passwordMismatch && stepForm.get('confirmPassword')?.touched"
                 class="error-alert">Passwords do not match</label>
          <div class="popup" *ngIf="isPopupVisible">
              <p>Password must:</p>
              <ul>
                     <li>Be at least 8 characters long</li>
                     <li>Contain at least one uppercase letter</li>
                     <li>Contain at least one lowercase letter</li>
                     <li>Contain at least one number</li>
                     <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
              </ul>
         </div>
        </div>
        <div class="passwordInput">
        <input type="password"
               matInput
               name="password"
               id="password"
               (focus)="showPasswordPopup()"
               (blur)="hidePasswordPopup(); checkPasswords()"
               placeholder="Enter Password"
               formControlName="password"
               required>
               <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
        </div>
       </div>
       <!-- </div> -->
      <!-- confirm password -->
      <div class="input-details-confirm focusedInput">
        <label class="label" for="password">Confirm Password</label>
        <!-- <label for="error"
               *ngIf="this.stepForm.controls['password'].invalid &&this.stepForm.controls['confirmPassword'].touched && !this.passwordMismatch"
               class="error-alert">Password is required</label> -->
       <label for="error"
               *ngIf="this.stepForm.controls['confirmPassword'].invalid && this.stepForm.controls['confirmPassword'].touched && !this.passwordMismatch"
               class="error-alert">{{getConfirmPasswordErrorMessage()}}</label>       
        <label for="error"
               *ngIf="passwordMismatch && stepForm.get('confirmPassword')?.touched"
               class="error-alert">Passwords do not match</label>
               <!-- -->
      </div>
      <div class="passwordInput">
      <input type="password"
             matInput
             name="confirmPassword"
             id="confirmPassword"
             (focus)="showPasswordPopup()"
             (blur)="hidePasswordPopup(); checkPasswords()"
             placeholder="Confirm Password"
             formControlName="confirmPassword"
             (copy)="preventCopyPaste($event)"
             (cut)="preventCopyPaste($event)" 
             (paste)="preventCopyPaste($event)"
             required>
             <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
       </div>
        <!-- <p id="showHide" appShowHidePassword [targetInputs]="['#password', '#confirmPassword']" style="cursor: pointer;">Show Password</p>      -->
      
        <div class="divider">
              <span>OR</span>
       </div>
       
             <!-- <button class="googleLoginButton" data-testid="login-with-google">
              <img alt="" loading="lazy" width="16" height="16" decoding="async" data-nimg="1" src="/assets/Images/google_logo.svg" style="color: transparent;">
              Continue with Google
             </button> -->
       
             <div class="socialContainer">
                     <!-- <button class="btn-google">
                            <svg class="google-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"/>
                            <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"/>
                            <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"/>
                            <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"/>
                            </svg>
                            Continue with Google
                     </button> -->

              <button (click)="onClickGoogle()" [disabled]="isLoadingGoogle" class="btn-google">
                     <ng-container *ngIf="!isLoadingGoogle">
                            <svg class="google-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"/>
                                   <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"/>
                                   <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"/>
                                   <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"/>
                            </svg>
                     Continue with Google
                     </ng-container>
                     <ng-container *ngIf="isLoadingGoogle">
                            <svg class="spinner Google" viewBox="0 0 50 50">
                                   <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5" ></circle>
                            </svg>
                     Loading...
                     </ng-container>
              </button>

              <button (click)="onClickApple()" [disabled]="isLoadingApple" class="btn-apple">
                     <ng-container *ngIf="!isLoadingApple">
                            <svg class="apple-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.81-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z"/>
                            </svg>
                     Continue with Apple
                     </ng-container>
                     <ng-container *ngIf="isLoadingApple">
                            <svg class="spinner Apple" viewBox="0 0 50 50">
                                   <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                            </svg>
                       Loading...
                     </ng-container>
              </button>
                     
                     
       
                     <!-- <button class="btn-apple">
                            <svg class="apple-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.81-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z"/>
                            </svg>
                            Continue with Apple
                     </button>  -->
              </div>
      
       </mat-card-content>

     

    </mat-card>
  </ng-container>


  