* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    /* background-color: rgb(218, 0, 0); */
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    height: fit-content;
    /* position: relative; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    
}

/* For First tier content */

.bannerFirstAndSecondTiers {
    position: absolute;
    top: 9%;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 2rem;
    width: 100%;
    /* margin-top: rem; */
    padding-bottom: 1rem;
    z-index: 2;
}

.bannerThirdTier {
    position: absolute;
    top: 9%;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 2rem;
    width: 100%;
    /* margin-top: rem; */
    padding-bottom: 1rem;
    z-index: 1;
    /* overflow:hidden; */
}

/* .bannerThirdTier {
    background-color: white;
    color: black;
    height: 2rem;
    width: 100%;
    padding: 1rem;
    z-index: 1;
} */

div#timer.bannerFirstAndSecondTiers, div#timerTierThree.bannerThirdTier{
    width: 100vw;
    max-width:100%;
    overflow-x: hidden;
    /* overflow: hidden; */
}

h1,
#timer,
#timerTierThree {
    font-weight: 500;
    text-align: center;
    font-size: 2vw;
    /* padding: 1rem; */
    padding-top: 1.7rem;
    /* padding-right: 5rem; */
}

h1.tierOneHeader {
    font-size: 5rem;
    text-align: left;
    color: white;
    padding-top: 2.5vw;
    padding-left: 1.2rem;
    /* font-weight: 400; */
    /* text-shadow: ; */
}

div.cardFirstTier {
    /* margin-top: ; */
    width: 100%;
    margin: 10rem auto;
}

.liveVideo {
    display: flex;
    margin-top: 5rem;
}

h1.liveVideoText {
    justify-content: center;
    font-size: 8rem;

    font-weight: 700;
    width: 10rem;
    line-height: 10rem;
    text-align: left;
    color: white;
    margin: auto;
    padding-top: 10rem;
    /* padding-bottom: 5rem; */
}

.liveVideoContainer {
    height: 30rem;
    width: 50rem;
    color: black;
    border-radius: 6px;
    /* justify-content: right; */
    margin: auto;
    margin-top: 10rem;
}

.cardContainer {
    height: fit-content;
    width: 80%;
    background-color: rgb(18, 17, 17);
    border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 0.8rem;
}

/* .cardVideos {
     padding: 1rem;
} */

mat-content {
    width: 100%;
    /* padding:1rem; */
}

.cardVideos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    color: black;
    /* border-radius: 6px; */
    margin-top: 3rem;
}

mat-card.cardVideosFirst {
    /* background-color: white; */
    width: 18rem;
    height: 12rem;
    margin: 2rem;
    /* padding: 1rem; */
}

/* .upgradeButtonContainer{
    position: relative; */
/* background-color: aqua; */
/* opacity: 0.8; */
/* top: 2.6%;
    z-index: 4;
} */

.btn-upgrade {
    position: absolute;
    right: 12%;
    top: 11%;
    padding: 0.5rem;
    border-radius: 6px;
    z-index: 3;
    cursor: pointer;
    font-weight: 600;
    background-color: white;
    border-color: rgb(165, 165, 165);
}

.btn:hover {
    background-color: #C7FF20;
    border-color: #C7FF20;
}

/* For tier Two and Three content */

div.cardSecondAndThirdTiers {
    margin-top: 10rem;
    position: relative;
}

.cardContainerTwo {
    position: relative;
    height: fit-content;
    width: 90%;
    background-color: rgb(18, 17, 17);
    border-radius: 1rem;
    padding-top: 1rem;
    margin: auto;
    margin-bottom: 10rem;
}

#payWall.active {
    border-radius: 6px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(4px);
}

fieldset{
        border-color: rgb(0, 0, 0);
        border-style: solid;
}

.contentCardOne,
.contentCardTwo,
.contentCardThree,
.contentCardFour,
.contentCardFive,
.contentCardSix {
    height: fit-content;
    width: 80%;
    background-color: rgb(2, 2, 2);
    /* border-radius: 10px; */
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* .contentCardTwo {
    height: fit-content;
    width: 80%;
    background-color: rgb(2, 2, 2);
    /* border-radius: 20px; */
/* margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem
} */

mat-card.contentCardTwo,
.contentCardThree,
.contentCardFour,
.contentCardFive,
.contentCardSix {
    margin-top: 8rem;
}

.flexCards.contentCardOne {
    margin-top: 3rem;
}

.flexCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    color: black;
    /* border-radius: 6px; */
    margin-top: 6rem;
}

mat-card.cardVideosSecondThird {
    /* background-color: white; */
    width: 23rem;
    height: 15rem;
    margin: 3rem;
    margin-top: 2rem;
    padding: 1rem;
}

.tierName {
    color: white;
    font-weight: 500;
    text-align: left;
    font-size: 7vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.cardHeaderYear,
.cardHeadertype {
    color: white;
    font-weight: 500;
    /* text-align: left; */
    font-size: 6.5vw;
    /* padding: 1rem; */
    padding-left: 0.8rem;
    padding-top: 4rem;
    width: 18rem;
    margin-left: 1rem;
    margin-right: 2.8rem;
}

.cardHeadertype {
    text-align: left;
    padding-left: 4.5rem;
    padding-bottom: 3rem;
    width: 100%;
}

div.upgradeContainer {
    height: 3rem;
}


.upgradeContainer {
   /* margin-top: 15%; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 0.2%;
    /* top: 0; */
    top:250;
    right: 4%;
    /* height: 3rem; */
    width: 25rem;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

/* .upgradeContainer #fixed{
    position: fixed;  
    top: 22%;
    width: 25rem;
    right: 4%;
    /* -webkit-appearance: none; */
  /* } */ 

/* #fixed{

} */

.smallerFont{
    font-size: 2rem;
    line-height: 0rem;
}

.upgradeTierText {
    color: white;
    font-size: 3rem;
    line-height: 2.9rem;
}

.btn-upgradeTierButton {
    /* position: fixed;
    right: 12%;
    top: 11%; */
    /* padding: 0.4rem; */
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    /* z-index: 4; */
    cursor: pointer;
    font-weight: 600;
    background-color: white;
    border-color: rgb(165, 165, 165);
}

.toggle-area {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(18, 17, 17);
    width: 24rem;
    /* height: rem; */
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
}

.toggle {
    padding-left: 1.8rem;
    width: 100%;
    /* width: 11.4rem; */
    /* @include variables.flexSpaceBetween(row); */
}

label {
    margin: 0 0.5rem 0 0.2rem;
    /* height: 1rem; */
    /* width: 3.4rem; */
    color: #6f6f6f;
    /* @include variables.body-primary-xs; */
    font-size: 1rem;
}

.checked {
    color: white;
}

.yearAndRecipes{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 4rem;
 } 

p.recipes {
color: white;
font-size: larger;
padding: 2rem 0rem 0 8rem ;
}

button.btn-recipes{
width: 15rem;
background-color: rgb(18, 17, 17);
color: white;
font-size: larger;
margin-left: 3rem;
margin-top: 2rem;
}

button.btn-recipes:hover{
background-color: white;
color: black;
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
    background-color: black;
  }
  
::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
    background-color: rgb(46, 46, 46) !important;
 }

/* ::ing-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__icon {
    fill: rgba(165, 165, 165);
} */
