<div class="bannerFirstAndSecondTiers" *ngIf="">
    <h1>Next Live Session in: Upgrade For Access!</h1>
</div>

<div class="bannerThirdTier" *ngIf="">
    <h1>Next Live Session in: Upgrade For Access!</h1>
</div>

<div class="cardFirstTier" *ngIf="">
    <mat-card class="cardOne">
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>

<div class="cardSecondAndThirdTiers" *ngIf="">
    <mat-card class="cardTwo">
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>


    