<div class="pageContainer">
        <mat-card class="cartContainer">
            <ng-container *ngIf="cart$ | async as cart">
                <h1 *ngIf="(!cart.items.length && !tierTwoThree) || cartStatic" class="pageName">Cart</h1>
        
                <mat-card-content class="cardFlex">
                    <ng-container *ngIf="cart.items.length; else emptyCart">
                      <div class="scroll">
                        <mat-card class="cards" *ngFor="let cartItem of cart.items; let i = index">
                            <div class="imageContainer" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                                <mat-card class="productImage" 
                                    [ngStyle]="{'background-image': 'url(' + cartItem.Product.productUrl + ')', 'background-size': 'cover', 'background-position': 'center center', 'background-repeat': 'no-repeat'}" 
                                    [routerLink]="['/store/product', cartItem.Product.productId]">
                                </mat-card>
                                <div class="largeImagePreview">
                                    <img [src]="cartItem.Product.productUrl" [alt]="cartItem.Product.productName">
                                </div>
                            </div>
                            <p class="name">{{cartItem.Product.productName}}</p>
                            <div class="quantity">
                                <fa-icon [icon]="['fas', 'minus']" 
                                         class="minus" 
                                         (click)="decrease(cartItem)"
                                         (mousedown)="onMouseDown('minus')"
                                         (mouseenter)="!isDisabled('minus', cartItem.quantity) && onMouseHover('minus')"
                                         (mouseup)="onMouseUp('minus')" 
                                         (mouseleave)="onMouseOff('minus')"
                                         [ngClass]="{
                                            'clicked': minusClicked,
                                            'disabled': isDisabled('minus', cartItem.quantity)
                                         }">
                                </fa-icon> 
                                <p class="quantity-value">{{cartItem.quantity}}</p>                                  
                                <fa-icon [icon]="['fas', 'plus']" 
                                         class="plus"
                                         (click)="increase(cartItem)"
                                         (mousedown)="onMouseDown('plus')"
                                         (mouseenter)="!isDisabled('plus', cartItem.quantity) && onMouseHover('plus')"
                                         (mouseup)="onMouseUp('plus')" 
                                         (mouseleave)="onMouseOff('plus')"
                                         [ngClass]="{
                                            'clicked': plusClicked,
                                            'disabled': isDisabled('plus', cartItem.quantity)
                                         }">
                                </fa-icon>
                            </div>
                            <div class="priceContainer">
                                <p class="price">${{(cartItem.Product.productPrice)*(cartItem.quantity) | priceFormat}}</p>
                            </div>
                            <div class="removeButton">
                                <button mat-button (click)="removeFromCart(cartItem)">
                                    Remove
                                </button>
                            </div>
                        </mat-card>
                    </div>

                        <div class="totalContainer">
                            <h1 class="totalText">Total:</h1>
                            <div class="totalPriceContainer">
                                <p class="totalPrice">${{ getFormattedTotal(cart.totalPrice).dollars }}.
                                    <sup>{{ getFormattedTotal(cart.totalPrice).cents }}</sup></p>
                            </div>
                        </div>
                    
                        <div class="buttonContainer">
                            <button mat-button class="buttonCheckOut" routerLink="/checkout">Checkout</button>
                        </div>
                    </ng-container>
                    
                    <ng-template #emptyCart>
                        <div class="emptyMessageContainer">
                            <p *ngIf="cart.items.length === 0" class="emptyMessage">Your cart is empty</p>
                        </div>
                    </ng-template>
                </mat-card-content>
            </ng-container>
        </mat-card>
</div>