* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 3000px;
    /* margin-top: -10rem; */
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    margin: auto;

}

.cartContainer{
    position: absolute;
    top:11%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto auto auto auto;
    width: 50rem;
    height: fit-content;
    padding-top: 5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 20px rgb(162, 162, 162);
}

.pageName{
    color: Black;
    font-weight: 500;
    text-align: left;
    font-size: 7rem;
    padding-left: 2rem;
    font-weight: 600; 
}

p.name{
    padding: 0.5rem 0 0rem 1rem;
    font-size: 2rem;
}

.productImage{
    width: 2.3rem;
    height: 2.3rem;
    box-shadow: none;
    cursor: pointer;
}

.cardFlex{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 3rem;
    position: relative;
    justify-content: center;
    padding:0 1.8rem;
}

.scroll{
    position: relative;
    overflow-y: scroll;
    height: 21rem;
    width: 100%;
    border-radius: 0.8rem;
    background-color: rgb(215, 215, 215);
    box-shadow: 0 0 10px 5px rgba(63, 63, 63, 0.5) inset ;
    padding-left: 0.5rem;

    &::-webkit-scrollbar {
        width:9px; 
        height: 10px;
        position: absolute;
        left: -5px !important;
        top: 20px; 
        bottom: 20px; 
        // padding-left: -2.2rem;
    }
  
      &::-webkit-scrollbar-thumb {
        margin-top: 20rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        background-color: #575757;
        border: 0px solid #575757;
        
      }
  
      &::-webkit-scrollbar-track {
        margin-top: 15px; 
        margin-bottom: 10px;
        margin-right: 5px;
        padding-right: 1rem !important;
      }
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-self: center;
    position: relative;
    /* background-color: rgb(236, 236, 236); */
    background-color: rgb(236, 236, 236);
    margin: 0.8rem 0 0.8rem 0;
    border-radius: 6px;
    width: 100%;
    max-width: 45.5rem;
    height: 3rem;
    padding: 0.4rem;
    /* box-shadow: 0 2px 10px rgb(169, 168, 168); */
    box-shadow: 0 0 5px rgb(120, 120, 120);
}

div.quantity{
    position: absolute;
    right: 15rem;
    top: 1rem;
}

select{
    cursor: pointer;
}

div.removeButton{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

div.priceContainer{
    position: absolute;
    /* margin-left: 10rem; */
    top: 1rem;
    right: 8rem;
}

p.price{
    font-size: 2rem;
    font-weight: 600;
}

h1.totalText{
    position: absolute;
    right: 10rem;
    /* top: 2rem; */
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
}

/* .totalButton{
    display: block;xf
} */

.totalContainer{
    position: relative;
    display:inline-flex;
    justify-content: right;
    /* margin-right: 4.5rem; */
}

.totalCountContainer{
    margin-top: 4rem;
    margin-right: 2rem;
}

p.totalCount{
    font-size: 1.3rem;
    font-weight: 500;
}

p.totalPrice{
    font-size: 3rem;
    font-weight: 500;
}

.totalPriceContainer{
    margin-top: 3.9rem;
}

.totalPrice sup {
    font-size: 0.7em; /* Reduce the font size */
    vertical-align: top; /* Align it closer to the top */
    line-height: 0; /* Reduce extra space */
    margin-left: -0.4em; /* Move it closer to the decimal point */
  }

button.buttonCheckOut{
    background-color: rgb(236, 236, 236);
    width: 12rem;

    /* display: block;
    justify-content: flex-end; */
    /* margin-left: 54rem; */
}

.buttonCheckOut:hover{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}

.buttonContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    /* margin-left: 12rem; */
}

div.emptyMessageContainer{
    padding-top: 5rem;
    text-align: center;
    margin: auto;
    padding-bottom: 10rem;
}

p.emptyMessage{
    font-size: 2rem;
}

div.thankYouMessage{
    margin-top: 2rem;
}

h1.thankYou{
    font-weight: 500;
}

p.payment{
    margin: auto;
    font-size: 1rem;
    width: 50%
}

::ng-deep select[matNativeControl] {
    border-color: #ffffff !important; /* Change the border color when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 0 1px #000000 !important; /* Add a shadow with the focus color */
    color: #000000 !important; /* Change the text color when focused */
    border-radius: 0.2rem !important;
  }



@media screen and (min-width: 500px) and (max-width: 1286px){

.cartContainer{
    height: fit-content;
    width: 50rem;
}

div.quantity{
    position:absolute;
    left: 28rem;
    top: 2rem;
}

div.removeButton{
    position: absolute;
    left: 42rem;
    top: 1.5rem;
}

div.priceContainer{
    position: absolute;
    margin-left: 10rem;
    top: 2rem;
    left: 25rem;
}

p.price{
    font-size: 2rem;
    font-weight: 600;
}

h1.totalText{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
}

.totalContainer{
    display:inline-flex;
    justify-content: right;
    margin-right: 7rem;
}

.totalCountContainer{
    margin-top: 4rem;
    margin-right: 2rem;
}

p.totalCount{
    font-size: 1.3rem;
    font-weight: 500;
}

p.totalPrice{
    font-size: 3rem;
    font-weight: 500;
}

.totalPriceContainer{
    margin-top: 3.9rem;
}

button.buttonCheckOut{
    display: inline-flex;
    background-color: rgb(236, 236, 236);
    width: 12rem;
    margin-left: 24rem;
}

}

