* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    margin-top: -80px;
    padding-top: 5rem;
    /* position: relative; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

.flexContainer {
    /* Æ’ */
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.nameTier {
    padding-top: 5rem;
    padding-right: 1rem;
    text-align: center;
}

.profilePictureContainer {
    position: relative;
    height: 21rem;
    width: 21rem;
    background-color: #C7FF20;
    background-size: cover;
    /* margin-left: 1.5rem; */
    /* margin-top: 1.5rem; */
    border-radius: 100rem;
    align-items: right;
}

.flexAllProfileData {
    display: flex;
    /* justify-content: space-evenly; */
}

h1.profileNameTier {
    font-size: 7.5rem;
    font-weight: 1000;
}

.profileNameTier {
    text-align: center;
    width: 40rem;
    line-height: 9rem;
    padding-right: 0.5rem;
    /* animation: fade-in 0.5s linear;
    animation-fill-mode: forwards; */
}

/* @keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
} */

#buttonDisappear.active {
    opacity: 0;
}

#buttonDisappearEdit.active{
    opacity: 0;
}

.profileInfo {
    height: 52rem;
    width: 50rem;
    padding: 1.5rem;
    background-color: #000000;
    border-radius: 10px;
}

.profileImage {}

h3.profileDetails {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 1.8rem;
}

h3.profileDetailsInput {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputGender {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputGender,
h3.profileDetailsInputPhoto {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputWeight{
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

h3.profileDetailsInputHeight{
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputObjective{
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

.profileDataContainer {
    padding-left: 1.5rem;
    margin-top: .2rem;
    width:fit-content;
    /* padding-right: 6rem; */
    /* background: red; */
    /* width: 35%; */
}

.spanProfileCategory {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}



/* button.editProfileButton {
    width: 5rem;
    background-color: white;
    border-radius: 0.5rem;
} */

/* h1 {
    color: white;
} */

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.editButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: center;
}

.btn-editProfileButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    border-color: rgb(73, 73, 73);
    width: 10rem;
    /* color: white; */
    margin-top: 15rem;
    margin-left: 1rem;
}

.btn-cancelSubscriptionButton{
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(0, 0, 0); */
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}

.btn-editPhotoButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    border-color: rgb(73, 73, 73);
    width: 10rem;
    /* color: white; */
    margin-top: 22rem;
    margin-left: 1rem;
}

/* .btn:hover {
    background-color: #C7FF20;
    color: black;
} */

.planContainer {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: 18rem;
    /* margin-right: 7rem; */
}

.btn-change {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(0, 0, 0); */
    width: 5rem;
    margin-top: 1.3rem;
    /* margin-right: 8rem; */
}

.btn-updateProfileButton{
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(0, 0, 0); */
    width: 10rem;
    margin-top: 1.3rem;
}

.btn-backButton{
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(0, 0, 0); */
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}


.btn-change:hover,
.btn-editPhotoButton:hover,
.btn-editProfileButton:hover,
.btn-updateProfileButton:hover,
.btn-cancelSubscriptionButton:hover,
.btn-backButton:hover
    {
    background-color: white;
    /* border-color: #C7FF20; */
    color: black !important;
}

.btn-cancelSubscriptionButtonFinal{
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(0, 0, 0); */
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}

.btn-cancelSubscriptionButtonFinal:hover{
    background-color: red;
    /* border-color: #C7FF20; */
    color: black !important;
}

/* p{
    color: red;
} */

.deleteProfileContainer{
    position: relative;
}

.absoluteContainer{
    position: absolute;
    top: -12rem;
    right: -1rem;
    z-index: 1;
    width: 49rem;
    padding: 1.5rem;
    height: 50rem;
}


h1.deleteProfileText{
    margin-top: -14rem;
    color: white;
    font-weight: 500;
    font-size: large;
    text-align: center;
}

/* a{
    color: white;
 } */

 /* a:hover{
    text-shadow: 0 0 7px #71BBF5;
    cursor: pointer;
 } */

 .underline{
    text-decoration: underline;
 }

 .cancelSubscriptionButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 3rem 10rem 3rem 10rem;
}

img.warningImg{
    transform: scale(30%, 30%);
}

.avatar{
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position:center center;
    transform:scale(10%,10%);
    left: -42.5rem;
    top: -54rem
    /* bottom: 2rem; */
}


input,
select {
    width: 20rem;
    height: 2.5rem;
    font-size: large;
    font-weight: 400;
    /* Comment out following text if you want to revert to white background input and select */
    background-color: rgb(25, 25, 25);
    border-radius: 6px;
    border-color: white;
    border-width: 1px;
    color: white;
}

input.name,input.email{
    padding-left: 0.3rem;
}

/* input{
    width: 10.2rem;
    height: 2.5rem;
    font-size: large;
    font-weight:300;
} */

input#weight,
#height,
#dob {
    width: 10.2rem;
    height: 2.5rem;
    font-size: large;
    font-weight:400;
}

#gender,
#objective {
    width: 10.5rem;
    height: 2.7rem;
}

#deleteProfile.active {
    border-radius: 6px;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}

fieldset{
        border-color: rgb(255, 255, 255);
        border-style: solid;
}


/* .deleteProfileText{
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 1;
} */



::placeholder {
    text-align: center; 
}


/* Allyshia's code */

/* p {
    color: #C7FF20;
    font-weight: bold;
}
h1 {
    color: white;
}
.title{
    color:#C7FF20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
img{
    border: 1px solid #C7FF20;
    border-radius: 2px;
    padding: 5px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    padding: 1em;
}
.edit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #C7FF20;
    border: 1px;
    color: #71BBF5;
    padding: 15px 32px;
    text-decoration: none;
    display: flexbox;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2), 0 6px 20px 0 reba(0,0,0,19);
}
*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
}
.profileMembership{
    display: block;
    flex-direction: column;
    height: 10px;
    color: white;
    font-size: medium;
    font-weight: lighter;
}
.profileHeight{
    display: block;
    flex-direction: column;
    height: fit-content;
    color: white;
    font-size: medium;
    font-weight: lighter;
}
.profileWeight{
    display: block;
    color: white;
    font-weight: lighter;
}
.profileGoal{
    display: block;
    color: white;
    font-weight: lighter;
} */