<div class="step-card">

    <mat-card class="confirm">
            <img src="assets/Images/icon-thank-you-black.png" alt="tick">
            <mat-card-header *ngIf="!checkout">
                <!-- <mat-card-title-group class="title"> -->
                    <mat-card-title role="heading" aria-level="1" >Thank you!</mat-card-title>
                <!-- </mat-card-title-group> -->
            </mat-card-header>
            <mat-card-header *ngIf="checkout" class="checkout">
                <mat-card-title role="heading" aria-level="1">Thank you for your purchase!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="!checkout"> Thanks for confirming your subscription! We hope you have fun
                    using our platform. If you ever need support, please feel free
                    to email us at support@hughjackedman.com.</p>
                <p class="checkout" *ngIf="checkout">You will receive a Confirmation Email shortly. If you do not, please feel free to reach out to our Support Team at support@hughjackedman.com</p>
            </mat-card-content>
    </mat-card>
   
</div>