mat-card,
mat-card-content,
mat-card-header {

  * {
    text-align: center;
  }
}

.confirm{
  width: 33.2rem;
  height: 25rem;
}

img {
  position: absolute;
  right: 19%;
  bottom: 30%;
  transform:scale(35%, 35%);
}


mat-card-header{
  position: absolute;
  top: 50%;
  right: 38.5%;
}

mat-card-header.checkout{
  position: absolute;
  top: 50%;
  right: 8rem;
}


mat-card-content{
  position: absolute;
  top: 60%;
}

p {
  margin: 0.56rem 1.5rem 6rem 1.5rem;
  line-height: 1.5rem;
}

