<div class="banner">
    <!-- <h1>Just Start</h1> -->
    <!-- <div class="fullscreen-bg"> -->
    <div class="overlay">
        <p class="heading">Just Start</p>
        <h6 routerLink="/signup">Sign Up</h6>
    </div>
    <video width="100%" class="fullscreen-bg_video" oncanplay="this.play()" onloadedmetadata="this.muted = true"
        autoplay loop playsinline>
        <source src="/assets/Videos/AdobeStock_232001391_Video_HD_Preview.mp4" type="video/mp4">
        <!-- <source src="/assets/Videos/AdobeStock_232005252_Video_HD_Preview.mp4" type="video/mp4">
                <source src="/assets/Videos/AdobeStock_232002478_Video_HD_Preview.mp4" type="video/mp4">
                <source src="/assets/Videos/AdobeStock_232002022_Video_HD_Preview.mp4" type="video/mp4"> -->
        Your browser does not support the video tag.
    </video>
</div>


<div class="bannerTwo">
    <!-- <img src="/assets/Images/alonso-reyes-0HlI76m4jxU-unsplash.jpg"> -->
    <!-- <div > -->
    <h1 class="textOverlay">Everything is hard, <br> before it is Easy.</h1>
    <!-- </div> -->
</div>

<div class="bannerThree">
    <div class="cardContainer">
        <mat-card class="example-card">
            <mat-card-content class="example-header-image">
            </mat-card-content>
        </mat-card>
        <div class="nutritionText">
            <p class="cardText">Build muscle or burn fat, nutrition is everything. <br><br> Fresh recipes <strong>EVERYDAY.</strong>
            </p>
    
        </div>
    </div>
    

    <div class="bannerFour">
        <div class="cardContainerTwo">
            <div class="nutritionText">
                <p class="cardTextTwo">Motivated? You're in good company. <br> New Workouts <strong>EVERY WEEK!</strong> <br><br><br> Plus, Join Me <strong>Live!</strong>
                </p>
                </div>
            <mat-card class="example-card-two">
                <video></video>
                <mat-card-content class="example-header-image">
                </mat-card-content>
            </mat-card>
            </div>
        </div>

</div>