/* Banner One Styling */

.banner {
    position: relative;
    /* display: table-cell; */
    /*vertical-align: middle;*/
    /* text-align: center; */
    margin-top: -80px;
    width: 100%;
    /* z-index: -1; */
}

/* .minus{
    margin-top: -50px;
} */

.textContainer {
    /* position:relative; */
    /* top:40%; */
}

.overlay {
    /* display: inline-block; */

    position: absolute;
    /* display:flex; */

    top: 40%;

    margin: auto;
    left: 0;

    bottom: 40%;

    right: 0;

    z-index: 100;

    /* width: 100%;

    /* top: 40%; */
    /* left: 0;
  bottom: 40%;
  right: 0;  */

    /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

    /* margin-top: 500px; */

}


.heading {
    /* display: block; */
    /* position:absolute; */

    /* margin-top:100px; */

    /* top:3em;
    bottom: 3em;
    left:0;
    right:0; */
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: auto;
    /* padding-top: 150px;
    margin-left: 200px; */
    justify-content: center;
    color: white;
    font-size: 90px;
    margin-bottom: 3vh;
}

h3 {
    /* position:absolute; */
    /* top:0; */
    /* bottom:0;
    left:0;
    right:0; */
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 6px;
    padding: auto;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    /* width: 170px; */
    width: 160px;
    height: 40px;
    /* container-name: overlay; */
    cursor: pointer;
}

.joinNow:hover {
    color: #C7FF20;
    border-color: #C7FF20;
    cursor: pointer;
}


/* Beginning of Banner Two Styling */

.bannerTwo {
    height: 105vh;
    /* width: 100%; */
    margin: auto;
    background: url("src/assets/Images/Edit-steven-erixon-FxlYmu_To7o-unsplash.jpg");
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    /* align-items: center; */
}

.textOverlay {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    padding-top: 60px;
    font-size: 10vw;
    font-weight: 400;
    line-height: 1.6;
    color: white;

}

/* Beginning of Banner Three Styling */

.bannerThree {
    height: 100vh;
    width: 100%;
    /* background-color: #CBFF4C; */
    background-color: #C7FF20;
    min-height: 100vh;
}

.containerOne {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    height: 100vh;
    /* flex-wrap: wrap; */

    /* min-height: 100px;
    min-width: 50px; */

    /* width: 100%; */
    position: relative;
    /* overflow: overlay; */


    flex-direction: row;
    /* position: relative; */
    /* flex-direction: column; */
    /* width: 100%; */
    /* margin: auto; */
    align-items: center;

}


.card {
    /* display: flex; */
    /* flex-shrink: 5; */
    /* flex-direction: column; */
    /* padding-left: 50px; */
    height: 70vh;
    width: 28vw;

    /* height: 700px;
    width: 500px; */

    background-image: url('/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg');
    background-size: cover;
    /* margin-left: 100px; */
    margin-top: 130px;
    /* max-width: 100%;
    max-height: 100%; */

    /* min-width: 400px;
    min-height: 270px; */

    /* margin-top: 250px; */

    overflow: hidden;
    border-radius: 8px;
}


.cardText {
    /* display: flex; */
    font-size: 30px;
    /* max-width: 600px; */
    /* width: 50%; */

    margin: auto;
    color: black;
    line-height: 1.5;
    /* padding-top: 50px; */
    /* margin-left: 100px; */
}

.nutritionText {
    width: 50%;
}

/* Beginning of Banner Four Styling */

.bannerFour {
    /* display: flex; */
    /* position: relative; */
    height: 100vh;
    width: 100%;
    /* background-color: #CBFF4C; */
    background-color: #C7FF20;
    min-height: 100vh;


}

.containerTwo {
    /* position: absolute; */
    display: flex;

    justify-content: space-evenly;

    margin: auto;
    height: 100vh;
    /* flex-wrap: wrap-reverse; */
    position: relative;
    flex-direction: row;
    align-content: center;
    /* overflow: auto;*/
}

.cardTwo {
    /* display: flex; */
    /* flex-direction: column; */
    height: 70vh;
    width: 28vw;

    /* height: 700px;
    width: 500px;
    min-height: 600px;
    min-width: 400px; */

    /* max-width: 500px;
    max-height: 700px; */
    margin-top: 130px;
    overflow: hidden;
    border-radius: 8px;
}

.fullscreen-bg_video-two {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 750px;
    width: 550px;
    overflow: hidden;
}

.cardTwoContent {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.cardTextTwo {
    /* display: flex; */
    font-size: 30px;
    /* max-width: 600px; */

    /* width: 50%; */

    /* width: 50vw; */

    margin: auto;
    color: black;
    line-height: 1.5;
    padding-top: 250px;

    /* margin-left: 0px; */
}

.workoutText {
    width: 50%;
}

/* Beginning of Banner Five Styling */

.bannerFive {
    /* position: absolute; */
    height: 100vh;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    /* margin-bottom: 100px; */
}

.carouselHeading {
    /* position: static; */
    /* display: flex; */
    text-align: center;
    margin: auto;
    font-family: 'Outfit', sans-serif;
    /* font-weight: 300; */
    margin-top: 120px;
    color: white;
    font-size: 90px;
    /* line-height: 1.5; */
}