.banner {
    margin-top: -80px;
    width: 100%;
    /* overflow: overlay; */
    /* height:100vh; */
    /* padding: 800px; */
    /* height:100vh; */
    /* position: relative; */
    /* margin-bottom: 50px; */
    /* position:static; */

    /* padding-bottom: -50px; */
    /* position:absolute; */
    /* top: 0; */
    /* z-index: -100; */
}


.fullscreen-bg {
    /* position: ; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* overflow: hidden; */
    /*   */
}

.fullscreen-bg_video {
    /* position: absolute;
    top: 0; */

    /* left: 0;
    width: 100%;
    height: 100%; */
}

.bannerTwo {
    /* display: flex; */
    /* position: sticky; */
    margin-top: 1000px;
    /* padding-bottom:10px; */
    height: 1100px;
    width: 100%;
    margin: auto;
    /* background-color: black; */
    /* padding-top: 50px; */
    background: url("src/assets/Images/Edit-steven-erixon-FxlYmu_To7o-unsplash.jpg");
    background-size: cover;
    /* object-fit: scale-down; */
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    /* z-index: -100px; */


    /* background: url("/assets/Images/alonso-reyes-0HlI76m4jxU-unsplash.jpg"); */
    /* display: flex; */
    /* zoom: 20%; */

    /* padding-left: 50px; */
    /* display: block; */
    /* height: 500px;
    width: 400px; */

    /* z- */
    /* max-height: 500px;
    max-width: 100%; */

    /* text-align:center; */
}

/* .container{
display: flex;
} */

.textOverlay {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    padding-top: 50px;
    /* position: absolute; */
    /* display: flex; */
    zoom: 500%;
    /* margin-right:500px; */
    color: white;
    /* z-index: 1; */
}


h6, .heading {
    padding-top: 150px;
    margin-left: 200px;
    justify-content: center;
    color: white;
    zoom: 300%;
}

/* .spacer{
 height: 840px;
} */


/* .hero{
    display:flex;
    font-family: 'Outfit', sans-serif;
    zoom:500%;
    z-index: 100;
    color: white;
}

.container{
    /* display:flex; */
/* justify-content: center; */
/* position:absolute;
    padding-left: 600px;
    margin-top: -600px; */
/* } */

/* .banner { position:relative; }
.banner video {
    position:relative;
    z-index:0;
} */
.overlay {
    display: flex;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    z-index: 1;
    font-size: xx-large;
    width: 100%;
    /* justify-content: center; */
}

.bannerThree {
    height: 1100px;
    width: 100%;
    /* margin: auto; */
    background-color: #CBFF4C;
}

.example-card {
    /* position: relative; */
    /* display: flex; */
    height: 700px;
    width: 500px;
    /* left:0;
    right:0;
    top:0; */
    /* max-width: 800px; */
    /* max-height: 1000px; */
    background-image: url('/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg');
    background-size: cover;
    margin-left: 150px;
    margin-top: 250px;
    max-width: 100%;
    max-height: 100%;
    /* overflow: auto; */
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    min-width: 25px;
    overflow: auto;
}

.cardText{
    zoom: 200%;
    max-width: 300px;
    margin-right: 110px;
    color: black;
    line-height: 1.5;
    padding-top: 150px;
    margin-left: 200px;
    /* justify-content: left; */
}

.bannerFour {
    height: 1100px;
    width: 100%;
    /* margin: auto; */
    background-color: #CBFF4C;
}

.cardContainerTwo {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    min-width: 25px;
    overflow: auto;
}


.example-card-two {
    /* position: relative; */
    display: flex;
    height: 700px;
    width: 500px;
    /* justify-content: left; */
    /* left:0;
    right:0;
    top:0; */
    /* max-width: 800px; */
    /* max-height: 1000px; */
    /* background-image: url('/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg'); */
    background-size: cover;
    /* margin-left: 150px; */
    margin-top: 250px;
    overflow: auto;
}

.cardTextTwo{
    zoom: 200%;
    max-width: 300px;
    padding-top: 150px;
    color: black;
    line-height: 1.5;
}
