/* Banner One Styling */

.banner {
    margin-top: -80px;
    width: 100%;
}

.overlay {
    position: absolute;
    /* display:flex; */
    top: 0;
    margin: auto;
    left:0;
    bottom:0;
    right:0;
    z-index: 100;
    font-size: xx-large;
    width: 100%;
    /* margin-top: 500px; */
}


.heading {
    /* display: block; */
    /* position:absolute; */
    margin-top:100px;
    /* top:0;
    bottom: 0;
    left:0;
    right:0; */
    text-align: center;
    margin: auto;
    /* padding-top: 150px;
    margin-left: 200px; */
    justify-content: center;
    color: white;
    font-size: 100px;
    margin-bottom: 40px;
}

h3{
    /* position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; */
    font-size:xx-large;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 6px;
    padding: auto;
    margin:auto;
    text-align: center;
    padding-top: 10px;
    width: 170px;
    height: 40px;
    container-name: overlay;
    cursor: pointer;
}

.joinNow:hover{
    color: #C7FF20;
    border-color:#C7FF20;
    cursor: pointer;
}

.textContainer{
    position:relative;
    top:40%;
}

/* Beginning of Banner Two Styling */

.bannerTwo {
    height: 1100px;
    width: 100%;
    margin: auto;
    background: url("src/assets/Images/Edit-steven-erixon-FxlYmu_To7o-unsplash.jpg");
    background-size: cover;
    text-align: center;
    align-items: center;
}

.textOverlay {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    padding-top: 50px;
    zoom: 500%;
    color: white;

}

/* Beginning of Banner Three Styling */

.bannerThree {
    height: 1100px;
    width: 100%;
    /* background-color: #CBFF4C; */
    background-color: #C7FF20;
}

.card {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    background-image: url('/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg');
    background-size: cover;
    margin-left: 150px;
    margin-top: 250px;
    /* max-width: 100%;
    max-height: 100%; */
    min-width: 400px;
    min-height: 270px;
    /* margin-top: 250px; */
    overflow: hidden;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    min-width: 50px;
    overflow: auto;
}

.cardText {
    zoom: 200%;
    max-width: 300px;
    margin-right: 110px;
    color: black;
    line-height: 1.5;
    padding-top: 150px;
    margin-left: 200px;
}

/* Beginning of Banner Four Styling */

.bannerFour {
    height: 1100px;
    width: 100%;
    /* background-color: #CBFF4C; */
    background-color: #C7FF20;
}

.cardContainerTwo {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    min-width: 50px;
    overflow: auto;
}

.cardTwo {
    display: flex;
    height: 700px;
    width: 500px;
    max-width: 500px;
    max-height: 700px;
    margin-top: 250px;
    overflow: hidden;
}

.fullscreen-bg_video-two {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 750px;
    width: 550px;
    overflow: hidden;
}

.cardTwoContent {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.cardTextTwo {
    zoom: 200%;
    max-width: 300px;
    padding-top: 150px;
    color: black;
    line-height: 1.5;
}

/* Beginning of Banner Five Styling */

.bannerFive {
    /* position: absolute; */
    height: 1100px;
    width: 100%;
    margin: auto;
}

.carouselHeading{
    position: static;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    padding-top: 35px;
    zoom: 500%;
    color: white;
    color: white;

}