<div class="banner">
    <div class="fullscreen-bg">
        <video width="100%" class="fullscreen-bg_video" oncanplay="this.play()" onloadedmetadata="this.muted = true"
            autoplay loop playsinline>
            <source src="/assets/Videos/AdobeStock_232001391_Video_HD_Preview.mp4" type="video/mp4">
            <source src="/assets/Videos/AdobeStock_232005252_Video_HD_Preview.mp4" type="video/mp4">
            <source src="/assets/Videos/AdobeStock_232002478_Video_HD_Preview.mp4" type="video/mp4">
            <source src="/assets/Videos/AdobeStock_232002022_Video_HD_Preview.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<div class="bannerTwo">
    <!-- <img src="/assets/Images/alonso-reyes-0HlI76m4jxU-unsplash.jpg"> -->
</div>

