.cardVideo {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    right: 0;

    /* height: 70vh;
    width: 28vw; */

    height: 700px;
    width: 500px;

    overflow:visible;
    animation: fadeOut 1s;
    /* background-position-x: right; */
}

/* .fade{
    animation-name: fadeIn;
    animation-duration: 4s;
}  */

/* .fade{
    animation: fadeOut 10s ease-in 0s forwards;
} */

@keyframes fadeIn {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
  } 

  @keyframes fadeOut {
    100% { opacity: 1; }
    10% { opacity: 0.4; }
  }

  /* @keyframes fadeOut {
    to {
        opacity: 0;
      }
    } */
  

@media screen and (min-width: 500px) and (max-width: 717px) {
    .videoBackground {
            /* animation: zoomIn 0.5s infinity; */
            /* transform: scale(100, 50); */
            object-fit: none;
            /* width: 50vw; */
            height: 100vh;
            /* width: 100%; */
            overflow: auto;
            /* background-position-x: right; */
        }
    }