* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    max-width: 3000px;
    overflow-x: hidden;
    height: 100vh;
    margin-top: -80px;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.8rem;
}

.nameTier {
    padding-top: 5rem;
    padding-right: 1rem;
    text-align: center;
}

.profilePictureContainer {
    position: relative;
    height: 21rem;
    width: 21rem;
    background-color: #C7FF20;
    background-size: cover;
    border-radius: 100rem;
    align-items: right;
}

.flexAllProfileData {
    display: flex;
    position: relative;
}

h1.profileNameTier {
    font-size: 7.5rem;
    font-weight: 1000;
}

.profileNameTier {
    text-align: center;
    width: 40rem;
    line-height: 9rem;
    padding-right: 0.5rem;
}

#buttonDisappear.active {
    opacity: 0;
}

#buttonDisappearEdit.active {
    opacity: 0;
}

.profileInfo {
    /* height: 52rem; */
    position: relative;
    height: auto;
    width: 50rem;
    max-width: 50rem;
    padding: 1.5rem;
    background-color: #000000;
    border-radius: 1rem;
}

h3.profileDetails {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 1.8rem;
}

h3.profileDetailsInput {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputGender {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputGender,
h3.profileDetailsInputPhoto {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputWeight {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

h3.profileDetailsInputHeight {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

h3.profileDetailsInputObjective {
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

.profileDataContainer {
    padding-left: 1.5rem;
    margin-top: .2rem;
    width: fit-content;
}

.spanProfileCategory {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.editButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: center;
}

.btn-editProfileButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    border-color: rgb(73, 73, 73);
    width: 10rem;
    margin-top: 14rem;
    margin-left: 1rem;
}

.btn-cancelSubscriptionButton {
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn-editPhotoButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    border-color: rgb(73, 73, 73);
    width: 10rem;
    margin-top: 22rem;
    margin-left: 1rem;
}

.btn-signOutButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    border-color: rgb(73, 73, 73);
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
}


.planContainer {
    display: flex;
    justify-content: space-between;
    width: 18rem;
}

.btn-change {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    width: 5rem;
    margin-top: 1.3rem;
}

.btn-updateProfileButton {
    height: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    width: 10rem;
    margin-top: 1.3rem;
}

.btn-backButton {
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}


.btn-change:hover,
.btn-editPhotoButton:hover,
.btn-editProfileButton:hover,
.btn-updateProfileButton:hover,
.btn-cancelSubscriptionButton:hover,
.btn-backButton:hover,
.btn-signOutButton:hover {
    background-color: white;
    color: black !important;
}

.btn-cancelSubscriptionButtonFinal {
    height: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(25, 25, 25);
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
}

.btn-cancelSubscriptionButtonFinal:hover {
    background-color: red;
    color: black !important;
}

.deleteProfileContainer {
    position: relative;
}

.absoluteContainer {
    position: absolute;
    top: -12rem;
    right: -1rem;
    z-index: 1;
    width: 49rem;
    padding: 1.5rem;
    height: 50rem;
}


h1.deleteProfileText {
    margin-top: -14rem;
    color: white;
    font-weight: 500;
    font-size: large;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.cancelSubscriptionButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 1rem 10rem 3rem 10rem;
}

img.warningImg {
    transform: scale(30%, 30%);
}

.avatar {
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    transform: scale(10%, 10%);
    left: -42.5rem;
    top: -54rem
}


input,
select {
    width: 20rem;
    height: 2.5rem;
    font-size: large;
    font-weight: 400;
    /* Comment out following text if you want to revert to white background input and select */
    background-color: rgb(25, 25, 25);
    border-radius: 6px;
    border-color: white;
    border-width: 1px;
    color: white;
}

input.name,
input.email {
    padding-left: 0.3rem;
}

input#weight,
#height,
#dob {
    width: 10.2rem;
    height: 2.5rem;
    font-size: large;
    font-weight: 400;
}

#gender,
#objective {
    width: 10.5rem;
    height: 2.7rem;
}

#deleteProfile.active {
    border-radius: 6px;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}

fieldset {
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

::placeholder {
    text-align: center;
}

@media screen and (min-width:500px) and (max-width: 1450px) {

    .pageContainer {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }

    .profileInfo {
        max-height: fit-content;
        height: auto;
        /* width: 40rem; */
        width: 100%;
        max-width: 50rem;
        padding: 2.5rem;
        background-color: #000000;
        border-radius: 10px;
        margin-bottom: 4rem;
    }

    .flexAllProfileData {
        display: block
    }

    .btn-editProfileButton {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .btn-cancelSubscriptionButton {
        margin-top: 0.5rem;
    }

    .flexAllProfileData {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profilePictureContainer {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        height: 18rem;
        width: 18rem;
        background-color: #C7FF20;
        background-size: cover;
        border-radius: 100rem;
        align-items: right;
        margin: auto;
    }

    .avatar {
        position: absolute;
        z-index: 1;
        background-size: cover;
        background-position: center center;
        transform: scale(8%, 8%);
        left: -44rem;
        top: -55rem
    }

    .profileDataContainer {
        margin-top: 2rem;
    }

    .planContainer {
        display: flex;
        width: 18rem;
        margin-bottom: 1.5rem;
    }

    .editButtonsContainer {
        position: absolute;
        bottom: 3rem;
        left: 15rem;
    }

    .btn-editPhotoButton {
        margin-top: 22rem;
    }

    .btn-signOutButton {
        margin-top: 0.5rem;
    }

    h3.profileDetails.plan {
        color: white;
        font-weight: 500;
        font-size: 1.9rem;
        margin-bottom: 0rem;
    }

    input {
        width: 18rem;
        height: 2.5rem;
        font-size: large;
        font-weight: 400;
        /* Comment out following text if you want to revert to white background input and select */
        background-color: rgb(25, 25, 25);
        border-radius: 6px;
        border-color: white;
        border-width: 1px;
        color: white;
    }

    .absoluteContainer {
        position: absolute;
        top: -10rem;
        left: 5;
        right: -7.5rem;
        z-index: 1;
        width: 49rem;
        height: 50rem;
    }

    /* @media screen and (min-width: 642px) and (max-width: 1233px) {

        .flexContainer {
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 1rem;
        }

        .nameTier {
            margin-bottom: 2rem;
            text-align: center;
        }
    } */

    @media screen and (min-width: 300px) and (max-width: 642px) {

        h1.profileNameTier {
            font-size: 17vw;
            font-weight: 600;

        }

        .avatar {
            position: absolute;
            z-index: 1;
            background-size: cover;
            background-position: center center;
            transform: scale(8%, 8%);
            left: -46rem;
            top: -57rem
        }

        .profileNameTier {
            flex-wrap: wrap;
            text-align: center;
            width: 80vw;
            line-height: 19vw;
            padding-right: 0.5rem;
        }

        .nameTier {
            padding-top: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .profileInfo {
            height: 52rem;
            height: auto;
            width: 90rem;
            padding: 2rem;
            background-color: #000000;
            border-radius: 10px;
            margin-bottom: 4rem;
        }

        .profilePictureContainer {
            position: relative;
            height: 45vw;
            width: 45vw;
            background-color: #C7FF20;
            background-size: cover;
            border-radius: 100rem;
            align-items: right;
        }

        .editButtonsContainer {
            position: absolute;
            bottom: 1rem;
            left: 9.5rem;
        }


        .cancelSubscriptionButtonContainer {
            display: flex;
            justify-content: space-between;
            width: 20rem;
            padding: 3rem 1rem 3rem 14rem;
        }

        .profileDataContainer {
            margin-top: 1.5rem;
            margin-left: 0.1rem;
            margin-left: auto;
            margin-right: auto;
        }

        .absoluteContainer {
            position: absolute;
            top: -10rem;
            left: 5;
            right: -7.5rem;
            z-index: 1;
            width: 49rem;
            height: 50rem;
        }


    }



}