<div class="pageContainer">

    <div class="flexContainer" *ngIf="loadingComplete">
        <div class="nameTier">
            <h1 class="profileNameTier tierOne" id="tierOne" *ngIf="tierOne" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}">Hi {{firstName}}! <br>You're {{currentUser.tier | uppercase}}</h1>
            <h1 class="profileNameTier tierTwo"  id="tierTwo" *ngIf="tierTwo" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}">Hi {{firstName}}!  <br> You are {{currentUser.tier | uppercase}} </h1>
            <h1 class="profileNameTier tierThree" id="tierThree" *ngIf="tierThree" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}">Hi {{firstName}}! <br> You are {{currentUser.tier | uppercase}}</h1>
            <div class="arrowContainer" [ngClass]="{'firstTimeAnimation': firstTimeAnimation, 'narrow': true}">
                <div class="arrows">
                    <fa-icon [icon]="['fas', 'angle-down']" [ngClass]="{'narrow': true, 'arrow-size': true}" class="arrow-icon"></fa-icon>
                    <fa-icon [icon]="['fas', 'angle-down']" [ngClass]="{'narrow': true, 'arrow-size': true}" class="arrow-icon"></fa-icon>
                </div>
            </div>
        </div>

        <div class="profileContainer">
            <div class="deleteProfileContainer" [class.active]="currentState === ProfileState.DeletingProfile">
                <div class="absoluteContainer" *ngIf="currentState === ProfileState.DeletingProfile">
                    <div class="cancelSubscription">
                        <img class="warningImg" src="assets/Images/Exclamation.svg">
                        <h1 class="deleteProfileText" [ngClass]="{'wide': true}">You are about to <span class="underline">Cancel Your Membership.</span> <br>You will Lose All Access to Plan Specific <br> Content & All Access to the Store. <br>  Proceeding will Delete All Traces of Your Profile.<br> This Step Cannot be Undone. <br> Proceed with Caution! <br><br> You will be missed.</h1>
                        <h1 class="deleteProfileText" [ngClass]="{'narrow': true}"> You are about to <br> <span class="underline">Cancel Your Membership.</span> <br>You will Lose All Access to Plan Specific Content & All Access to the Store. Proceeding will Delete All Traces of Your Profile.<br> This Step Cannot be Undone. <br> Proceed with Caution! <br><br> You will be missed.</h1>
                        <div class="cancelSubscriptionButtonContainer">
                            <button mat-button style="color:white" class="btn btn-backButton" type="submit" (click)="cancelAction()">Keep <br> Subscription</button>
                            <button mat-button style="color:red" class="btn btn-cancelSubscriptionButtonFinal" id="cancelSub" (click)="goodbye()" type="submit">{{buttonText}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset id="deleteProfile" [class.active]="currentState === ProfileState.DeletingProfile" [disabled]="currentState === ProfileState.DeletingProfile">
           
            <mat-card class="profileInfo">
                <!-- [ngClass]="{'firstTimeAnimation': currentUser.tier === 'All In' && 'firstTimeAnimation'} -->
                <!-- 'box-shadow': tierThree ? '0 0 40px #C7FF20' : 'none' -->
                <div class="flexAllProfileData">
                    <!-- <div class="flexPictureAndButtons"> -->
                    <div class="profilePictureAndButtonsContainer">
                        <div class="profilePictureAndButtons">
                            <mat-card class="profilePicture" id="profilePicture" [ngStyle]="{'background-image': 'url(' + currentUser.imgUrl + ')'}" [ngClass]="{'firstTimeAnimation': firstTimeAnimation && tierThree, 'tierThreeStyle': tierThree}">
                            <!-- <mat-card class="profilePicture" id="profilePicture" [ngStyle]="{'background-image': 'url(' + currentUser.imgUrl + ')','box-shadow': tierThree ? '0 0 40px #C7FF20' : 'none' }" [ngClass]="{'animateBoxShadow': tierThree && firstTimeAnimation }"> -->
                            <!-- <mat-card class="profilePicture" id="profilePicture" [ngStyle]="{'background-image': 'url(' + currentUser.imgUrl + ')'}"[class.tierThreeStyle]="tierThree"></mat-card> -->
                            <img class="avatar" src="assets/Images/avatar.png" *ngIf="!currentUser.imgUrl">
                            </mat-card>
                            <div class="editProfilePictureButtonsContainer">
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="!currentUser.imgUrl && (currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile)" (click)="changePicture()">Add Picture</button>
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="currentUser.imgUrl && (currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile)" (click)="changePicture()" (click)="changePicture()">Change Picture</button>
                                <button mat-button style="color:white" class="btn btn-editProfileButton" (click)="editProfile()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Edit Profile</button>
                                <button mat-button style="color:white" class="btn btn-changePasswordButton"(click)="changePassword()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Change Password</button>
                                <button mat-button style="color:white" class="btn btn-billingDetailsButton"id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Billing Details</button>
                                <button mat-button style="color:white" class="btn btn-cancelSubscriptionButton" (click)="deleteProfile()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Cancel Subscription</button>
                                <button mat-button style="color:white" class="btn btn-signOutButton" (click)="logOut()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Sign Out</button>
                            </div>
                        </div>
                        <div class="editProfileButtonsContainer" *ngIf="currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile">
                                <button mat-button style="color:white" class="btn btn-editProfileButton" (click)="editProfile()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Edit Profile</button>
                                <button mat-button style="color:white" class="btn btn-changePasswordButton"(click)="changePassword()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Change Password</button>
                                <button mat-button style="color:white" class="btn btn-billingDetailsButton"id="buttonDisappearEdit" [ngClass]="{'wide': true}">Billing Details</button>
                                <button mat-button style="color:white" class="btn btn-cancelSubscriptionButton" (click)="deleteProfile()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Cancel Subscription</button>
                                <button mat-button style="color:white" class="btn btn-signOutButton" (click)="logOut()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Sign Out</button>
                        </div>
                     </div>
                    <!-- </div> -->
                    <!-- [ngClass]="{'animateBoxShadow': currentUser.tier === 'All In' && firstTimeAnimationTierThree}" -->

                <div class="currentState" [ngSwitch]="currentState">
                  <!-- Viewing State -->
                  <ng-container *ngSwitchCase="ProfileState.Viewing">
                    <div class="profileDataContainer">
                        <h3 class="profileDetails name"><span class="spanProfileCategory">Name</span> <br> {{currentUser.name}}</h3>
                        <h3 class="profileDetails email"><span class="spanProfileCategory">Email Address</span> <br> {{currentUser.email}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.dateOfBirth"><span class="spanProfileCategory">Date Of Birth</span> <br>{{currentUser.dateOfBirth}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.gender"><span class="spanProfileCategory">Gender</span> <br> {{currentUser.gender}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.weight"><span class="spanProfileCategory">Weight</span> <br> {{currentUser.weight}}lbs</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.height"><span class="spanProfileCategory">Height</span> <br> {{displayHeight}}ft</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.goals"><span class="spanProfileCategory">Objective</span> <br> {{currentUser.goals}}</h3>
                        <div class="planContainer">
                            <h3 class="profileDetails plan" *ngIf="currentUser.tier"><span class="spanProfileCategory">Plan</span> <br> {{currentUser.tier}}</h3>
                            <button mat-button style="color:white" class="btn-change" [routerLink]="['/change-plan/', currentUser.userId]">Change</button>
                        </div>
                        <h3 class="profileDetails" *ngIf="!freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> ${{currentUser.price}}/{{monthOrYear}}</h3>
                        <h3 class="profileDetails" *ngIf="freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> Free</h3>
                    </div>
                </ng-container>

                <!-- Edit Profile State -->
                <ng-container *ngSwitchCase="ProfileState.EditingProfile">
                    <div class="profileDataContainer">
                        <!-- <form (ngSubmit)="saveProfile()" id="profileForm">
                            <div class="updateOnlyPicture">
                                <h3 class="profileDetailsInput name"><span class="spanProfileCategory">Name</span> <br>  <input class="name" matInput placeholder="Enter Full Name" type="text" name="firstName" [(ngModel)]="currentUser.name"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Email Address</span><br> <input class="email"  matInput placeholder="Enter Email" type="text" name="email" [(ngModel)]="currentUser.email"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Date Of Birth</span> <br> <input placeholder="mm/dd/yy" matInput type="text" name="dateOfBirth" id="dob" [(ngModel)]="currentUser.dateOfBirth"></h3>
                                <h3 class="profileDetailsInputGender"><span class="spanProfileCategory">Gender</span> <br> 
                                    <select matNativeControl name="gender" id="gender" [(ngModel)]="currentUser.gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </h3>
                                <h3 class="profileDetailsInputWeight"><span class="spanProfileCategory">Weight</span><br> <input matInput pattern="[0-9]*" placeholder="Enter Weight in lbs" type="text" name="weight" id="weight" [(ngModel)]="currentUser.weight"></h3>
                                <h3 class="profileDetailsInputHeight"><span class="spanProfileCategory">Height</span><br> <input matInput placeholder="Enter Height in feet" type="text" name="height" id="height" [(ngModel)]="currentUser.height"></h3>
                                <h3 class="profileDetailsInputObjective"><span class="spanProfileCategory">Objective</span> <br>
                                    <select matNativeControl name="objective" id="objective" [(ngModel)]="currentUser.goals">
                                        <option value="Lose Fat">Lose Fat</option>
                                        <option value="Maintain Weight">Maintain Weight</option>
                                        <option value="Build Muscle">Build Muscle</option>
                                    </select>
                                </h3> 
                            </div>
                            <div class="profilePictureLinkContainer">
                                <h3 class="profileDetailsInputPhoto" *ngIf="!updatePassword"><span class="spanProfileCategory">Profile Picture Link</span> <br></h3>
                                <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" name="imgUrl" [(ngModel)]="currentUser.imgUrl">
                            </div>
                            <div class="updateProfileButtonContainer">
                                <button mat-button style="color:white" class="btn btn-cancelProfileButton" type="button" (click)="cancelAction()">Cancel</button>
                                <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" type="submit">Update</button>
                            </div>
                        </form>  -->
                        <form #profileForm="ngForm" (ngSubmit)="saveProfile()" id="profileForm">
                            <div class="updateOnlyPicture">
                                <h3 class="profileDetailsInput name">
                                    <span class="spanProfileCategory">Name</span><br>
                                    <input class="name" matInput placeholder="Enter Full Name" name="name" 
                                           [(ngModel)]="currentUser.name" required #name="ngModel" [ngStyle]="{'border-color': name.invalid && (name.dirty || name.touched) ? 'red' : 'white'}">
                                    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                        Name is required
                                    </mat-error>
                                </h3>
                                <h3 class="profileDetailsInput email">
                                    <span class="spanProfileCategory">Email Address</span><br>
                                    <input class="email" matInput placeholder="Enter Email" name="email" 
                                           [(ngModel)]="currentUser.email" required email #email="ngModel" [ngStyle]="{'border-color': email.invalid && (email.dirty || email.touched) ? 'red' : 'white'}">
                                    <!-- <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                        Please enter a valid email address
                                    </mat-error> -->
                                </h3>
                                <!-- <h3 class="profileDetailsInput">
                                    <span class="spanProfileCategory">Date Of Birth</span><br> -->
                                    <!-- <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth" 
                                           [(ngModel)]="currentUser.dateOfBirth" (blur)="validateAge()" pattern="^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/([0-9]{4})$"  maxlength="10" #dob="ngModel" [ngStyle]="{'border-color': dob.invalid && (dob.dirty || dob.touched) ? 'red' : 'white'}"> -->
                                     <!-- <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth" 
                                           [(ngModel)]="currentUser.dateOfBirth" (blur)="validateAge()" 
                                           pattern="^\d{2}/\d{2}/\d{4}$" maxlength="10" #dob="ngModel" 
                                           [ngStyle]="{'border-color': dob.invalid && (dob.dirty || dob.touched) ? 'red' : 'white'}"> -->
                                <h3 class="profileDetailsInputDOB">
                                    <div class="dateOfBirthSpanAndErrorContainer">
                                        <span class="spanProfileCategoryDOB">Date Of Birth</span><br>
                                        <!-- <label for="error" *ngIf="twentyOneError" class="errorTwentyOne">21+ Only</label> -->
                                    </div>
                                    <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth"
                                            [(ngModel)]="currentUser.dateOfBirth" (blur)="validateAge()"
                                            pattern="^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/([0-9]{4})$"
                                            maxlength="10" #dob="ngModel"
                                            [ngStyle]="{'border-color': (!dob.valid || !isValidAge) && (dob.dirty || dob.touched) ? 'red' : 'white'}">
                                </h3>
                                
                                <h3 class="profileDetailsInputGender">
                                    <span class="spanProfileCategory">Gender</span><br>
                                    <select matNativeControl name="gender" [(ngModel)]="currentUser.gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </h3>
                                <h3 class="profileDetailsInputWeight">
                                    <span class="spanProfileCategory">Weight</span><br>
                                    <input matInput placeholder="Enter Weight in lbs (e.g., 245)" min="50" 
                                            max="600"  name="weight" type="text"
                                           [(ngModel)]="currentUser.weight" [ngModelOptions]="{ updateOn: 'blur' }" pattern="^\d+(\.\d{1,2})?$" step="0.01" #weight="ngModel" [ngStyle]="{'border-color': !isWeightValid() && (weight.dirty || weight.touched) ? 'red' : 'white'}">
                                    <!-- <mat-error *ngIf="weight.invalid && (weight.dirty || weight.touched)">
                                        Please enter a valid weight (numbers only)
                                    </mat-error> -->
                                </h3>
                                <h3 class="profileDetailsInputHeight">
                                    <span class="spanProfileCategory">Height</span><br>
                                    <input matInput 
                                           placeholder="Enter Height (e.g., 6.5 or 6'6&quot;)" 
                                           name="height"
                                           [(ngModel)]="currentUser.height" 
                                           (input)="onHeightInput($event)" 
                                           #height="ngModel"
                                           [ngStyle]="{'border-color': (!isHeightValid() && heightTouched) ? 'red' : 'white'}">
                                    <!-- <span *ngIf="!isHeightValid() && heightTouched" style="color: red;">Invalid height format</span> -->
                                </h3>
                                <h3 class="profileDetailsInputObjective">
                                    <span class="spanProfileCategory">Objective</span><br>
                                    <select matNativeControl name="goals" [(ngModel)]="currentUser.goals">
                                        <option value="Lose Fat">Lose Fat</option>
                                        <option value="Maintain Weight">Maintain Weight</option>
                                        <option value="Build Muscle">Build Muscle</option>
                                    </select>
                                </h3>
                            </div>
                            <div class="profilePictureLinkContainer">
                                <h3 class="profileDetailsInputPhoto">
                                    <span class="spanProfileCategory">Profile Picture Link</span><br>
                                </h3>
                                <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" name="imgUrl" 
                                       [(ngModel)]="currentUser.imgUrl" 
                                       pattern="https?://.+" #imgUrl="ngModel" [ngStyle]="{'border-color': imgUrl.invalid && (imgUrl.dirty || imgUrl.touched) ? 'red' : 'white'}">
                                <!-- <mat-error *ngIf="imgUrl.invalid && (imgUrl.dirty || imgUrl.touched)">
                                    Please enter a valid URL
                                </mat-error> -->
                            </div>
                            <div class="updateProfileButtonContainer" [ngClass]="{'wide': true}">
                                <button mat-button style="color:white" class="btn btn-cancelProfileButton" type="button" (click)="cancelAction()">Cancel</button>
                                <!-- <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" 
                                        type="submit" [disabled]="!profileForm.form.valid">Update</button> -->
                                <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" 
                                type="submit" [disabled]="!isFormValid('profile')">Update</button>
                            </div>
                        </form>
                    </div>
                </ng-container>

                <!-- Deleting Profile State -->
                <ng-container *ngSwitchCase="ProfileState.DeletingProfile">
                    <div class="profileDataContainer">
                        <h3 class="profileDetails name"><span class="spanProfileCategory">Name</span> <br> {{currentUser.name}}</h3>
                        <h3 class="profileDetails email"><span class="spanProfileCategory">Email Address</span> <br> {{currentUser.email}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.dateOfBirth"><span class="spanProfileCategory">Date Of Birth</span> <br>{{currentUser.dateOfBirth}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.gender"><span class="spanProfileCategory">Gender</span> <br> {{currentUser.gender}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.weight"><span class="spanProfileCategory">Weight</span> <br> {{currentUser.weight}}lbs</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.height"><span class="spanProfileCategory">Height</span> <br> {{currentUser.height}}ft</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.goals"><span class="spanProfileCategory">Objective</span> <br> {{currentUser.goals}}</h3>
                        <div class="planContainer">
                            <h3 class="profileDetails plan" *ngIf="currentUser.tier"><span class="spanProfileCategory">Plan</span> <br> {{currentUser.tier}}</h3>
                            <button mat-button style="color:white" class="btn-change" [routerLink]="['/change-plan/', currentUser.userId]">Change</button>
                        </div>
                        <h3 class="profileDetails" *ngIf="!freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> ${{currentUser.price}}/{{monthOrYear}}</h3>
                    </div>
                </ng-container>

                <!-- Change Picture State -->
                <!-- <ng-container *ngSwitchCase="ProfileState.ChangingPicture">  
                    <form [formGroup]="pictureForm" (ngSubmit)="saveProfile()" id="pictureForm">
                    <div class="profilePictureLinkContainer">
                        <h3 class="profileDetailsInputPhoto"><span class="spanProfileCategory">Profile Picture Link</span> <br></h3>
                        <input class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" name="imgUrl" [(ngModel)]="currentUser.imgUrl">
                    </div>
                    <div class="savePictureButtonContainer">
                        <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                        <button mat-button style="color:white" class="btn btn-savePhotoButton" id="buttonDisappear" form="profileForm" type="submit" (click)="saveProfile()">Save Picture</button>
                    </div>
                </form>
                </ng-container> -->
                <ng-container *ngSwitchCase="ProfileState.ChangingPicture"> 
                    <div class="profilePictureFormContainer">
                    <form [formGroup]="pictureForm" (ngSubmit)="saveProfilePicture()">
                      <div class="profilePictureLinkContainer">
                        <h3 class="profileDetailsInputPhoto"><span class="spanProfileCategory">Profile Picture Link</span></h3>
                        <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" formControlName="imgUrl" [(ngModel)]="currentUser.imgUrl">
                      </div>
                      <div class="savePictureButtonContainer">
                        <button mat-button style="color:white" class="btn btn-cancelPhotoButton" type="button" (click)="cancelAction()">Cancel</button>
                        <button mat-button style="color:white" class="btn btn-savePhotoButton" type="submit">Save</button>
                      </div>
                    </form>
                </div> 
                </ng-container>

                <!-- Change Password State -->
                <ng-container *ngSwitchCase="ProfileState.ChangingPassword">
                        <div class="updatePassword">
                            <h3 class="profileDetailsChangePassword"><span class="spanProfileCategory">Change Password</span> <br> </h3>
                            <form [formGroup]="stepForm" (ngSubmit)="updateUserPassword()" id="passwordForm">
                                <div class="oldPassword">
                                    <div class="input-details">
                                        <label class="label" for="oldPassword">Current Password</label>
                                        <label for="error" *ngIf="authenticating" class="authenticating">Authenticating</label>
                                        <label for="error" *ngIf="oldPasswordError && !authenticating" class="error-alert">{{oldPasswordError}}</label>
                                    </div>
                                    <div class="passwordInput">
                                        <input type="password"
                                            matInput
                                            id="oldPassword"
                                            formControlName="oldPassword"
                                            (blur)="checkOldPassword()"
                                            placeholder="Enter Current Password"
                                            required>
                                        <fa-icon [icon]="oldPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="toggleOldPasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#oldPassword']"></fa-icon>        
                                    </div>
                                </div>        
                                <div formGroupName="passwordGroup">
                                    <div>
                                        <div class="input-details passwordRelative">
                                            <label class="label" for="password">New Password</label>
                                            <label for="error" *ngIf="passwordGroup.get('password')?.invalid && passwordGroup.get('password')?.touched && !this.passwordMismatch" class="error-alert">{{getPasswordErrorMessage()}}</label>
                                            <label for="error" *ngIf="passwordMismatch && passwordGroup.get('confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                                            <div class="popup" *ngIf="isPopupVisible">
                                                <p>Password must:</p>
                                                <ul>
                                                    <li>Be at least 8 characters long</li>
                                                    <li>Contain at least one uppercase letter</li>
                                                    <li>Contain at least one lowercase letter</li>
                                                    <li>Contain at least one number</li>
                                                    <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="passwordInput">
                                            <input type="password"
                                                matInput
                                                id="password"
                                                (focus)="showPasswordPopup()"
                                                (blur)="hidePasswordPopup()"
                                                placeholder="Enter New Password"
                                                formControlName="password"
                                                required>
                                            <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-details focusedInput">
                                            <label class="label" for="confirmPassword">Confirm New Password</label>
                                            <label for="error" *ngIf="passwordGroup.get('confirmPassword')?.invalid && passwordGroup.get('confirmPassword')?.touched && !this.passwordMismatch" class="error-alert">{{getConfirmPasswordErrorMessage()}}</label>
                                            <label for="error" *ngIf="passwordMismatch && passwordGroup.get('confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                                        </div>
                                        <div class="passwordInput">
                                            <input type="password"
                                                matInput
                                                id="confirmPassword"
                                                (focus)="showPasswordPopup()"
                                                (blur)="hidePasswordPopup(); checkPasswords()"
                                                placeholder="Confirm New Password"
                                                formControlName="confirmPassword"
                                                (copy)="preventCopyPaste($event)"
                                                (cut)="preventCopyPaste($event)" 
                                                (paste)="preventCopyPaste($event)"
                                                required>
                                            <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="passwordGroup.errors?.['passwordMismatch'] && (passwordGroup.touched || passwordGroup.dirty)" class="error-alert">
                                        Passwords do not match
                                    </div> -->
                                </div>
                                <div class="updatePasswordButtonContainer">
                                    <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                                    <!-- <button mat-button style="color:white" class="btn btn-updatePasswordButton" [disabled]="!isFormValid()" type="submit">Update</button> -->
                                    <button mat-button style="color:white" class="btn btn-updatePasswordButton" form="passwordForm" 
                                    type="submit" [disabled]="!isFormValid('password')" (click)="updateUserPassword()">Change</button>
                                </div>
                            </form>
                        </div>
                    </ng-container>
                </div>
              </div>

              <!-- Buttons On Mobile View for Editing Profile -->
              <div class="updateProfileButtonContainerMobile" [ngClass]="{'narrow': true}" *ngIf="currentState === ProfileState.EditingProfile">
                <button mat-button style="color:white" class="btn btn-cancelProfileButton mobile" type="button" (click)="cancelAction()">Cancel</button>
                <!-- <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" 
                        type="submit" [disabled]="!profileForm.form.valid">Update</button> -->
                <button mat-button style="color:white" class="btn btn-updateProfileButton mobile" form="profileForm" 
                type="submit" [disabled]="!isFormValid('profile')">Update</button>
            </div>

            </mat-card>  
        </fieldset> 
        </div>  
    </div>

</div>


