<div class="pageContainer">

    <ng-container *ngIf="!loadingComplete" class="spinnerContainer">
        <div class="spinner-overlay">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
            <div class="spinner-text">Loading...</div>
        </div>
    </ng-container>
    

    <div class="flexContainer" *ngIf="loadingComplete">
        <div class="nameTier">
            <h1 class="profileNameTier tierOne" id="tierOne" *ngIf="tierOne" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}"><span class="nameTierOne">Hi {{firstName}}!</span> <br>You're {{currentUser.tier | uppercase}}</h1>
            <h1 class="profileNameTier tierTwo"  id="tierTwo" *ngIf="tierTwo" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}"><span class="nameTierTwo">Hi {{firstName}}!</span> <br> You are <span class="mobileTierTwo">{{currentUser.tier | uppercase}}</span> </h1>
            <h1 class="profileNameTier tierThree" id="tierThree" *ngIf="tierThree" [ngClass]="{'firstTimeAnimation': firstTimeAnimation}"><span class="nameTierThree">Hi {{firstName}}!</span> You are {{currentUser.tier | uppercase}}</h1>
            <div class="arrowContainer" [ngClass]="{'firstTimeAnimation': firstTimeAnimation, 'narrow': true}">
                <div class="arrows">
                    <fa-icon [icon]="['fas', 'angle-down']" [ngClass]="{'narrow': true, 'arrow-size': true}" class="arrow-icon"></fa-icon>
                    <fa-icon [icon]="['fas', 'angle-down']" [ngClass]="{'narrow': true, 'arrow-size': true}" class="arrow-icon"></fa-icon>
                </div>
            </div>
        </div>

        <div class="profileContainer">
            <div class="deleteProfileContainer" [class.active]="currentState === ProfileState.DeletingProfile">
                <div class="absoluteContainer" *ngIf="currentState === ProfileState.DeletingProfile">
                    <div class="cancelSubscription">
                        <img class="warningImg" src="assets/Images/Exclamation.svg">
                        <h1 class="deleteProfileText" [ngClass]="{'wide': true}">You are about to <span class="underline">Cancel Your Membership.</span> <br>You will Lose All Access to Plan Specific <br> Content & All Access to the Store. <br>  Proceeding will Delete All Traces of Your Profile.<br> This Step Cannot be Undone. <br> Proceed with Caution! <br><br> You will be missed.</h1>
                        <h1 class="deleteProfileText" [ngClass]="{'narrow': true}"> You are about to <br> <span class="underline">Cancel Your Membership.</span> <br>You will Lose All Access to Plan Specific Content & All Access to the Store. Proceeding will Delete All Traces of Your Profile.<br> This Step Cannot be Undone. <br> Proceed with Caution! <br><br> You will be missed.</h1>
                        <div class="cancelSubscriptionButtonContainer">
                            <button mat-button style="color:white" class="btn btn-backButton" type="submit" (click)="cancelAction()">Keep <br> Subscription</button>
                            <button mat-button style="color:red" class="btn btn-cancelSubscriptionButtonFinal" id="cancelSub" (click)="goodbye()" type="submit">{{buttonText}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset id="deleteProfile" [class.active]="currentState === ProfileState.DeletingProfile" [disabled]="currentState === ProfileState.DeletingProfile">
           
            <mat-card class="profileInfo">
                <!-- [ngClass]="{'firstTimeAnimation': currentUser.tier === 'All In' && 'firstTimeAnimation'} -->
                <!-- 'box-shadow': tierThree ? '0 0 40px #C7FF20' : 'none' -->
                <div class="flexAllProfileData">
                    <!-- <div class="flexPictureAndButtons"> -->
                    <div class="profilePictureAndButtonsContainer">
                        <div class="profilePictureAndButtons">
                            <div class="profilePictureContainerForDragging" #container [ngClass]="{'draggable': canDrag()}" >
                                <!-- <p style="color: red; font-weight: bold">Position: {{ position.x }}, {{ position.y }}</p> -->
                                <p class="dragToCenter wide" *ngIf="canDrag() && isImageUrlFilled()">DRAG <br> TO <br> POSITION</p>
                                <div class="zoomButtons" *ngIf="canDrag() && isImageUrlFilled()">
                                    <fa-icon [icon]="['fas', 'minus']" class="zoomOut" [ngClass]="{'clicked': isOutClicked}" 
                                    (mousedown)="onMouseDown('minus')" 
                                    (mouseup)="onMouseUp('minus')" 
                                    (mouseleave)="onMouseLeave('minus')"
                                    (click)="zoomOut()"></fa-icon>
                                    <fa-icon [icon]="['fas', 'plus']" class="zoomIn" [ngClass]="{'clicked': isInClicked}" 
                                    (mousedown)="onMouseDown('plus')" 
                                    (mouseup)="onMouseUp('plus')" 
                                    (mouseleave)="onMouseLeave('plus')"
                                    (click)="zoomIn()"></fa-icon>
                                </div>
                                <p class="dragToCenter narrow" *ngIf="canDrag() && isImageUrlFilled()" [ngClass]="{'narrow': true}">DRAG</p>
                                <mat-card class="profilePicture" id="profilePicture" 
                                [ngStyle]="getProfileImageStyles()" 
                                [ngClass]="{'default-position': !isDragged, 
                                'firstTimeAnimation': firstTimeAnimation && tierThree, 
                                'tierThreeStyle': tierThree, 
                                'draggable': canDrag()}" 
                                (mousedown)="startDrag($event)"
                                (touchstart)="startDrag($event)" 
                                #profileImg>
                                <img class="avatar" src="assets/Images/avatar.png" *ngIf="!currentUser.imgUrl">
                                </mat-card>
                            </div>
                            <div class="editProfilePictureButtonsContainer">
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="!currentUser.imgUrl && (currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile)" (click)="changePicture()">Add Picture</button>
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="currentUser.imgUrl && (currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile)" (click)="changePicture()">Change Picture</button>
                                <button mat-button style="color:white" class="btn btn-editProfileButton" (click)="editProfile()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Edit Profile</button>
                                <button mat-button style="color:white" class="btn btn-changePasswordButton"(click)="changePassword()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}" [disabled]="profileForm.get('isGoogleAuth')?.value === true">Change Password</button>
                                <button mat-button style="color:white" class="btn btn-billingDetailsButton"id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Billing Details</button>
                                <button mat-button style="color:white" class="btn btn-cancelSubscriptionButton" (click)="deleteProfile()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Cancel Subscription</button>
                                <button mat-button style="color:white" class="btn btn-signOutButton" (click)="logOut()" id="buttonDisappearEdit" [ngClass]="{'narrow': true}">Sign Out</button>
                            </div>
                        </div>
                        <div class="editProfileButtonsContainer" *ngIf="currentState === ProfileState.Viewing || currentState === ProfileState.DeletingProfile">
                                <button mat-button style="color:white" class="btn btn-editProfileButton" (click)="editProfile()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Edit Profile</button>
                                <button mat-button style="color:white" class="btn btn-changePasswordButton"(click)="changePassword()" id="buttonDisappearEdit" [ngClass]="{'wide': true}" [disabled]="profileForm.get('isGoogleAuth')?.value === true">Change Password</button>
                                <button mat-button style="color:white" class="btn btn-billingDetailsButton"id="buttonDisappearEdit" [ngClass]="{'wide': true}">Billing Details</button>
                                <button mat-button style="color:white" class="btn btn-cancelSubscriptionButton" (click)="deleteProfile()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Cancel Subscription</button>
                                <button mat-button style="color:white" class="btn btn-signOutButton" (click)="logOut()" id="buttonDisappearEdit" [ngClass]="{'wide': true}">Sign Out</button>
                        </div>
                     </div>
                    <!-- </div> -->
                    <!-- [ngClass]="{'animateBoxShadow': currentUser.tier === 'All In' && firstTimeAnimationTierThree}" -->

                <div class="currentState" [ngSwitch]="currentState">
                  <!-- Viewing State -->
                  <ng-container *ngSwitchCase="ProfileState.Viewing">
                    <div class="profileDataContainer">
                        <h3 class="profileDetails name"><span class="spanProfileCategory">Name</span> <br> {{currentUser.name}}</h3>
                        <h3 class="profileDetails email"><span class="spanProfileCategory">Email Address</span> <br> {{currentUser.email}}</h3>
                        <h3 class="profileDetails DOB" *ngIf="currentUser.dateOfBirth"><span class="spanProfileCategory">Date Of Birth</span> <br>{{currentUser.dateOfBirth}}</h3>
                        <h3 class="profileDetails gender" *ngIf="currentUser.gender"><span class="spanProfileCategory">Gender</span> <br> {{currentUser.gender}}</h3>
                        <h3 class="profileDetails weight" *ngIf="currentUser.weight"><span class="spanProfileCategory">Weight</span> <br> {{currentUser.weight}}lbs</h3>
                        <h3 class="profileDetails height" *ngIf="currentUser.height"><span class="spanProfileCategory">Height</span> <br> {{displayHeight}}</h3>
                        <h3 class="profileDetails objective" *ngIf="currentUser.goals"><span class="spanProfileCategory">Objective</span> <br> {{currentUser.goals}}</h3>
                        <div class="planContainer">
                            <h3 class="profileDetails plan" *ngIf="currentUser.tier"><span class="spanProfileCategory">Plan</span> <br> {{currentUser.tier}}</h3>
                            <button mat-button style="color:white" class="btn-change" [routerLink]="['/change-plan/', currentUser.userId]">Change</button>
                        </div>
                        <h3 class="profileDetails" *ngIf="!freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> ${{currentUser.price}}/{{monthOrYear}}</h3>
                        <h3 class="profileDetails" *ngIf="freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> Free</h3>
                    </div>
                </ng-container>

                <!-- Edit Profile State -->
                <ng-container *ngSwitchCase="ProfileState.EditingProfile">
                    <div class="profileDataContainer">
                        <!-- <form (ngSubmit)="saveProfile()" id="profileForm">
                            <div class="updateOnlyPicture">
                                <h3 class="profileDetailsInput name"><span class="spanProfileCategory">Name</span> <br>  <input class="name" matInput placeholder="Enter Full Name" type="text" name="firstName" [(ngModel)]="currentUser.name"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Email Address</span><br> <input class="email"  matInput placeholder="Enter Email" type="text" name="email" [(ngModel)]="currentUser.email"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Date Of Birth</span> <br> <input placeholder="mm/dd/yy" matInput type="text" name="dateOfBirth" id="dob" [(ngModel)]="currentUser.dateOfBirth"></h3>
                                <h3 class="profileDetailsInputGender"><span class="spanProfileCategory">Gender</span> <br> 
                                    <select matNativeControl name="gender" id="gender" [(ngModel)]="currentUser.gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </h3>
                                <h3 class="profileDetailsInputWeight"><span class="spanProfileCategory">Weight</span><br> <input matInput pattern="[0-9]*" placeholder="Enter Weight in lbs" type="text" name="weight" id="weight" [(ngModel)]="currentUser.weight"></h3>
                                <h3 class="profileDetailsInputHeight"><span class="spanProfileCategory">Height</span><br> <input matInput placeholder="Enter Height in feet" type="text" name="height" id="height" [(ngModel)]="currentUser.height"></h3>
                                <h3 class="profileDetailsInputObjective"><span class="spanProfileCategory">Objective</span> <br>
                                    <select matNativeControl name="objective" id="objective" [(ngModel)]="currentUser.goals">
                                        <option value="Lose Fat">Lose Fat</option>
                                        <option value="Maintain Weight">Maintain Weight</option>
                                        <option value="Build Muscle">Build Muscle</option>
                                    </select>
                                </h3> 
                            </div>
                            <div class="profilePictureLinkContainer">
                                <h3 class="profileDetailsInputPhoto" *ngIf="!updatePassword"><span class="spanProfileCategory">Profile Picture Link</span> <br></h3>
                                <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" name="imgUrl" [(ngModel)]="currentUser.imgUrl">
                            </div>
                            <div class="updateProfileButtonContainer">
                                <button mat-button style="color:white" class="btn btn-cancelProfileButton" type="button" (click)="cancelAction()">Cancel</button>
                                <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" type="submit">Update</button>
                            </div>
                        </form>  -->
                        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" id="profileForm">
                            <div class="updateOnlyPicture">
                                <h3 class="profileDetailsInput name">
                                    <!-- <div class="titleError"> -->
                                        <span class="spanProfileCategory">Name</span><br>
                                        <!-- <label for="error" *ngIf="profileForm.get('name')?.invalid && (profileForm.get('name')?.dirty || profileForm.get('name')?.touched)" class="error-alert-input">Invalid</label> -->
                                    <!-- </div> -->
                                    <input class="name" matInput placeholder="Enter Full Name" name="name" 
                                    formControlName="name"
                                    trimOnBlur
                                    [value]="currentUser.name" required [ngStyle]="{'border-color': profileForm.get('name')?.invalid && (profileForm.get('name')?.dirty || profileForm.get('name')?.touched) ? 'red' : 'white'}">
                                    <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                        Name is required
                                    </mat-error> -->
                                </h3>
                                <h3 class="profileDetailsInput email">
                                    <span class="spanProfileCategory email">Email Address</span><br>
                                        <!-- <label for="error"
                                        *ngIf="this.stepForm.get('email')?.hasError('emailExists')"
                                        class="error-alert">Email exists</label>    -->
                   
                                    
                                    <!-- <input class="email" matInput placeholder="Enter Email" name="email" formControlName="email"
                                           [(ngModel)]="currentUser.email" required email [ngStyle]="{'border-color': email.invalid && (email.dirty || email.touched) ? 'red' : 'white'}" (blur)="checkEmail()"> -->
                                    <input class="email" matInput placeholder="Enter Email" 
                                           formControlName="email"
                                           [value]="currentUser.email"
                                           [attr.disabled]="profileForm.get('email')?.disabled ? '' : null"
                                           (blur)="checkEmail($event)"
                                           trimOnBlur
                                           [ngStyle]="{'border-color': profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched) || this.profileForm.get('email')?.hasError('emailExists') ? 'red' : 'white'}" required>
                                </h3>
                                <!-- <h3 class="profileDetailsInput">
                                    <span class="spanProfileCategory">Date Of Birth</span><br> -->
                                    <!-- <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth" 
                                           [(ngModel)]="currentUser.dateOfBirth" (blur)="validateAge()" pattern="^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/([0-9]{4})$"  maxlength="10" #dob="ngModel" [ngStyle]="{'border-color': dob.invalid && (dob.dirty || dob.touched) ? 'red' : 'white'}"> -->
                                     <!-- <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth" 
                                           [(ngModel)]="currentUser.dateOfBirth" (blur)="validateAge()" 
                                           pattern="^\d{2}/\d{2}/\d{4}$" maxlength="10" #dob="ngModel" 
                                           [ngStyle]="{'border-color': dob.invalid && (dob.dirty || dob.touched) ? 'red' : 'white'}"> -->
                                <h3 class="profileDetailsInputDOB">
                                    <div class="dateOfBirthSpanAndErrorContainer">
                                        <span class="spanProfileCategoryDOB">Date Of Birth</span><br>
                                        <!-- <label for="error" *ngIf="twentyOneError" class="errorTwentyOne">21+ Only</label> -->
                                    </div>
                                    <input placeholder="mm/dd/yyyy" matInput name="dateOfBirth"
                                            formControlName="dateOfBirth"
                                            [value]="currentUser.dateOfBirth"
                                            (blur)="validateAge()"
                                            pattern="^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/([0-9]{4})$"
                                            maxlength="10" 
                                            [ngStyle]="{'border-color': (!isValidAge || profileForm.get('dateOfBirth')?.invalid) && (profileForm.get('dateOfBirth')?.dirty || profileForm.get('dateOfBirth')?.touched) ? 'red' : 'white'}">
                                </h3>
                                
                                <h3 class="profileDetailsInputGender">
                                    <span class="spanProfileCategory">Gender</span><br>
                                    <select matNativeControl name="gender"[value]="currentUser.gender" formControlName="gender">
                                        <option value="" disabled selected>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </h3>
                                <h3 class="profileDetailsInputWeight">
                                    <span class="spanProfileCategory">Weight</span><br>
                                    <input matInput placeholder="Enter Weight in lbs (e.g., 245)" min="50" 
                                            formControlName="weight"
                                            max="600"  name="weight" type="text"
                                            [value]="currentUser.weight" pattern="^\d+(\.\d{1,2})?$" 
                                            step="0.01" 
                                            (blur)="isWeightValid()"
                                            [ngStyle]="{'border-color': !isWeightValid() && (profileForm.get('weight')?.dirty || profileForm.get('weight')?.touched) ? 'red' : 'white'}">
                                    <!-- <mat-error *ngIf="weight.invalid && (weight.dirty || weight.touched)">
                                        Please enter a valid weight (numbers only)
                                    </mat-error> -->
                                </h3>
                                
                                <h3 class="profileDetailsInputHeight">
                                    <span class="spanProfileCategory">Height</span><br>
                                    <input matInput 
                                           placeholder="Enter Height (e.g., 6.5 or 6'6&quot;)" 
                                           name="height"
                                           formControlName="height"
                                           [value]="currentUser.height" 
                                           (input)="onHeightInput($event)" 
                                           [ngStyle]="{'border-color': profileForm.get('height')?.invalid && (profileForm.get('height')?.dirty || profileForm.get('height')?.touched) ? 'red' : 'white'}">
                                    <!-- <span *ngIf="!isHeightValid() && heightTouched" style="color: red;">Invalid height format</span> -->
                                </h3>
                                <h3 class="profileDetailsInputObjective">
                                    <span class="spanProfileCategory">Objective</span><br>
                                    <select matNativeControl name="goals" [value]="currentUser.goals" formControlName="goals">
                                        <option value="" disabled selected>Select Objective</option>
                                        <option value="Lose Fat">Lose Fat</option>
                                        <option value="Maintain Weight">Maintain Weight</option>
                                        <option value="Build Muscle">Build Muscle</option>
                                    </select>
                                </h3>
                            </div>
                            <div class="profilePictureLinkContainer">
                                <h3 class="profileDetailsInputPhoto">
                                    <span class="spanProfileCategory">Profile Picture Link</span><br>
                                </h3>
                                <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" name="imgUrl" 
                                       formControlName="imgUrl"
                                       (input)="onImageUrlInput($event)"
                                       pattern="https?://.+" [ngStyle]="{'border-color': profileForm.get('imgUrl')?.invalid && (profileForm.get('imgUrl')?.dirty || profileForm.get('imgUrl')?.touched) ? 'red' : 'white'}">
                                <!-- <mat-error *ngIf="imgUrl.invalid && (imgUrl.dirty || imgUrl.touched)">
                                    Please enter a valid URL
                                </mat-error> -->
                            </div>
                            <div class="updateProfileButtonContainer" [ngClass]="{'wide': true}">
                                <button mat-button style="color:white" class="btn btn-cancelProfileButton" type="button" (click)="cancelAction()">Cancel</button>
                                <!-- <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" 
                                        type="submit" [disabled]="!profileForm.form.valid">Update</button> -->
                                <button mat-button style="color:white" class="btn btn-updateProfileButton" 
                                type="submit" [disabled]="!isFormValid('profile')" (click)="saveProfile()">Update</button>
                            </div>
                        </form>
                    </div>
                </ng-container>

                <!-- Deleting Profile State -->
                <ng-container *ngSwitchCase="ProfileState.DeletingProfile">
                    <div class="profileDataContainer">
                        <h3 class="profileDetails name"><span class="spanProfileCategory">Name</span> <br> {{currentUser.name}}</h3>
                        <h3 class="profileDetails email"><span class="spanProfileCategory">Email Address</span> <br> {{currentUser.email}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.dateOfBirth"><span class="spanProfileCategory">Date Of Birth</span> <br>{{currentUser.dateOfBirth}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.gender"><span class="spanProfileCategory">Gender</span> <br> {{currentUser.gender}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.weight"><span class="spanProfileCategory">Weight</span> <br> {{currentUser.weight}}lbs</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.height"><span class="spanProfileCategory">Height</span> <br> {{currentUser.height}}ft</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.goals"><span class="spanProfileCategory">Objective</span> <br> {{currentUser.goals}}</h3>
                        <div class="planContainer">
                            <h3 class="profileDetails plan" *ngIf="currentUser.tier"><span class="spanProfileCategory">Plan</span> <br> {{currentUser.tier}}</h3>
                            <button mat-button style="color:white" class="btn-change" [routerLink]="['/change-plan/', currentUser.userId]">Change</button>
                        </div>
                        <h3 class="profileDetails" *ngIf="!freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> ${{currentUser.price}}/{{monthOrYear}}</h3>
                    </div>
                </ng-container>

                <!-- Change Picture State -->
                <!-- <ng-container *ngSwitchCase="ProfileState.ChangingPicture">  
                    <form [formGroup]="pictureForm" (ngSubmit)="saveProfile()" id="pictureForm">
                    <div class="profilePictureLinkContainer">
                        <h3 class="profileDetailsInputPhoto"><span class="spanProfileCategory">Profile Picture Link</span> <br></h3>
                        <input class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" name="imgUrl" [(ngModel)]="currentUser.imgUrl">
                    </div>
                    <div class="savePictureButtonContainer">
                        <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                        <button mat-button style="color:white" class="btn btn-savePhotoButton" id="buttonDisappear" form="profileForm" type="submit" (click)="saveProfile()">Save Picture</button>
                    </div>
                </form>
                </ng-container> -->
                <ng-container *ngSwitchCase="ProfileState.ChangingPicture"> 
                    <div class="profilePictureFormContainer">
                    <form [formGroup]="pictureForm" (ngSubmit)="saveProfilePicture()">
                      <div class="profilePictureLinkContainer">
                        <h3 class="profileDetailsInputPhoto"><span class="spanProfileCategory">Profile Picture Links</span></h3>
                        <input matInput class="imgUrl" placeholder="Insert URL of Profile Picture" type="text" formControlName="imgUrl" (input)="onImageUrlInput($event)">
                      </div>
                      <div class="savePictureButtonContainer">
                        <button mat-button style="color:white" class="btn btn-cancelPhotoButton" type="button" (click)="cancelAction()">Cancel</button>
                        <button mat-button style="color:white" class="btn btn-savePhotoButton" type="submit">Save</button>
                      </div>
                    </form>
                </div> 
                </ng-container>

                <!-- Change Password State -->
                <ng-container *ngSwitchCase="ProfileState.ChangingPassword">
                        <div class="updatePassword">
                            <h3 class="profileDetailsChangePassword"><span class="spanProfileCategory">Change Password</span> <br> </h3>
                            <form [formGroup]="passwordForm" (ngSubmit)="updateUserPassword()" id="passwordForm">
                                <div class="oldPassword">
                                    <div class="input-details">
                                        <label class="label" for="oldPassword">Current Password</label>
                                        <label for="error" *ngIf="authenticating" class="authenticating">Authenticating</label>
                                        <label for="error" *ngIf="isOldPasswordError() && !authenticating" class="error-alert">{{oldPasswordError}}</label>
                                    </div>
                                    <div class="passwordInput">
                                        <input type="password"
                                            matInput
                                            id="oldPassword"
                                            formControlName="oldPassword"
                                            (blur)="checkOldPassword()"
                                            placeholder="Enter Current Password"
                                            required
                                            [ngStyle]="{'border-color': isOldPasswordError() ? 'red' : 'white'}">
                                        <fa-icon [icon]="oldPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="toggleOldPasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#oldPassword']"></fa-icon>        
                                    </div>
                                </div>        
                                <div formGroupName="passwordGroup">
                                    <div>
                                        <div class="input-details passwordRelative">
                                            <label class="label" for="password">New Password</label>
                                            <label for="error" *ngIf="passwordGroup.get('password')?.invalid && passwordGroup.get('password')?.touched && !this.passwordMismatch" class="error-alert">{{getPasswordErrorMessage()}}</label>
                                            <label for="error" *ngIf="passwordMismatch && passwordGroup.get('confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                                            <div class="popup" *ngIf="isPopupVisible">
                                                <p>Password must:</p>
                                                <ul>
                                                    <li>Be at least 8 characters long</li>
                                                    <li>Contain at least one uppercase letter</li>
                                                    <li>Contain at least one lowercase letter</li>
                                                    <li>Contain at least one number</li>
                                                    <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="passwordInput">
                                            <input type="password"
                                                matInput
                                                id="password"
                                                (focus)="showPasswordPopup()"
                                                (blur)="hidePasswordPopup()"
                                                placeholder="Enter New Password"
                                                formControlName="password"
                                                required
                                                [ngStyle]="{'border-color': passwordGroup.get('password')?.invalid && (passwordGroup.get('password')?.dirty || passwordGroup.get('password')?.touched) ? 'red' : 'white'}">
                                            <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-details focusedInput">
                                            <label class="label" for="confirmPassword">Confirm New Password</label>
                                            <label for="error" *ngIf="passwordGroup.get('confirmPassword')?.invalid && passwordGroup.get('confirmPassword')?.touched && !this.passwordMismatch" class="error-alert">{{getConfirmPasswordErrorMessage()}}</label>
                                            <label for="error" *ngIf="passwordMismatch && passwordGroup.get('confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                                        </div>
                                        <div class="passwordInput">
                                            <input type="password"
                                                matInput
                                                id="confirmPassword"
                                                (focus)="showPasswordPopup()"
                                                (blur)="hidePasswordPopup(); checkPasswords()"
                                                placeholder="Confirm New Password"
                                                formControlName="confirmPassword"
                                                (copy)="preventCopyPaste($event)"
                                                (cut)="preventCopyPaste($event)" 
                                                (paste)="preventCopyPaste($event)"
                                                required
                                                [ngStyle]="{'border-color': passwordGroup.get('confirmPassword')?.invalid && (passwordGroup.get('confirmPassword')?.dirty || passwordGroup.get('confirmPassword')?.touched) ? 'red' : 'white'}">
                                            <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="passwordGroup.errors?.['passwordMismatch'] && (passwordGroup.touched || passwordGroup.dirty)" class="error-alert">
                                        Passwords do not match
                                    </div> -->
                                </div>
                                <div class="updatePasswordButtonContainer">
                                    <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                                    <!-- <button mat-button style="color:white" class="btn btn-updatePasswordButton" [disabled]="!isFormValid()" type="submit">Update</button> -->
                                    <button mat-button style="color:white" class="btn btn-updatePasswordButton" form="passwordForm" 
                                    type="submit" [disabled]="!isFormValid('password')" (click)="updateUserPassword()">Change</button>
                                </div>
                            </form>
                        </div>
                    </ng-container>
                </div>
              </div>

              <!-- Buttons On Mobile View for Editing Profile -->
              <div class="updateProfileButtonContainerMobile" [ngClass]="{'narrow': true}" *ngIf="currentState === ProfileState.EditingProfile">
                <button mat-button style="color:white" class="btn btn-cancelProfileButton mobile" type="button" (click)="cancelAction()">Cancel</button>
                <!-- <button mat-button style="color:white" class="btn btn-updateProfileButton" form="profileForm" 
                        type="submit" [disabled]="!profileForm.form.valid">Update</button> -->
                <button mat-button style="color:white" class="btn btn-updateProfileButton mobile" form="profileForm" 
                type="submit" [disabled]="!isFormValid('profile')" (click)="saveProfile()">Update</button>
            </div>

            </mat-card>  
        </fieldset> 
        </div>  
    </div>

</div>


