<div class="pageContainer">

    <div class="flexContainer">
        <div class="nameTier">
            <h1 class="profileNameTier" *ngIf="tierOne">Hi {{firstName}}! <br> You're <br> {{currentUser.tier | uppercase}}</h1>
            <h1 class="profileNameTier" *ngIf="tierTwo">Hi {{firstName}}! You, are {{currentUser.tier | uppercase}} </h1>
            <h1 class="profileNameTier" *ngIf="tierThree">Hi {{firstName}}! <br> You are {{currentUser.tier | uppercase}} </h1>
        </div>

        <div class="profileContainer">
            <div class="deleteProfileContainer" *ngIf="classAppliedDeleteProfile">
                <div class="absoluteContainer">
                    <img class="warningImg" src="assets/Images/Exclamation.svg">
                    <h1 class="deleteProfileText">You are about to <span class="underline">Cancel Your Membership.</span> <br>You will Lose All Access to Plan Specific <br> Content & All Access to the Store. <br>  Proceeding will Delete All Traces of Your Profile.<br> This Step Cannot be Undone. <br> Proceed with Caution... <br><br> You will be Missed!</h1>
                    <div class="cancelSubscriptionButtonContainer">
                        <button mat-button style="color:white" class="btn btn-backButton" type="submit" (click)="toggleDelete()">Keep <br> Subscription</button>
                        <button mat-button style="color:red" class="btn btn-cancelSubscriptionButtonFinal" id="cancelSub" (click)="goodbye()" type="submit">Cancel Subscription</button>
                    </div>
                </div>
            </div>

            <fieldset id="deleteProfile" [class.active]="classAppliedDeleteProfile" [disabled]="classAppliedDeleteProfile">
                
            <mat-card class="profileInfo">

                <div class="flexAllProfileData">
                    <mat-card class="profilePictureContainer" [ngStyle]="{'background-image': 'url(' + currentUser.imgUrl + ')'}">
                        <img class="avatar" src="assets/Images/avatar.png" *ngIf="!currentUser.imgUrl">
                            <div class="editButtonsContainer">
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="!currentUser.imgUrl && saveOrChange == false" (click)="toggleProfile()">Add Picture</button>
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="currentUser.imgUrl && saveOrChange == false" (click)="toggleProfile()">Change Picture</button>
                                <button mat-button style="color:white" class="btn btn-editPhotoButton" *ngIf="saveOrChange == true" id="buttonDisappear" (click)="toggleProfile()" form="profileForm" type="submit" (click)="editProfile()" [class.active]="classApplied">Save Picture</button>
                                <button mat-button style="color:white" class="btn btn-editProfileButton" *ngIf="!editOrUpdate" (click)="toggleEditProfile()" id="buttonDisappearEdit" [class.active]="classAppliedTwo">Edit Profile</button>
                                <button mat-button style="color:white" class="btn btn-cancelSubscriptionButton" *ngIf="!editOrUpdate" (click)="toggleDelete()" id="buttonDisappearEdit" [class.active]="classAppliedTwo">Cancel Subscription</button>
                                <button mat-button style="color:white" class="btn btn-signOutButton" *ngIf="!editOrUpdate" (click)="logOut()" id="buttonDisappearEdit" [class.active]="classAppliedTwo">Sign Out</button>

                            </div>
                    </mat-card>
                    <div class="profileDataContainer" *ngIf="!editProfileToggle">
                        <h3 class="profileDetails"><span class="spanProfileCategory">Name</span> <br> {{currentUser.name}}</h3>
                        <h3 class="profileDetails"><span class="spanProfileCategory">Email Address</span> <br> {{currentUser.email}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.dateOfBirth"><span class="spanProfileCategory">Date Of Birth</span> <br>{{currentUser.dateOfBirth}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.gender"><span class="spanProfileCategory">Gender</span> <br> {{currentUser.gender}}</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.weight"><span class="spanProfileCategory">Weight</span> <br> {{currentUser.weight}}lbs</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.height"><span class="spanProfileCategory">Height</span> <br> {{currentUser.height}}ft</h3>
                        <h3 class="profileDetails" *ngIf="currentUser.goals"><span class="spanProfileCategory">Objective</span> <br> {{currentUser.goals}}</h3>
                        <div class="planContainer">
                            <h3 class="profileDetails plan" *ngIf="currentUser.tier"><span class="spanProfileCategory">Plan</span> <br> {{currentUser.tier}}</h3>
                            <button mat-button style="color:white" class="btn-change" [routerLink]="['/change-plan/', currentUser.userId]">Change</button>
                        </div>
                        <h3 class="profileDetails" *ngIf="!freeTier"><span class="spanProfileCategory">Plan Pricing</span> <br> ${{currentUser.price}}/{{monthOrYear}}</h3>
                    </div>
                    <div class="profileDataContainer" *ngIf="editProfileToggle">
                        <form (ngSubmit)="editProfile()" id="profileForm">
                            <div class="updateOnlyPicture" *ngIf="onlyProfilePicture">
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Name</span> <br>  <input class="name" placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="currentUser.name"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Email Address</span><br> <input class="email" placeholder="Enter Email" type="text" name="email" [(ngModel)]="currentUser.email"></h3>
                                <h3 class="profileDetailsInput"><span class="spanProfileCategory">Date Of Birth</span> <br> <input placeholder="Enter Date of Birth" type="text" name="dateOfBirth" id="dob" [(ngModel)]="currentUser.dateOfBirth"></h3>
                                <h3 class="profileDetailsInputGender"><span class="spanProfileCategory">Gender</span> <br> 
                                    <select name="gender" id="gender" [(ngModel)]="currentUser.gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </h3>
                                <h3 class="profileDetailsInputWeight"><span class="spanProfileCategory">Weight</span><br> <input placeholder="Enter Weight in lbs" type="text" name="weight" id="weight" [(ngModel)]="currentUser.weight"></h3>
                                <h3 class="profileDetailsInputHeight"><span class="spanProfileCategory">Height</span><br> <input placeholder="Enter Height in feet" type="text" name="height" id="height" [(ngModel)]="currentUser.height"></h3>
                                <h3 class="profileDetailsInputObjective"><span class="spanProfileCategory">Objective</span> <br>
                                    <select name="objective" id="objective" [(ngModel)]="currentUser.goals">
                                        <option value="Lose Fat">Lose Fat</option>
                                        <option value="Maintain Weight">Maintain Weight</option>
                                        <option value="Build Muscle">Build Muscle</option>
                                    </select>
                                </h3> 
                            </div>
                            <h3 class="profileDetailsInputPhoto"><span class="spanProfileCategory">Profile Picture Link</span> <br> <input placeholder="Insert URL of Profile Picture" type="text" name="imgUrl" [(ngModel)]="currentUser.imgUrl"></h3>
                            <button mat-button style="color:white" class="btn btn-updateProfileButton" *ngIf="editOrUpdate" (click)="toggleEditProfile()" form="profileForm" type="submit" (click)="editProfile()">Update Profile</button>
                        </form>    
                    </div>
                </div>
                
            </mat-card>      
        </fieldset> 
        </div>  

    </div>

</div>


