* {
    font-family: 'Outfit', sans-serif;
}

.background {
    position: relative;
    background-color: #C7FF20;
    margin-top: -80px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay{
    display: flex;
    justify-content: space-evenly;
    padding-top: 16rem;
    margin: auto;
}

mat-card {
    width: 25rem;
    height: 25rem;
    border-radius: 8px;
}

.logo{
    font-size: 1.5rem;
}

input {
    display: inline-block;
    width: 21.8rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.063rem solid black;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    color: black;
    background-color: white;
    font-size: 1rem;
}

input#password{
    margin-bottom: 0.4rem; 
}

input:focus,
input:valid {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.input-details {
    display: flex;
    justify-content: space-between;
    width: 15.437rem;
}

.btn {
    border-radius: 6px;
}

.btn-submit:disabled {
    background-color: rgb(174, 174, 174);
    border-color: rgb(174, 174, 174);
    color: rgb(113, 113, 113);
}

.btn-submit {
    background-color: #C7FF20;
    border-color: #C7FF20;
    color: black;
}

.logoImage{
    width: 13rem;
    height: 4rem;
    margin-top: 15px;
}

.showHide{
    padding-left: 20%;
}
      
span.buttonSpan{
    padding-left: 19rem;
}

.errorSpan{
    text-align: center;
    padding-top: 3rem, 1rem, 1rem, 1rem;
}

::placeholder{
    font-size: 1rem;
}

p{
    margin-top: 0.3rem;
}



