<div class="container">
        <!-- If New Subscriber and free tier -->
        <div class="signUp" *ngIf="!loggedIn && !checkout">
                <a *ngIf="activeStep$ > 1 && activeStep$ <= 4" (click)="goBack()">Go Back</a>
                <!-- <a>Go Back</a> -->
        </div>

        <!-- If logged in and upgrading/changing tier from free tier -->
        <div class="upgrade" *ngIf="loggedIn && !payment && !checkout">
                <a *ngIf="activeStep$ > 1 && activeStep$ <= 2" (click)="goBack()">Go Back</a>
        </div>

        <!-- If logged in and upgrading/changing tier from paid tier -->
        <div class="upgrade" *ngIf="loggedIn && payment && !checkout">
                <a *ngIf="activeStep$ > 1 && activeStep$ <= 3" (click)="goBack()">Go Back</a>
        </div>

        <!-- If New Subscriber -->
        <div class="upgrade" *ngIf="!loggedIn && !checkout" >
                <button class="btn btn-next" mat-button *ngIf="activeStep$ < 3 || (activeStep$ === 3 && planCost > 0) "
                        [disabled]="stepForm.controls['personalDetails'].valid === false" (click)="nextStep()" type="button">Next
                        Step</button>
                <button class="btn btn-confirm" mat-button
                        *ngIf="activeStep$ === 4 || (activeStep$ === 3 && planCost === 0)"
                        [disabled]="!(stepForm.controls['paymentDetails'].valid || (activeStep$ === 3 && planCost === 0))"
                        (click)="confirmAndSubmitForm()" type="button" tabindex="0">Confirm</button>
        </div>

        <!-- If current subscriber and not tier one -->
        <div class="upgrade" *ngIf="loggedIn && !payment && !checkout">
                <button class="btn btn-next" mat-button *ngIf="activeStep$ < 2"
                        [disabled]="stepForm.controls['planDetails'].valid === false" (click)="nextStep()" type="button">Next
                        Step</button>
                <button class="btn btn-confirm" mat-button *ngIf="activeStep$ === 2"
                 (click)="confirmAndSubmitForm()"
                type="button" tabindex="0">Confirm</button>
                </div>

        <!-- If current subscriber and tier one -->
        <div class="upgrade" *ngIf="loggedIn && payment && !checkout">
        <button class="btn btn-next" mat-button *ngIf="activeStep$ < 3"
                        [disabled]="stepForm.controls['planDetails'].valid === false" (click)="nextStep()" type="button">Next
                        Step</button>
        <button class="btn btn-confirm" mat-button *ngIf="activeStep$ === 3" 
                        [disabled]="stepForm.controls['paymentDetails'].valid === false"
                        (click)="confirmAndSubmitForm()"
                        type="button" tabindex="0">Confirm</button>
        </div>

        <!-- If current subscriber, tier one and needs to checkout -->
        <div class="upgrade" *ngIf="checkout">
                <button class="btn btn-confirm" mat-button *ngIf="activeStep$ < 2"
                [disabled]="stepForm.controls['paymentDetails'].valid === false"
                (click)="purchase()" type="button" tabindex="0">Confirm</button>
         </div>
