<div class="background">
    <div class="textContainer">
        <h1 class="changeTierText">Change Plan</h1>
    </div>
    <div class="cardContainer">
        <mat-card class="card">
            <mat-card-content class="cardContent">
                <div class="innerCardContainer">
                    <mat-card class="innerCardTwo">
                        <app-form></app-form>
                        <app-progression-buttons></app-progression-buttons>
                    </mat-card>
                </div>
           </mat-card-content> 
        </mat-card>  
    </div>
   
</div>
