:host {
  position: fixed;
  bottom: 30%;
  left: 45%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.container {
  height: 72px;
  width: 28.5rem;
  padding: 2rem;
}

.btn {
  padding: 0.3rem;
  border-radius: 6px;
}

.btn-next{
  letter-spacing: 0.9px;
}

.btn-confirm{
  padding: 0.58rem;
}

.btn-next,
.btn-confirm {
  margin: 1rem 0 1rem auto;
}

.btn-confirm {
  background-color: #C7FF20;
  color: black;
}

a {
  position: absolute;
  top: 20%;
  right: 84%;
  padding: 0.2rem;
}

a:hover {
  text-shadow: 0 0 7px #71BBF5;
  cursor: pointer;
}

.btn-next:disabled,
.btn-confirm:disabled {
  background-color: rgb(174, 174, 174);
  border-color: rgb(174, 174, 174);
  color: rgb(113, 113, 113);
}

@media (min-width: 37.5em) {
  :host {
    width: 28.125em;
    position: relative;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .btn-next,
  .btn-confirm {
    position: absolute;
    top: 0%;
    right: 9%;
    background-color: #C7FF20;
    border-color: #C7FF20;
    cursor: pointer;
  }

  @media screen and (min-width: 500px) and (max-width: 892px) {

    :host {
      position: absolute;
      bottom: 6%;
      left: 20%;
      background-color: rgb(255, 255, 255);
      border-radius: 0.5rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }


    /* .container{
      margin: auto;
    } */
  }


}