<div class="container">
        <div class="signUp" *ngIf="!loggedIn">
                <a *ngIf="activeStep$ > 1 && activeStep$ <= 4" (click)="goBack()">Go Back</a>
        </div>
        <div class="upgrade" *ngIf="loggedIn">
                <a *ngIf="activeStep$ > 1 && activeStep$ <= 2" (click)="goBack()">Go Back</a>
        </div>
        <div class="upgrade" *ngIf="!loggedIn">
                <button class="btn btn-next" mat-button *ngIf="activeStep$ < 3 || (activeStep$ === 3 && planCost > 0) "
                        [disabled]="stepForm.controls['personalDetails'].valid === false" (click)="nextStep()">Next
                        Step</button>
                <button class="btn btn-confirm" mat-button
                        *ngIf="activeStep$ === 4 || (activeStep$ === 3 && planCost === 0)"
                        [disabled]="!(stepForm.controls['paymentDetails'].valid || (activeStep$ === 3 && planCost === 0))"
                        (click)="confirmAndSubmitForm()" type="button">Confirm</button>
        </div>
        <div class="upgrade" *ngIf="loggedIn">
                <button class="btn btn-next" mat-button *ngIf="activeStep$ < 2"
                        [disabled]="stepForm.controls['planDetails'].valid === false" (click)="nextStep()">Next
                        Step</button>
                <button class="btn btn-confirm" mat-button *ngIf="activeStep$ === 2" (click)="confirmAndSubmitForm()"
                        type="button">Confirm</button>
        </div>


</div>

<!-- || activeStep$ === 3 && stepForm.controls['planDetails'].value !== 'Just Looking' -->

<!-- | activeStep$ === 3 && planDetails.plan === 'Just Looking' -->

<!-- || stepForm.controls['paymentDetails'].valid === false -->

<!-- || activeStep$ === 3 && stepForm.controls['personalDetails'].value === 'Just Looking' -->