.background {
    position: relative;
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoBackground {
    /* transform: scale(130%, 130%); */
    position: absolute;
    /* overflow: hidden; */
    object-fit: fill;
    z-index: 0;
    /* background-size: 100% 100%; */
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-bottom: 5%;
}

/* p{
    color: white;
} */

/* .video{
    position: absolute;
    z-index: 1; */
/* background: url("src/assets/Videos/AdobeStock_167036386_Video_HD_Preview.mp4") no-repeat; */
/* background-size: 100% 100%;
    top: 0px;
    left: 0px; fixed to left. Replace it by right if you want.
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
} */


.overlay {
    position: absolute;
    top: 30%;
    bottom: 45%;
    left: 15%;
    right: 0;
    margin: auto;
    z-index: 1;
}


.textContainer {
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.welcome {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    animation: fade-in 2s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

    /* to{
            opacity: 0;
        } */
}

.otherText {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: white;
    font-size: 5vw;
    margin: 0 0 0 -5px;
    padding: 0;
    animation: zoomIn 0.25s;
    animation-iteration-count: infinite;
    line-height: 5vw;
    animation: fade-in-two 2s linear;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: both;
}

@keyframes fade-in-two {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.overlayTwo {
    position: absolute;
    top: 45%;
    bottom: 100%;
    left: 1.5%;
    z-index: 1;
    width: 35vw;
}

.card {
    position: absolute;
    background-color: #C7FF20;
    /* opacity: 93%; */
    /* opacity: 75%; */
    left: 40%;
    /* right: 190px; */
    top: 18%;
    height: 700px;
    width: 900px;
    border-radius: 8px;
    /* -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
    opacity: 85%;
    /* animation: fade-in 2s linear;
    animation-delay: 8s;
    opacity: 0;
    animation-fill-mode:none; */
}

/* .card::after{
    opacity: 0.5;
} */

.innerCardContainer{
    display: flex;
    justify-content: space-between;
    
}



.innerCardOne{
    display:flex;
    justify-content: space-between;
    height: 670px;
    width: 250px;
    background-color: black;
    /* opacity: 93%; */
    /* padding: 0;/ */
    /* margin-left:-15.7px;
    margin-top: -15.7px; */
    /* top: 19.6%;
    left: 40.9%; */
    /* padding-right: 30px;/ */
    /* /* opacity:100%; */
     /* background:rgba(22, 22, 22, 0.6); */
}

.innerCardTwo{
    display:flex;
    position: relative;
    justify-content: space-between;
    height: 670px;
    width: 603px;
    /* background-color: rgb(47, 45, 45); */
    background-color: white;
    opacity: 100%;
    /* top: 19.6%;
    left: 40.9%; */
    /* padding-right: 30px;/ */
    /* /* opacity:100%; */
     /* background:rgba(22, 22, 22, 0.6); */

}

/* .stateTwo{
        display:absolute;
        height: 670px;
        width: 500px;
        background-color: #C7FF20;;
        top: 19.6%;
        left: 45.9%;
} */

/* mat-stepper {
    background-color: black;
}

mat-step-icon-state-number {
    color: none;
} */


/* .cardContainer{
    display: flex;
    /* justify-content: space-around; */
    
/* } */

.alreadyMemberText{
   position: absolute;
   top:88%;
   left:33%;
   right: 0;
   /* bottom: 5%; */
   /* color: white; */
   cursor: pointer;
   /* z-index: 2; */
   padding: 0;
   z-index: 100;
}

.alreadyMemberText p{
    color: black;
}

.highlight{
    font-weight: bold;
    color:black;
}

/* .opaqueCard{
    display:flex;
    position: absolute;
    justify-content: right;
    height: 670px;
    width: 603px;
    background-color: rgb(47, 45, 45);
    opacity: 100%;
    left: 56.4%;
    top: 19.5%;
} */