<div class="background">
        <div class="overlay">
            <div class="textContainer">
                <h1 class="welcome">Welcome</h1>
            </div>
            <div class="overlayTwo">
                <div class="textContainer">
                    <h1 class="otherText" routerLink="/signup">You're in <br> the <br> right <br> place.</h1>
                </div>
            </div>
        </div>
            <video class="videoBackground" id="videoBanner" width="100%" oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay
            loop playsinline>
            <source src="assets/Videos/AdobeStock_167036386_Video_HD_Preview.mp4" type="video/mp4"> 
            Your browser does not support the video tag.
            [autoPlay]="true";
        </video>
    

        <mat-card class="card">
            <mat-card-content class="cardContent">
               <mat-card class="state">

               </mat-card>
            </mat-card-content>
        </mat-card>  
        

    </div>

