* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif !important;
    user-select: none;
}

:root {
    --footer-height: 60px;
}

html { 
    height: 100%; 
    width: 100%; 
    margin:0; 
    box-sizing: border-box
}

body {
    min-height: 100%;
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    margin: auto; */
    /* font-family: 'Outfit', sans-serif; */
    padding-top: 80px;
    overflow:auto;
    background:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

@font-face {
    font-family: "Outfit";
    src: url('./assets/Fonts/Outfit-VariableFont_wght.ttf'), format('ttf');
    font-display: swap;
}


@font-face {
    font-family: "Roboto Mono";
    src: url('./assets/Fonts/RobotoMono-VariableFont_wght.ttf'), format('ttf');
    font-display: swap;
    font-style: normal;
    
}

@font-face {
    font-family: "Roboto Mono";
    src: url('./assets/Fonts/RobotoMono-Italic-VariableFont_wght.ttf'), format('ttf');
    font-display: swap;
    font-style: italic;
}


/* ::-webkit-scrollbar
{
    background: transparent;
    width: 10px
} 

::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 64);
    border-radius: 200px;
    padding-right: 2px;
    width: 3px;
} */

/* ::-webkit-scrollbar-corner {
    background: black;
    border-radius: 10px;
} */


