.mat-button-toggle-group {
  /* @include variables.flexCenter(column); */
  flex-direction: column !important;
  border: none;
  width: 20.4rem;
  margin: 0 0 1rem 0;
}

mat-button-toggle {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.625rem;
  border: 0.063rem solid white;
  margin: 0.5rem 0;
}

.mat-button-toggle-checked {
  border: 0.063rem solid #C7FF20;
  background-color: rgb(219, 214, 224);
}

button .mat-button-toggle-button,
.plan {
  height: 4.8rem;
}

.mat-button-toggle-label-content{
  padding: 0 !important;
}

.plan {
  padding: 1rem 0;
  width: 100%;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto 1rem auto 0;
}

#card1{
background: url('src/assets/Images/JustLooking.svg');
background-size: cover;
}

#card2{
  background: url('src/assets/Images/Motivated.svg');
  background-size:cover;
  color: white;
}

#card2 .plan_title{
  font-size: 1.3rem;
  color: white;
}

#card2 .promo{
  color: white;
}

#card3{
  background: url('src/assets/Images/AllIn.svg');
  background-size: cover;
}

.details {
  height: 8.25rem;
  padding-top: .5rem;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.5rem;
}

.details * {
  display: block;
}

.plan_title {
  font-size: 1.3rem;
  color: black;
  /* @include variables.body-primary-xs; */
}

.price {
  /* @include variables.body-primary-l; */
  font-size: .875rem;
  font-weight: 800;
}

.promo {
  /* @include variables.body-secondary-s; */
  color: rgb(0, 0, 0);
}

.toggle-area {
  height: 3rem;
  border-radius: .5rem;
  border-radius: 0.625rem;
  background-color: rgb(214, 214, 214);
  /* @include variables.flexCenter(row); */
}

.toggle {
  width: 100%;
  width: 11.4rem;
  /* @include variables.flexSpaceBetween(row); */
}

label {
  height: 1rem;
  width: 3.4rem;
  color: #C7FF20;
  /* @include variables.body-primary-xs; */
  font-size: .875rem;
}

.checked {
  color: black;
}

.mat-button-toggle{
  color:black;
}

.mat-slide-toggle-checked{
  color:#C7FF20;
}

md-slide-toggle{
  color:#C7FF20;
}

@media (min-width: 37.5em) {

  .mat-button-toggle-group {
    border: none;
    width: 28.125em;
    margin: 1rem 0 2rem 0;
    flex-direction: row !important;
  }

  mat-button-toggle {
    width: 9.625rem;
    height: 12rem;
    margin-right: 1.125rem;
    /* @include variables.flexSpaceBetween(column); */
    align-items: baseline;
    text-align: left;
    margin: 0;
  }

  .plan {
    height: 10rem;
    /* @include variables.flexSpaceBetween(column); */
    align-items: baseline;
  }

  img {
    margin-top: 0;
  }

  .details {
    height: 4.25rem;
  }

  .toggle {
    height: 100%;
  }

  label {
    width: 3.4rem;
  }

  mat-slide-toggle {
    width: 2rem;
  }
}