:host {
  height: 11rem;
  position: relative;
  top: -1rem;
  justify-content: flex-start;
}

.step-display {
  padding-left: 5rem;
  padding-top: 3rem;
  color: black;
  height: 6.25rem;
}

.step_number {
  width: 2.1rem;
  height: 2.1rem;
  border: 0.063rem solid #C7FF20;
  color: #C7FF20;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.step_number.selected {
  background-color: #C7FF20;
  border: 0.063rem solid #C7FF20;
  color: black;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  text-align: center;
  line-height: 32px;
}

.step_details {
  display: none;
}

@media (min-width: 30.5em) {
  :host {
    height: 35.5rem;
    width: 274px;
    top: 0;
    border-radius: 0.625rem;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 2.5rem;
    padding-left: 2rem;
  }

  .step_title {
    line-height: 1rem;
    color: rgb(255, 255, 255);
  }

  .step_description {
    font-weight: 700;
    color: navajowhite;
    text-transform: uppercase;
  }

  .step-display {
    height: 228px;
    width: 153px;
    justify-content: flex-start;
  }

  .step {
    margin-bottom: 2rem;
  }

  .step_details {
    display: contents;
    width: 86px;
    align-items: baseline;
  }
}

@media screen and (min-width: 500px) and (max-width: 892px) {

  .step-display {
    padding-left: 0rem;
    padding-top: 5.5rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .step_details {
    display: none;
  }

  .step_number {
    width: 3.1rem;
    height: 3.1rem;
    border: 0.063rem solid #C7FF20;
    color: #C7FF20;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
  }

  .step_number.selected {
    background-color: #C7FF20;
    border: 0.063rem solid #C7FF20;
    color: black;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
    text-align: center;
    line-height: 3rem;
  }

}