<div class="background"></div>

    <div class="overlay">
        <mat-card>
          <mat-card-header>
            <div class="logoImage">
              <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
            </div>
          </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="signIn()" #loginForm="ngForm">

        <!-- User Name input -->
        <div class="input-details">
            <label for="email">User Name</label>
          </div>
          <input type="text"
                 matInput
                 name="email"
                 id="email"
                 placeholder="Enter your email"
                 [(ngModel)]="email"
                 required>

        <!-- password input -->
          <div class="input-details">
            <label for="password">Password</label>
          </div>
          <div class="passwordInput">
            <input type="password"
                 matInput 
                 appPassword
                 name="password"
                 id="password"
                 placeholder="Enter your password"
                 [(ngModel)]="password"
                 required>
            <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
          </div>
                <span class="errorSpan"><p *ngIf="errorMessage">Invalid Username or Password! Try again.</p></span>
                <span class="buttonSpan">
                  <button class="btn btn-submit" mat-button
                  [disabled]="loginForm.form.invalid"
                  (click)="signIn()">Log In</button>
                 </span>
                </form>
                <p class="forgotPassword">Forgot Password? <span class="resetPassword" routerLink="/reset-password">Reset it now</span></p>  
            </mat-card-content>
        </mat-card>
    </div>



