<h1>Cart</h1>

<div *ngIf="cart.totalCount > 0">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.product.productUrl" [alt]="cartItem.product.productName">
            </div>
            <div>
                <a>{{cartItem.product.productName}}</a>
            </div>
            <div>
                <select #quantitySelect [value]="cartItem.quantity" (change)="changeQuantity(cartItem, quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>

                </select>
            </div>
            <div>
                ${{cartItem.price}}
            </div>
            <div>
                <button (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>

        </li>
    </ul>
    <div>
        <div>{{cart.totalCount}}</div>
        <div>${{cart.totalPrice}}</div>
    </div>
    <button routerLink="/checkout" (click)="checkoutCart()">Proceed to Checkout</button>
</div>

<div *ngIf="cart.totalCount === 0">
    Your cart is empty
</div>
