* {
  font-family: 'Outfit', sans-serif;
  }

  mat-card{
    width: 32.8rem;
    max-width: 700px;
    height: 26rem;
    margin-left: 0.6rem;
  }

span {
  display: contents;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0;
}
mat-card-content{
  height: 16rem;
}

table {
  height: fit-content;
  margin: 2rem auto 2rem auto;
  padding: 1.3rem;
  width: 35.4rem;
  background-color: rgb(231, 230, 230);
  border-radius: .5rem;
}

mat-divider {
  color: rgb(0, 0, 0);
  height: 0.125rem;
  width: 100%;
  border-radius: 0;
  opacity: .2;
}

.mat-card-content {
  height: fit-content;
}

th {
  height: 4rem;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 31rem;
}

.type {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 3rem;
  font-size: larger;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
}

button {
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  letter-spacing: 0;
}


.btn-change:hover {
  color: rgb(0, 0, 0);
}

.cost {
  font-size: 0.875rem;
}

div.cost{
  width: 9.3rem;
}

.total {
  width: 100%;
  padding: 0 0 2rem 0.5rem;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.total .cost {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

input[matInput]:focus {
  border-color: #000000 !important; /* Change the border color when focused */
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 1px #000000 !important; /* Add a shadow with the focus color */
  color: #000000 !important; /* Change the text color when focused */
}

input[matInput]:focus::placeholder {
  color: #000000 !important; /* Change the placeholder color when focused */
}


@media (min-width: 30.5em) {

  table {
    display: flex;
    flex-direction: row;
    width: 30.7rem;
  }

  th {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .type {
    height: auto;
  }

  button {
    margin-top: .5rem;
    padding: 1rem;
  }

  tr {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 300px) and (max-width: 872px) {

.step-three{
  margin-top: 0;
  padding-top: 0;
  width: 28rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

table {
  display: flex;
  flex-direction: row;
  width: 26rem;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 26rem;
}


}
