<div class="background">
    <div class="containerFlex">
        <div class="textContainer">
            <h1 class="checkOutText">Checkout</h1>
        </div>
        <div class="cardContainer">
            <mat-card class="card">
                <mat-card-content class="cardContent">
                    <div class="innerCardContainer">
                        <mat-card class="innerCardTwo">
                            <div class="column">
                                <app-step-four-payment></app-step-four-payment>
                            </div>
                            <!-- <app-form [loggedIn]="userLoggedIn"></app-form>
                            <app-progression-buttons [loggedIn]="userLoggedIn"></app-progression-buttons> -->
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>

