.background {
    width: 100%;
    height: 100%;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    padding-top: 12rem;
    padding-right: 5rem;
    
    /* justify-content: space-around; */
}

.checkOutText {
    color: white;
    font-weight: 500;
    text-align: left;
    font-size: 7vw;
    padding-left: 1rem;
    padding-right: 8rem;
    padding-top: 2.5rem;
    text-align: center;
    line-height: 7rem;
    /* height: 100rem; */
    /* padding-bottom: 0rem; */
}

.changeTierTextTwo {
    color: white;
    font-weight: 500;
    text-align: left;
    font-size: 7vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    text-align: center;
    line-height: 8rem;
    /* height: 100rem; */
    /* padding-bottom: 0rem; */
}

.cardContainer {
    /* display: flex;
    justify-content: space-around; */
    padding-top: 5rem;
    padding-right: 0.8rem;
}

.card {
    /* position: absolute; */
    background-color: #000000;
    /* opacity: 93%; */
    /* opacity: 75%; */
    /* left: 24%;
    right: 25%; */
    /* right: 190px; */
    /* top: 20%;
    bottom: 20%; */
    height: 41.5rem;
    width: 55rem;
    border-radius: 1.4rem;
    /* -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
    opacity: 100%;
    /* animation: fade-in 2s linear;
    animation-delay: 8s;
    opacity: 0;
    animation-fill-mode:none; */
    z-index: 3;
}

.innerCardTwo {
    /* display:flex; */
    /* position: relative; */
    justify-content: space-between;
    height: 600px;
    width: 800px;
    /* background-color: rgb(47, 45, 45); */
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    /* top: 19.6%;
    left: 40.9%; */
    /* padding-right: 30px;/ */
    /* /* opacity:100%; */
    /* background:rgba(22, 22, 22, 0.6); */

}

.column {
    width: 41.8rem;
    /* @include variables.flexSpaceBetween(column); */
    height: 35.5rem;
    /* padding-top: 3.5rem; */
    padding-bottom: 2rem;
  }