<div class="pageContainer">
    <div class="pageContent">
        <h1 class="pageName">Store</h1>

        <div class="productsContainer">
            <div class="cardsDiv" *ngFor="let product of productList">
                <mat-card class="products" [ngStyle]="{'background-image': 'url(' + (product.productUrl || 'assets/default-product-image.jpg') + ')', 'background-size': 'cover', 'background-position': 'center center'}">
                    <div class="productDetails" [attr.id]="'card' + product.productId">
                        <p class="name">{{product.productName}}</p>
                        <p class="price">${{product.productPrice}}</p>
                        <div class="buttonContainer">
                            <button mat-button [routerLink]="['/store/product', product.productId]" class="buttonView">View</button>
                            <button mat-button (click)="addToCart(product)" class="buttonAdd">+Cart</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="actionButtonsContainer">
        <button mat-button class="btn-backToTop" appScrollToTop>&#8682; Back to Top</button>
      </div>
</div>










