a {
  color: white;
  text-align: center;
}

.pageContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  max-width: 2000px;
  /* max-width: 100%; */
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  height: fit-content;
  position: relative;
}

.pageContent {
  padding-top: 10rem;
  width: 100%;
  max-width: 2700px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pageName {
  color: black;
  text-align: left;
  font-size: 10rem;
  padding-left: 5rem;
  font-weight: 600;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
  height: fit-content;
}

div.cardsDiv {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  // width: 100%;
  // height: auto;
}

mat-card.products {
  position: relative;
  background-color: rgb(18, 17, 17);
  // width: 23rem;
  // height: 35rem;
  width: 22rem;
  height: 34rem;

  border-radius: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
  background-size: 80%;
  box-shadow: 0 0 20px rgb(65, 64, 64);
  /* padding-bottom: 4rem; */
}

/* Disable all hover animations */
// .tablet.dimmed-card {
//   filter: none !important;
//   transition: none !important;
// }

// .tablet.active-card {
//   transform: none !important;
//   transition: none !important;
// }

// /* Make sure all cards have proper pointer events */
// .tablet.cardsDiv {
//   pointer-events: auto;
// }

///////// Hovering effects for cards ///////////
/* Hovering one card makes other cards dimmer */
.products {
  transition: filter 0.2s ease, transform 0.2s ease;
  position: relative;
  transform: scale(1);
}

.cardsDiv {
  pointer-events: none;
}

/* But allow pointer events on the actual card and its contents */
.products, 
.productDetails,
.buttonContainer,
.buttonView,
.buttonAdd {
  pointer-events: auto;
}

/* But keep the current card at normal brightness */
.cardsDiv:hover .products {
  filter: none;
  transform: none;
}

/* Better approach using JavaScript */
/* Add this class to your CSS */
.dimmed-card {
  filter: brightness(0.9) blur(5px) saturate(60%);
  transition: filter 0.1s ease-in-out;
}

.active-card {
  transform: scale(1.05) !important;
  z-index: 3;
  filter: saturate(120%) !important;
  transition: transform 0.1s cubic-bezier(0.2, 0.0, 0.8, 1.0) !important;
  box-shadow: 0 0 50px rgb(118, 117, 117) !important;
}

.products:not(.dimmed-card) {
  z-index: 2;
}
//////////////////



.productDetails {
  position: relative;
  /* top: 4%;
  left: 3%;
  z-index: 1;
  height: 20rem; */
  width: 100%;
  height: 100%;
}

.absoluteContainer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  height: auto;
}

.name {
  font-weight: 500;
  width: 100%;
  color: white;
  font-size: 5rem;
  height: fit-content;
  /* margin-top:13rem; */
  /* margin-bottom: 0; */
  padding-bottom: 0;
  padding-bottom: 5.5rem;
  padding-left: 0.5rem;
  /* line-height: 4rem; */
  text-shadow: 0 0 12px rgb(87, 86, 86);
}

.price {
  font-family: "Roboto Mono", monospace !important;
  font-style:italic;
  font-weight: bold;
  font-optical-sizing: auto;
  letter-spacing: -11px;
  width: 100%;
  color: white;
  font-size: 11rem;
  height: fit-content;
  /* margin-top: 2rem; */
  padding-bottom: 7.5rem;
  padding-left: 0.5rem;
  text-shadow: 0 0 10px rgb(87, 86, 86);
}

.buttonContainer {
  position: absolute;
  z-index: 1;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  height: 2.8rem;
  width: 96%;
  background-color: white;
  border-radius: 0.7rem;
  max-width: 23rem;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 30px rgb(169, 168, 168, 0);
  
  &:hover{
    box-shadow: 0 0 30px rgb(169, 168, 168, 1);
    transition: box-shadow 0.2s ease-in-out;
  }
}

// .buttonContainer::before {
//   content: '';
//   position: absolute;
//   top: -20px;     
//   right: -20px;   
//   bottom: -20px;  
//   left: -20px;   
//   z-index: -1;   
//   pointer-events: auto; 
// }

// .button-buffer {
//   position: absolute;
//   top: -8px;
//   right: -8px;
//   bottom: -8px;
//   left: -8px;
//   z-index: 1; /* Just above the container but below buttons */
//   pointer-events: auto;
//   background-color: transparent;
// }




// .mdc-button {
//   line-height: 1 !important;
// }

.buttonView,
.buttonAdd {
  // flex: 1;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  padding: 0;
  margin: 0;
  font-weight: 500;
  height: 100%;
  border-radius: 0;

  // outline: none;
  // box-sizing: border-box;
  // line-height: 1;
  /* text-transform: uppercase; */
}

// .buttonView, .buttonAdd {
//     border-radius: 0;
// }

.buttonAdd {
  position: relative;
  overflow: hidden;
}

/* .buttonAdd:disabled {
  color: black;
} */

/* .buttonAdd:disabled {
  color: black !important;
  opacity: 1;
  cursor: pointer;
} */

.buttonView:hover,
.buttonAdd:not(:disabled):hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}


.buttonAdd.limit-reached:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* .buttonAdd.limit-reached::after {
  content: attr(data-hover-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
} */

/* .buttonAdd.limit-reached:hover::after {
  opacity: 1;
} */



.actionButtonsContainer {
  /* display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3vw;
  border-color: #676767;
  background-color: transparent !important; */
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  height: 2rem;
  width: 12rem;
  /* margin-top: -4rem;
    margin-left: -0.7rem; */
  background-color: transparent !important;
  transition: border-color 0.3s;
  border-radius: 0.4rem;
  max-width: 23rem;
  overflow: hidden;
  border-color: #787777;
  border-style: solid;
  cursor: pointer;
}

/* .actionButtonsContainer:hover + .btn-backToTop {
  border-color: white;
  color: white;

} */

.btn-backToTop,
.btn-signUp {
  flex: 1;
  font-size: 1rem;
  /* color: black; */
  background-color: transparent !important;
  border: none;
  transition:color 0.3s;
  padding: 0;
  margin: 0;
  font-weight: 400;
  height: 100%;
  /* color:#cb1212; */
  /* border-radius: 0 8px 8px 0; */
  border-radius: 0;
  /* color: #c80f0f; */
  /* color: #676767; */
  cursor: pointer;
}

.btn-backToTop {
  color: #787777 !important;
}

.btn-backToTop:hover {
  color: white !important;
}

/* .actionButtonsContainer:hover .btn-backToTop,
.actionButtonsContainer .btn-backToTop:hover {
  border-color: white;
  color: white;
} */

.actionButtonsContainer:hover {
  border-color: white;
  border-color: #000000;
}

.actionButtonsContainer:hover .btn-backToTop {
  color: rgb(0, 0, 0) !important;
  border-color: #000000;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 9;
}

.spinner {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

.spinner .path {
  stroke: #000000;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner-text {
  color: #000000;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

// @media screen and (min-width: 588px) and (max-width: 1028px){

//   h1.pageName{
//       color: Black;
//       text-align: left;
//       font-size: 10rem;
//       // padding-left: 0rem;
//       font-weight: 600;
//       margin: auto;
//       display: flex;
//       flex-direction: row;
//   }

// }


// @media screen and (min-width: 300px) and (max-width: 945px) {

//   h1.pageName{
//     text-align: center;
//     // line-height: 1;
//     // font-size: 7rem;
//     font-size: clamp(3rem, 15vw, 10rem);
//     padding-left: 0;
//     // padding-top: 4rem;
//     // padding-top: 8rem;
//     margin-bottom: 0rem;
//   }

//   .cardsDiv{
//     width: 100%;
//     height: auto;
//     box-sizing: border-box;
//     max-width: 23rem;
//     max-height: 35rem;
//   }

//   mat-card.products {
//     position: relative;
//     background-color: rgb(18, 17, 17);
//     width: 100%;
//     // max-width: 23rem;
//     height: auto;
//     // max-height: 35rem;
//     // transform: scale(0.85);
//     border-radius: 0.9rem;
//     margin-top: 2rem;
//     margin-bottom: 10rem;
//     background-size: 80%;
//     box-shadow: 0 0 20px rgb(65, 64, 64);
//     /* padding-bottom: 4rem; */
//   }

@media (pointer: coarse) and (hover: none) {
  /* Disable all hover animations */
  .dimmed-card {
    filter: none !important;
    transition: none !important;
  }

  .active-card {
    transform: none !important;
    transition: none !important;
    box-shadow: 0 0 20px rgb(65, 64, 64) !important;
  }

  /* Make sure all cards have proper pointer events */
  .cardsDiv {
    pointer-events: auto;
  }

  .buttonView:hover, 
  .buttonAdd:hover {
    color: white;
    background-color: black;
  }

  .buttonAdd.limit-reached:hover {
    background-color: white;
    color: black;
  }

  .buttonAdd.limit-reached:active {
    background-color: black;
    color: white;
  }

  .buttonView:active,
  .buttonAdd:active {
    background-color: black;
    color: white;
  }

  .buttonAdd:not(.disabled):hover{
    background-color: white;
    color: black;
  }

  .buttonAdd:not(.disabled):active{
    background-color: black;
    color: white;
  }

  .buttonContainer:hover{
    box-shadow: none !important;
  }
  
}


@media screen and (min-width: 300px) and (max-width: 937px) {

  .pageContent{
    padding-top: 8.5rem;
  }

  h1.pageName {
    text-align: center;
    font-size: clamp(6rem, 15vw, 10rem);
    padding-left: 0;
    margin-bottom: 0;
    // padding-top: 5rem;
  }

  .cardsDiv {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    // padding: 0 1rem;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  
  div.cardsDiv{
    padding-left: 0;
    padding-right: 0;
  }

  mat-card.products {
    position: relative;
    background-color: rgb(18, 17, 17);
    // width: 80vw;
    // max-width: 22rem;
    width: 90%;
    max-width: 21.5rem;
    // height: auto;
    height: 33rem;
    // max-height: 23rem;
    aspect-ratio: 2/3;
    // padding-top: 75%; /* Adjust this to set the aspect ratio */
    border-radius: 0.9rem;
    margin: 2rem auto 5rem auto;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(65, 64, 64);
    overflow: hidden;
    box-sizing: border-box;
  }

  .productDetails {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .productsContainer{
    margin-top: 2rem;
  }

  /* Disable all hover animations */
  .dimmed-card {
    filter: none !important;
    transition: none !important;
  }
  
  .active-card {
    transform: none !important;
    transition: none !important;
    box-shadow: 0 0 20px rgb(65, 64, 64) !important;
  }
  
  /* Make sure all cards have proper pointer events */
  .cardsDiv {
    pointer-events: auto;
  }

  .name{
    font-size: 4rem;
    padding-bottom: 4rem;
  }

  .price{
    font-size: 9rem;
    padding-bottom: 6rem;
    font-weight: 600;
  }

  .actionButtonsContainer{
    bottom: 1.3rem
  }
}


  //   h1.pageName{
  //     color: Black;
  //     text-align: left;
  //     // font-size: 10rem;
  //     font-size: clamp(3rem, 15vw, 10rem);
  //     // padding-left: 0rem;
  //     font-weight: 600;
  //     margin: auto;
  //     display: flex;
  //     flex-direction: row;
  // }

