* {
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

a {
    color: white;
    text-align: center;
}

.pageContainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    max-width: 3000px;
    /* max-width: 100%; */
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    height: fit-content;
    position: relative;
}

.pageContent {
    padding-top: 10rem;
    width: 100%;
    max-width: 3000px;
    height: fit-content;
}

h1 {
    color: Black;
    text-align: left;
    font-size: clamp(10rem, 2vw, 25rem);
    padding-left: 5rem;
    font-weight: 600;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 7rem;
    height: fit-content;
}

div.cardsDiv {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

mat-card.products {
    position: relative;
    background-color: rgb(18, 17, 17);
    width: 23rem;
    height: 35rem;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 10rem;
    background-size: 80%;
    box-shadow: 0 0 20px rgb(162, 162, 162);
    /* padding-bottom: 4rem; */
}

.productDetails {
    position: relative;
    /* top: 4%;
    left: 3%;
    z-index: 1;
    height: 20rem; */
    width: 100%;
    height: 100%;
}

.absoluteContainer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: auto;
}

.name {
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 5rem;
    height: fit-content;
    /* margin-top:13rem; */
    /* margin-bottom: 0; */
    padding-bottom: 0;
    padding-bottom: 5.5rem;
    padding-left: 0.5rem;
    /* line-height: 4rem; */
    text-shadow: 0 0 12px rgb(87, 86, 86);
}

.price {
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-weight: 600;
    width: 100%;
    color: white;
    font-size: 10rem;
    height: fit-content;
    /* margin-top: 2rem; */
    padding-bottom: 7.5rem;
    padding-left: 0.5rem;
    text-shadow: 0 0 10px rgb(87, 86, 86);
}

.buttonContainer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* opacity: 0.9; */
    height: 4rem;
    width: 23rem;
    /* margin-top: -2rem; */
    /* margin-left: -0.7rem; */
    background-color: white;
    border-radius: 0 0 8px 8px;
    max-width: 23rem;
    overflow: hidden;
    margin: auto;
}


.buttonView,
.buttonAdd {
    flex: 1;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 0;
    margin: 0;
    font-weight: 500;
    height: 100%;
    border-radius: 0;
    /* text-transform: uppercase; */
}

.buttonView, .buttonAdd {
    border-radius: 0;
}

.buttonAdd {
    position: relative;
    overflow: hidden;
}

/* .buttonAdd:disabled {
    color: black;
} */

/* .buttonAdd:disabled {
    color: black !important;
    opacity: 1;
    cursor: pointer;
} */

.buttonView:hover,
.buttonAdd:not(:disabled):hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}


.buttonAdd.limit-reached:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* .buttonAdd.limit-reached::after {
    content: attr(data-hover-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
} */

/* .buttonAdd.limit-reached:hover::after {
    opacity: 1;
} */
 


.actionButtonsContainer {
    /* display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 3rem;
    width: 100%;
    overflow: hidden;
    border-radius: 0.3vw;
    border-color: #676767;
    background-color: transparent !important; */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    height: 2rem;
    width: 12rem;
    /* margin-top: -4rem;
      margin-left: -0.7rem; */
    background-color: transparent !important;
    transition: border-color 0.3s;
    border-radius: 0.4rem;
    max-width: 23rem;
    overflow: hidden;
    border-color: #787777;
    border-style: solid;
    cursor: pointer;
  }

  /* .actionButtonsContainer:hover + .btn-backToTop {
    border-color: white;
    color: white;

  } */
  
  .btn-backToTop,
  .btn-signUp {
    flex: 1;
    font-size: 1rem;
    /* color: black; */
    background-color: transparent !important;
    border: none;
    transition:color 0.3s;
    padding: 0;
    margin: 0;
    font-weight: 400;
    height: 100%;
    /* color:#cb1212; */
    /* border-radius: 0 8px 8px 0; */
    border-radius: 0;
    /* color: #c80f0f; */
    /* color: #676767; */
    cursor: pointer;
  }
  
  .btn-backToTop {
    color: #787777 !important;
  }
  
  .btn-backToTop:hover {
    color: white !important;
  }

  /* .actionButtonsContainer:hover .btn-backToTop,
.actionButtonsContainer .btn-backToTop:hover {
    border-color: white;
    color: white;
} */

.actionButtonsContainer:hover {
    border-color: white;
    border-color: #000000;
  }
  
  .actionButtonsContainer:hover .btn-backToTop {
    color: rgb(0, 0, 0) !important;
    border-color: #000000;
  }

@media screen and (min-width: 500px) and (max-width: 1028px){

    h1.pageName{
        color: Black;
        text-align: center;
        font-size: 10rem;
        padding-left: 0rem;
        font-weight: 600;
    }


}