<div class="pageContainer">
    <div class="pageContent">
        <h1 class="pageName">Store</h1>

        <div class="productsContainer">
            <div class="cardsDiv" *ngFor="let product of productList">
                <mat-card class="products">

                </mat-card>
            </div>
            
        </div>
        


    </div>

</div>

    
<!-- <ul>
    <li *ngFor="let product of productList">
        <br>
        <img [src]="product.productUrl">
        <p>{{product.productName}}</p>
        <p>{{product.productDescription}}</p>
        <p>${{product.productPrice}}</p>
        <button [routerLink] = '["product/", product.productId]'>View Item</button>
        <button (click)="addToCart(product)"> Add to Cart </button>
        <br>
    </li>
    <br>
</ul> -->













