<nav>
  <mat-toolbar class="navBar">
    <a class="logoSpan" href="/">
      <div class="logoImage">
        <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo" routerLink="/home">
      </div>
    </a>
    <!-- <span class="logoSpan">
      <img class="logo" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo" routerLink="/home">
    </span> -->
    <span class="spacer"></span>
    <label id="hamburger" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle">

    <div class="menu">

      <h6 *ngIf="!userIsLoggedIn" class="navBarText" routerLink="/signup">Sign Up</h6>
      <h6 *ngIf="!userIsLoggedIn" class="navBarText" routerLink="/signin">Log In</h6>


      <!-- <div *ngIf="userIsLoggedIn"> -->
      <h6 *ngIf="userIsLoggedIn" class="navBarText" [routerLink]="['/profile/', UserId]">Profile</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" [routerLink]="['/content/', UserId]">Workouts</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" routerLink="/store">Store</h6>

      <h6 class="navBarText" routerLink="/about">About</h6>

      <h6 class="navBarText" routerLink="/contact">Contact</h6>

      <h6 *ngIf="userIsLoggedIn" class="navBarText" (click)="logOut()" routerLink="/home">Sign Out</h6>

      <!-- Disable search if not implemented -->

      <form class="form" *ngIf="viewSearchBar" #form="ngForm">
        <input class="formSearch" id="mySearch" name="search" type="input" placeholder="         Enter to Search"
          aria-label="Search" (keyup.enter)="search(searchString)">
      </form>
      <mat-icon *ngIf="viewSearchBar" (click)="search(searchString)" mat-icon>search</mat-icon>
      <mat-icon (click)="toggleSearch()" *ngIf="viewSearchBar===false">search</mat-icon>
    </div>
  </mat-toolbar>
</nav>


<router-outlet></router-outlet>


<div class="footerContainer">
  <footer>
    <p><strong> &lt;Insert Company Name Here&gt; LLC. |</strong> <strong> © Copyright 2023</strong></p>
    <p class="footer">Privacy Policy | Careers | Terms Of Use </p>
  </footer>
</div>