<div class="container">
  
<nav>
    <mat-toolbar class="navBar">
      <span class="logo" routerLink="/home">&lt;Insert Logo Here&gt;</span>
      <span class="example-spacer"></span>

      <!--Make these buttons The profile name of the person with a drop down with Sign out when signed in-->
      <!-- <div ngIf=""> -->
        <h6 class="navBarText" routerLink="/signup">Sign Up</h6>
      <!-- </div> -->

      <!-- <div ngIf=""> -->
        <!-- <h6 class="navBarText" routerLink="/profile/id"></h6> -->
      <!-- </div> -->

      <!-- <h6 class="navBarText" routerLink="/content">Workouts</h6> -->
      <!--  -->

      <h6 class="navBarText" routerLink="/about">About</h6>

      <h6 class="navBarText" routerLink="/contact">Contact</h6>

      <h6 class="navBarText" routerLink="/store">Store</h6>

      <!-- Maybe this button also only shows up if logged in-->

      <span>
        <!-- <button mat-icon-button class="example-icon search-icon" aria-label="Icon-button with search icon" (click)="openDialog('0ms', '0ms')"> -->
        <mat-icon>search</mat-icon>
        <!-- (click)="openDialog('0ms', '0ms')" -->
        <!-- </button> -->
      </span>

    </mat-toolbar>
  </nav>
  </div>
 

<router-outlet></router-outlet>