.example-spacer {
  flex: 1 1 auto;
}

.navBar {
  border-radius: 6px;
 /* display: flex; */
  /* background-color: #CBFF4C; */
  background-color: #C7FF20;
  height:50px;
  /* overflow: auto; */
  /* background-color: #71BBF5; */
  /* background-color:#FFB716; */
  /* background-color: #FFD942; */
}

.container{
  padding-top: 10px;
  padding-left: 10px;
  position:fixed;
  top:0;
  width: 99%;
  z-index: 1;
  
  /* padding-right: -240px; */
  /* margin-bottom: 50px; */
}

.navBarText{
  font-family: 'Outfit', sans-serif;
  font-size: smaller;
  padding: 0 6px 0 6px;
  cursor: pointer;
}

mat-icon{
  cursor: pointer;
  margin-left: 5px;
}

h6:hover{
  text-shadow: 0 0 7px #71BBF5;
}

mat-icon:hover{
  color:#71BBF5;
}

.logo{
  cursor: pointer;
}

#mySearch{
  border-radius: 3px;
  margin-top: 20px;
  /* margin-right:5px; */
  border-color: black;
  background-color: #CBFF4C;
  padding-top: 3px;
}

.formSearch{
  padding-bottom: 3px;
  margin-left: 5px;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
  /* padding-left: 7px; */
  /* padding-right: 4px; */
}

/* #icon{
  /* margin-top: 10px; */
  /* padding-left: 10px; */
  /* padding-top: 55px; */
 

.form{
  margin-bottom: 10px;
  margin-right: 4px;
}

.buttonContainer{
  display: inline;
  margin-top: 100px;
}

.spacer{
  padding-top: 100px;
}

.footerContainer{
  box-sizing: border-box;
  position:relative;
 
  /* margin-top:100px; */
  /* position:fixed; */
  /* bottom: 1000; */
  width: 100%;
  background-color: #C7FF20;
  /* padding-top: 10px; */
  
  font-size: smaller;
  height: 70px;

 margin-bottom: -500px;
  
  /* z-index: 100; */
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-top: 200px; */
  padding-left: 10px;

}

.footer{
  cursor: pointer;
}