<div class="background"></div>
<!-- <div class="overlay">
    
  </div> -->



<div class="cardOne">
  <div class="heading">
    <h1 class="contactUs">Contact Us</h1>
  </div>
  <mat-card class="contactForm">
    <mat-card-content>
      <h3 class="greeting">Hi! How can we help you?</h3>
      <div class="formDiv">
        <form (ngSubmit)="contactUs()" #loginForm="ngForm">
          <!-- name input -->
          <div class="input-details">
            <label for="name">Name</label>
          </div>
          <input type="text" matInput name="name" id="name" placeholder="Enter your name" [(ngModel)]="name" required>
          <!-- email input -->
          <div class="input-details">
            <label for="email">Email</label>
          </div>
          <input type="text" matInput name="email" id="email" placeholder="Enter your email" [(ngModel)]="email"
            required>
          <div class="input-details">
            <label for="email">Message</label>
          </div>
          <textarea type="text" mat-input name="message" id="message" placeholder="Enter your message" [(ngModel)]="message" required></textarea>
          <button class="btn btn-submit" mat-button [disabled]="loginForm.form.invalid"
            (click)="contactUs()">Send</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="cardTwo">
  <div class="heading">
    <h1 class="findUs">Find Us</h1>
  </div>
  <mat-card class="mapSocial">

  </mat-card>
</div>






<!-- <head>
  <h6>Contact Us</h6>
</head>
<body>
  <div class="contact-container">
      <div class="contact-banner">
          <h1>Contact Us </h1>
          <img src="https://images.unsplash.com/photo-1554284126-aa88f22d8b74?q=80&w=1594&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
               alt="Contact Banner Image">
      </div>
  </div>
  <div class="contact-container2">
          <div class="map-and-social">
              <div class="map-banner">
                  <h1>Our Location</h1>
                  <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d110773.75634727594!2d-95.8050881!3d29.8157912!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8640d79ad8cf4f7f%3A0x5b3c2884f9c4163a!2s3115%20N%20Fry%20Rd%20%23305%2C%20Katy%2C%20TX%2077449!3m2!1d29.815818399999998!2d-95.722792!5e0!3m2!1sen!2sus!4v1704164030163!5m2!1sen!2sus" 
                  width="600" 
                  height="450" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
              </div>
      
              <div class="social-media">
                  <h2>Business hours</h2>
                  <p> Monday: 8-5pm</p>
                  <p> Tuesday: 8-5pm</p>
                  <p> Wednesday: 8-5pm</p>
                  <p> Thursday: 8-5pm</p>
                  <p> Friday: 8-5pm</p>
                  <p> Saturday: 8-5pm</p>
                  <p> Sunday: Closed</p>
                  <h2>Connect with Us</h2>
                  <p>Follow us on social media for updates!</p>
                  <a href="https://www.instagram.com/thehughjackman/" target="_blank">
                      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/instagram-new.png" alt="instagram Icon">
                  </a>
                  <a class="a2" href="https://www.tiktok.com/@workout_inspiration_?is_from_webapp=1&sender_device=pc" target="_blank">
                      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/tiktok.png" alt="tiktok"/>                    </a>
                  <a class="a3" href="https://www.youtube.com/watch?v=gocClPWVKIA" target="_blank">
                      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/youtube-play.png" alt="Youtube Icon">
                  </a>
              </div>
          </div>
  </div>
</body> -->