<div class="about-us-container">
    <header>
         <div class="header-banner">
        <h1>About Hugh Jackedman</h1>
      </div>
    </header>
  
        <div class="container" >
            <img class="image" src="https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3JvdXAlMjBmaXRuZXNzJTIwanBnfGVufDB8fDB8fHwy" alt="Image 2">
            <img class="image" src="https://images.unsplash.com/photo-1550345332-09e3ac987658?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGdyb3VwJTIwZml0bmVzcyUyMGpwZ3xlbnwwfHwwfHx8Mg%3D%3D" alt="Image" >
            <img class="image" src="https://images.unsplash.com/photo-1572459815294-26edc555608e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjc1fHx3b3Jrb3V0JTIwZ3JvdXBqcGd8ZW58MHx8MHx8fDI%3D" alt="Image 3">
        </div>
        <p class="custom-text">
            Hugh Jackedman stands as a beacon of fitness inspiration, transcending the boundaries of Hollywood stardom to become a symbol of dedication and wellness. Renowned for his magnetic on-screen presence, Jackedman's commitment to maintaining a peak level of physical fitness has not only defined his personal brand but has also inspired countless individuals worldwide. Beyond the glitz and glamour of the entertainment industry, Jackedman is a living testament to the transformative power of a disciplined fitness regimen.
        
        Known for his roles in blockbuster films, including the iconic Wolverine in the X-Men series, Jackedman's physique has become synonymous with strength, agility, and endurance. However, his journey towards becoming a fitness icon extends far beyond the screen. Jackedman's personal commitment to health and well-being has propelled him into the spotlight as a role model for those seeking to embark on their own fitness journeys.
        
        What sets Jackedman apart is not just his muscular physique but his genuine passion for promoting a holistic approach to fitness. Beyond the physical demands of his film roles, he consistently emphasizes the importance of mental well-being, nutritional balance, and overall lifestyle choices. In interviews and public appearances, Jackedman openly shares insights into his workout routines, dietary habits, and the mental fortitude required to sustain a healthy lifestyle amidst the demands of a high-profile career.
        
        Jackedman's commitment to fitness goes beyond personal satisfaction; it's a philosophy he actively advocates for. 
        </p>
        
 
  </div>
<div class="about-us-container">
    <header>
      <div class="header-banner">
        <h1>About Us</h1>
      </div>
    </header>
      <!-- Picture Bubbles Section -->
    <section class="picture-bubbles">
      <div class="bubble">
        <img src="https://ca.slack-edge.com/T9P33872P-U04UP5KHT4Z-aca62d32e7a3-512" alt="Jude">
        <!-- https://files.slack.com/files-tmb/T9P33872P-F06BF74GSMD-3917f341c6/img_9174_720.jpg -->
        <p>Hello, my name is Jude Prashanth and I am 34 years old.
            I am from Bangalore India, moved to San Diego CA in 2013. 
            I am a lover of Jesus and shaper of tech. 
            I currently live in Redding with my beautiful wife Arabela. 
            I joined Bethel Tech because I felt God asked me to and have enjoyed every bit of it.</p>
      </div>
      <div class="bubble">
        <img src="https://ca.slack-edge.com/T9P33872P-U04LY34T7GS-9266b8567e60-512" alt="Allyshia">
        <p> Hi my name is, Allyshia Lucas and I'm from Charlotte, NC. I chose Bethel Tech because I was searching for
            something different in a field that was stable yet challenging in hopes of using this tool to start my own business.</p>
      </div>
      <div class="bubble">
        <img src="https://ca.slack-edge.com/T9P33872P-U04UKMGAEH0-45a4c2d2c5ae-512" alt="Gerrit">
        <p>Hello, my name is Gerrit Spatz and I'm from Munich Germany.
            I currenlty live in Bend Oregon. I joined Bethel Tech to provide for my family and 
            fulfill my dream of learning to program.</p>
      </div>
      <div class="bubble">
        <img src="https://ca.slack-edge.com/T9P33872P-U04HNKRJYNA-gebb664d9bc6-512" alt="Soyeon">
        <p>Description 2</p>
      </div>
      <div class="bubble">
        <img src="https://ca.slack-edge.com/T9P33872P-U04LNLN2D8U-5844b617b95c-512" alt="Paris">
        <p>Hi, my name is Paris Woods and I am from Chicago, IL. I currenlty live in Houston.
            I joined Bethel Tech because God told me to and God is showing his will in this journey
            each and
        </p>
      </div>
    </section>
 
  </div>
  