/* about-us.component.css */
.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  position: relative;
}

.header-banner {
  background-color: #C7FF20;
  color: black;
  padding: 5;
  text-align: center;
}

.picture-bubbles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bubble {
  text-align: center;
  margin: 10px;
}

.bubble img {
  width: 160px;
  border-radius: 70%;
  margin-bottom: 10px;
}
p {
    color: white;
    margin : auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-size-adjust: 50px;
    position: relative; 
    flex-direction: row;
    align-content: center;
    text-wrap: 10px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px; 
    padding-top: 40px;    
 } 


/* side picture banner */

 h1{
    color: white;
    margin : auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    height: 5vh;
    flex-direction: row;
    align-content: center;
    font-size: 40px;  
    padding-top: 10px; 
} 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 1px; 
    text-align: center;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
}
  .image {
    display: block;
    margin: 0 auto;
    height: 400px;
    padding-bottom: 10px; 
    width: calc(20% - 15px); 
    margin: 5px; 
    box-sizing: border-box; 
    border-radius: .4vw; 
    border: 2px solid #C7FF20; 
   } 


 .custom-text {
  font-size: 15px; 
  color: white; 
} 

.bannerFour {
    height: 75vh;
    width: 100%;
    background-color: #C7FF20;
} 

/*.left-banner {
  order: 1;
}

.right-banner {
  order: 3; 
} */

/* .content {
  flex: 1;
  padding: 20px; */
/* }
body {
  margin: 0;
  padding: 0;
} */


