<ng-container [formGroup]="stepForm">
    <mat-card class="step-four">
      <mat-card-header>
        <mat-card-title-group class="title">
          <mat-card-title role="heading"
                          aria-level="1">Payment Details</mat-card-title>
          <mat-card-subtitle role="heading"
                             aria-level="2"
                             role="heading"
                             aria-level="2">Please Enter Your Payment Details</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="form-controls">
      <div class="nameCredit">
        <!-- name on card input -->
        <div>
          <div class="input-details">
            <label for="name">Name on Card</label>
            <label for="error"
                   id="error"
                   *ngIf="this.stepForm.controls['nameOnCard'].invalid && this.stepForm.controls['nameOnCard'].touched"
                   class="error-alert">Invalid</label>
          </div>
          <input type="text"
                 matInput
                 name="nameOnCard"
                 id="nameOnCard"
                 placeholder="Example: Aye Wantobejacked" 
                 formControlName="nameOnCard"
                 required>
        </div>
        <!-- credit card number input -->
        <div>
        <div class="input-details">
          <label for="ccNumber">Card Number</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['ccNumber'].invalid && this.stepForm.controls['ccNumber'].touched"
                 class="error-alert">Invalid</label>
        </div>
        <input type="text"
               matInput
               name="ccNumber"
               id="ccNumber"
               placeholder="1234567891011121" 
               formControlName="ccNumber"
               required>
        </div>
      </div>
      <div class="expCvvZip">
      <!-- expiration date input -->
        <div>
        <div class="input-details">
          <label for="expiration">Exp.</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['expDate'].invalid && this.stepForm.controls['expDate'].touched"
                 class="error-alert">Invalid</label>
        </div>
        <input type="text"
              matInput
               name="expDate"
               id="expDate"
               placeholder="01/25" 
               formControlName="expDate"
               required>
       </div>
       <!-- cvv number input -->
       <div>
        <div class="input-details">
          <label for="cvv">CVV</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['cvv'].invalid && this.stepForm.controls['cvv'].touched"
                 class="error-alert">Invalid</label>
        </div>
        <input type="text"
              matInput
               name="cvv"
               id="cvv"
               placeholder="025"
               formControlName="cvv"
               required>
        </div>
      <!-- zipcode input -->
      <div>
        <div class="input-details">
          <label for="zipcode">Zipcode</label>
          <label for="error"
                 *ngIf="this.stepForm.controls['zipCode'].invalid && this.stepForm.controls['zipCode'].touched"
                 class="error-alert">Invalid</label>
        </div>
        <input type="text"
               matInput
               name="zipcode"
               id="zipCode"
               placeholder="90210"
               formControlName="zipCode"
               required>
      </div>
    </div>
      </mat-card-content>
    </mat-card>
  </ng-container>