* {
  font-family: 'Outfit', sans-serif;
  }

input {
  display: inline-block;
  width: 100%;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid black;
  margin-bottom: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  color: black;
  background-color: white;
}

input:focus,
input:valid {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.input-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17rem;
}

.nameCredit .input-details {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 14.6rem;
}

.expCvvZip .input-details {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 10rem;
}

.error-alert {
  color: red;
  text-align: right;
  font-size: 0.875rem;
  /* margin-left: -.1rem; */
  /* line-height: 1rem; */
}

.error-alert .expCvvZip {
  color: red;
  text-align: right;
  font-size: 0.875rem;
  /* margin-left: -.1rem; */
  /* line-height: 1rem; */
  padding-left: .2rem;
}

/* .error-alert .nameCredit{
  padding-left: .5rem;
} */

#nameOnCard{
  width: 14rem;
}

#ccNumber{
  width: 14rem;
}

#cvv{
  width: 9.2rem;
}

#expDate{
  width: 9.2rem;
}

#zipCode{
  width: 9.2rem;
}

/* .flex{ */
  /* width:15rem; */
  /* margin:auto;
} */

/* div.flex{
  width: 9.5rem;
  justify-content: left;
} */

.nameCredit{
display: flex;
flex-direction:row;
margin-top: 1rem;
width: 100%;
/* padding-right: 3rem; */
/* align-items: left; */
}

.expCvvZip{
display: flex;
flex-direction: row;
justify-content:space-between;
}

@media (min-width: 37.5em) {
  label {
    margin-bottom: 0rem;
  }

  input {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  .input-details {
    width: 3.2rem;
  }

  .error-alert {
    font-weight: 700;
  }
}