<div class="background"></div>

<div class="boundingBox">
<div class="cardOne">
  <div class="heading contactUs">
    <h1 class="contactUs" [ngClass]="{'wide': true}">Contact Us</h1>
    <h1 class="contactUs" [ngClass]="{'narrow': true}">Contact</h1>
  </div>

  <mat-card class="contactForm">
    <mat-card-content>
      <div class="formToggleOff" *ngIf="!submitted">
        <h3 class="greeting">Hi! How can we help?</h3>
        <div class="formDiv">
          <form [formGroup]="contactForm" (ngSubmit)="contactUs()" id="contactForm">
            <!-- name input
            <div class="input-details">
              <span [ngStyle]="getLabelStyle('name')">
              <label for="name">Name</label>
              <label for="error"
                      id="error"
                      *ngIf="shouldShowError('name')"
                      class="error-alert">{{getErrorMessage('name')}}</label>
                </span>
            </div>

            <input type="text" matInput name="name" id="name" placeholder="Enter your name" [(ngModel)]="name" required>

            email input
            <div class="input-details">
              <span [ngStyle]="getLabelStyle('email')">
              <label for="email">Email</label>
              <label for="error"
                      id="error"
                      *ngIf="shouldShowError('email')"
                      class="error-alert">{{getErrorMessage('email')}}</label>
              </span>
            </div>
            <input type="text" matInput name="email" type="email" id="email" placeholder="Enter your email"
              [(ngModel)]="email" required>

            message input
            <div class="input-details">
              <span [ngStyle]="getLabelStyle('text')">
              <label for="email">Message</label>
              <label for="error"
                      id="error"
                      *ngIf="shouldShowError('text')"
                      class="error-alert">{{getErrorMessage('text')}}</label>
              </span>
            </div>
            <textarea type="text" mat-input name="message" id="message" placeholder="Enter your message"
              [(ngModel)]="message" required></textarea> -->

                <!-- name input -->
                <div class="input-details">
                  <span class="spanCategory" [ngStyle]="getLabelStyle('name')">
                    <label for="name">Name</label>
                    <label for="error"
                           id="error"
                           *ngIf="shouldShowError('name')"
                           class="error-alert">{{getErrorMessage('name')}}</label>
                  </span>
                </div>
                <input type="text" 
                       matInput 
                       id="name" 
                       placeholder="Enter your name"
                       formControlName="name"
                       [ngStyle]="getInputStyle('name')"
                       [ngClass]="{'error-input': shouldShowError('name')}">
  
                <!-- email input -->
                <div class="input-details">
                  <span class="spanCategory" [ngStyle]="getLabelStyle('email')">
                    <label for="email">Email</label>
                    <label for="error"
                           id="error"
                           *ngIf="shouldShowError('email')"
                           class="error-alert">{{getErrorMessage('email')}}</label>
                  </span>
                </div>
                <input type="email" 
                       matInput 
                       id="email" 
                       placeholder="Enter your email"
                       formControlName="email"
                       [ngStyle]="getInputStyle('email')"
                       [ngClass]="{'error-input': shouldShowError('email')}">
  
                <!-- message input -->
                <div class="input-details">
                  <span class="spanCategory" [ngStyle]="getLabelStyle('message')">
                    <label for="message">Message</label>
                    <label for="error"
                           id="error"
                           *ngIf="shouldShowError('message')"
                           class="error-alert">{{getErrorMessage('message')}}</label>
                  </span>
                </div>
                <textarea matInput 
                          type="text"
                          id="message" 
                          placeholder="Enter your message"
                          formControlName="message"
                          [ngStyle]="getInputStyle('message')"
                          [ngClass]="{'error-input': shouldShowError('messsage')}"></textarea>

                <button class="btn btn-submit" 
                          mat-button 
                          [disabled]="contactForm.invalid"
                          type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="formToggleOn" *ngIf="submitted">
        <div class="divAlign">
          <img src="assets/Images/icon-thank-you-black.png" class="tick" alt="tick">
          <div class="thankYouMessage">
            <h1 class="sentMessage">Your message has been sent!</h1>
            <h3 class="thankYouMesage">Thank you for your interest. <br>
              We will do our best to get back to you within 2 business days. </h3>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="cardTwo">
  <div class="heading findUs">
    <h1 class="findUs">Find Us</h1>
  </div>
  <mat-card class="mapSocialContainer">
    <h1 class="location">Our Offices</h1>
    <div class="mapSocialFlex">
      <mat-card class="mapSocial">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d110773.75634727594!2d-95.8050881!3d29.8157912!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8640d79ad8cf4f7f%3A0x5b3c2884f9c4163a!2s3115%20N%20Fry%20Rd%20%23305%2C%20Katy%2C%20TX%2077449!3m2!1d29.815818399999998!2d-95.722792!5e0!3m2!1sen!2sus!4v1704164030163!5m2!1sen!2sus"
           style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </mat-card>
      <div class="socialMedia">
        <h2 class="socialBusinessHeadingOne">Business hours</h2>
        <p class="businessHours"> Monday: 8-5pm</p>
        <p class="businessHours"> Tuesday: 8-5pm</p>
        <p class="businessHours"> Wednesday: 8-5pm</p>
        <p class="businessHours"> Thursday: 8-5pm</p>
        <p class="businessHours"> Friday: 8-5pm</p>
        <p class="businessHours"> Saturday: 8-5pm</p>
        <p class="businessHours"> Sunday: Closed</p>
        <h2 class="socialBusinessHeadingTwo">Follow us on social media for updates!</h2>
        <div class="logoFlex">

          <a href="https://www.instagram.com/thehughjackman/" target="_blank">
            <img width="80" height="80" src="/assets/Images/Instagram_Glyph_Gradient.png" alt="instagram Icon">
          </a>
          <a class="a2" href="https://www.tiktok.com/@workout_inspiration_?is_from_webapp=1&sender_device=pc"
            target="_blank">
            <img width="70" height="70" src="/assets/Images/TikTok_Icon_Black_Square.png" alt="tiktok" /> </a>
          <a class="a3" href="https://www.youtube.com/watch?v=gocClPWVKIA" target="_blank">
            <img width="100" height="70" src="/assets/Images/yt_icon_rgb.png" alt="Youtube Icon">
          </a>
        </div>

      </div>
    </div>
  </mat-card>
</div>


  