<div class="background"></div>

    <!-- <div class="overlay">
        <mat-card>
          <mat-card-header>
            <div class="logoImage">
              <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
            </div>
            <br>
          </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="sendResetEmail()" #resetForm="ngForm">

                  <p class="resetParagraph">
                    Please enter your email address and we'll send you a link if we find your account. With this link you can create your new Password.
                </p>
       
        <div class="input-details">
            <label for="email">Email Address</label>
        </div>
                  <label class="label" for="email">Email Address</label>
                  <label for="error"
                         *ngIf="this.form.controls['email']?.invalid && this.form.controls['email'].touched && !this.form.get('email')?.hasError('emailExists')"
                         class="error-alert">Email is required</label>
                   <label for="error"
                         *ngIf="this.form.get('email')?.hasError('emailExists') && !this.form.controls['email'].touched"
                         class="error-alert">Invalid Email</label>      
               
                <input type="text"
                       matInput
                       name="email"
                       id="email"
                       placeholder="hugh@hughjackedman.com"
                       formControlName="email"
                       
                       required>
          
                <div class="buttonContainer">
                  <button class="btn btn-back" mat-button routerLink="/sign-in">Back</button>
                  <button class="btn btn-submit" mat-button
                  (click)="sendResetEmail()">Send</button>
                </div>
               
                </form>
             
            </mat-card-content>
        </mat-card>
    </div> -->

    <div class="overlay">
      <mat-card>
        <mat-card-header>
          <div class="logoImage">
            <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
          </div>
          <br>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="sendResetEmail()">
            <p class="resetParagraph">
              Please enter your email address and we'll send you a link if we find your account. With this link you can create your new Password.
            </p>
            <div class="input-details">
              <label for="email">Email Address</label>
              <label *ngIf="showEmailError && form.get('email')?.invalid" class="error-alert">
                <span *ngIf="form.get('email')?.hasError('required')">Email is required</span>
                <span *ngIf="form.get('email')?.hasError('email') || form.get('email')?.hasError('pattern')" 
                [ngClass]="{'label-full': true}">Invalid email format</span>
                <span *ngIf="form.get('email')?.hasError('email') || form.get('email')?.hasError('pattern')"
                [ngClass]="{'label-short': true}">Invalid</span>
              </label>
            </div>
            <input type="text"
                   matInput
                   id="email"
                   placeholder="Enter your email here"
                   formControlName="email"
                   (blur)="onEmailBlur()"
                   required>
            
            <div class="buttonContainer">
              <button class="btn btn-back" mat-button routerLink="/sign-in">Back</button>
              <button class="btn btn-submit" mat-button type="submit" [disabled]="form.invalid">Send</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>


