<div class="background"></div>

    <div class="overlay">
      <mat-card>
        <mat-card-header>
          <div class="logoImage">
            <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
          </div>
          <br>
        </mat-card-header>
        <mat-card-content [ngSwitch]="currentState">
          <ng-container *ngSwitchCase="ResetPageState.SendResetEmail">
          <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()">
            <p class="resetParagraph email">
              Please enter your email address and we'll send you a link if we find your account. With this link you can create your new Password.
            </p>
            <div class="spacing" *ngIf="!resetEmailSent"> 
              <div class="input-details">
                <label for="email" class="label" [ngStyle]="getLabelStyle('email')">Email Address</label>
                  <label *ngIf="shouldShowError('email')" class="error-alert" [ngClass]="{'error-input': shouldShowEmailError()}">
                    {{ getErrorMessage('email')}}
                  </label>
                <!-- <label *ngIf="showEmailError && emailForm.get('email')?.invalid" class="error-alert">
                  <span *ngIf="emailForm.get('email')?.hasError('required')">Email is required</span>
                  <span *ngIf="emailForm.get('email')?.hasError('email') || emailForm.get('email')?.hasError('pattern')" 
                  >Invalid email format</span>
                   <span *ngIf="emailForm.get('email')?.hasError('email') || emailForm.get('email')?.hasError('pattern')"
                  [ngClass]="{'label-short': true}">Invalid</span> -->
                <!-- </label> --> 
              </div>
              <input type="text"
                    matInput
                    id="email"
                    placeholder="Enter your email here"
                    formControlName="email"
                    (blur)="onEmailBlur()"
                    [ngStyle]="getInputStyle('email')"
                    [ngClass]="{'error-input': shouldShowError('email')}"
                    trimOnBlur
                    required>
            </div>
            <div *ngIf="resetEmailSent" class="successMessage">
              Reset email sent! Please check your inbox.
            </div>
            <div class="buttonContainer" *ngIf="!resetEmailSent">
              <button class="btn btn-back" mat-button routerLink="/login">Back</button>
              <button class="btn btn-submit" mat-button type="submit" [disabled]="!isEmailFormValid()">Send</button>
            </div>
          </form>
        </ng-container>

          <ng-container *ngSwitchCase="ResetPageState.ChangingPassword">
            <form [formGroup]="passwordForm" (ngSubmit)="updateUserPassword()" id="passwordForm">
              <div class="resetText">
                  <p class="resetParagraph passwords">Password must:</p>
                                <ul class="list">
                                    <li>Be at least 8 characters long</li>
                                    <li>Contain at least one uppercase letter</li>
                                    <li>Contain at least one lowercase letter</li>
                                    <li>Contain at least one number</li>
                                    <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                                </ul>
              </div>
              <div formGroupName="passwordGroup" class="passwordContainer">
                  <div class="spacingBetweenInputs">
                      <div class="input-details passwordRelative">
                          <label class="label" for="password" [ngStyle]="getLabelStyle('password')">New Password</label>
                          <label *ngIf="shouldShowError('password')" class="error-alert">
                            {{ getErrorMessage('password') }}
                          </label>
                          <!-- <div class="popup" *ngIf="isPopupVisible">
                              <p>Password must:</p>
                              <ul>
                                  <li>Be at least 8 characters long</li>
                                  <li>Contain at least one uppercase letter</li>
                                  <li>Contain at least one lowercase letter</li>
                                  <li>Contain at least one number</li>
                                  <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                              </ul>
                          </div> -->
                      </div>
                      <div class="passwordInput">
                          <input type="password"
                              matInput
                              id="password"
                              placeholder="Enter New Password"
                              formControlName="password"
                              required
                              [ngStyle]="getInputStyle('password')"
                              [ngClass]="{'error-input': shouldShowError('password')}">
                          <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword 
                          [ngStyle]="getInputStyle('password')" [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                      </div>
                  </div>
                  <div class="spacingBetweenInputs confirmPassword">
                      <div class="input-details focusedInput">
                          <label class="label" for="confirmPassword" [ngStyle]="getLabelStyle('confirmPassword')">Confirm New Password</label>
                          <label *ngIf="shouldShowError('confirmPassword')" class="error-alert">
                            {{ getErrorMessage('confirmPassword') }}
                          </label>
                      </div>
                      <div class="passwordInput">
                          <input type="password"
                              matInput
                              id="confirmPassword"
                              (blur)="checkPasswords()"
                              placeholder="Confirm New Password"
                              formControlName="confirmPassword"
                              (copy)="preventCopyPaste($event)"
                              (cut)="preventCopyPaste($event)" 
                              (paste)="preventCopyPaste($event)"
                              required
                              [ngStyle]="getInputStyle('confirmPassword')"
                              [ngClass]="{'error-input': shouldShowError('confirmPassword')}">
                          <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword 
                          [ngStyle]="getInputStyle('confirmPassword')" [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                      </div>
                  </div>
              </div>
              <div class="updatePasswordButtonContainer">
                  <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                  <button mat-button style="color:white" class="btn btn-updatePasswordButton" form="passwordForm" 
                  type="submit" [disabled]="!isFormValid()" (click)="updateUserPassword()">Change</button>
              </div>
          </form>
        </ng-container>
        </mat-card-content>

        
      </mat-card>
    </div>


    <!-- [ngStyle]="{'border-color': (passwordForm.get('passwordGroup.password')?.invalid) && (passwordForm.get('passwordGroup.password')?.dirty 
    || passwordForm.get('passwordGroup.password')?.touched) ? 'red' : 'black',
    '--placeholder-color': passwordForm.get('passwordGroup.confirmPassword')?.invalid && (passwordForm.get('passwordGroup.confirmPassword')?.dirty 
    || passwordForm.get('passwordGroup.confirmPassword')?.touched) ? 'red' : 'black',
    'color': passwordForm.get('passwordGroup.confirmPassword')?.invalid && (passwordForm.get('passwordGroup.confirmPassword')?.dirty 
    || passwordForm.get('passwordGroup.confirmPassword')?.touched) ? 'red' : 'black'}" -->