<div class="background"></div>

    <!-- <div class="overlay">
        <mat-card>
          <mat-card-header>
            <div class="logoImage">
              <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
            </div>
            <br>
          </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="sendResetEmail()" #resetForm="ngForm">

                  <p class="resetParagraph">
                    Please enter your email address and we'll send you a link if we find your account. With this link you can create your new Password.
                </p>
       
        <div class="input-details">
            <label for="email">Email Address</label>
        </div>
                  <label class="label" for="email">Email Address</label>
                  <label for="error"
                         *ngIf="this.form.controls['email']?.invalid && this.form.controls['email'].touched && !this.form.get('email')?.hasError('emailExists')"
                         class="error-alert">Email is required</label>
                   <label for="error"
                         *ngIf="this.form.get('email')?.hasError('emailExists') && !this.form.controls['email'].touched"
                         class="error-alert">Invalid Email</label>      
               
                <input type="text"
                       matInput
                       name="email"
                       id="email"
                       placeholder="hugh@hughjackedman.com"
                       formControlName="email"
                       
                       required>
          
                <div class="buttonContainer">
                  <button class="btn btn-back" mat-button routerLink="/sign-in">Back</button>
                  <button class="btn btn-submit" mat-button
                  (click)="sendResetEmail()">Send</button>
                </div>
               
                </form>
             
            </mat-card-content>
        </mat-card>
    </div> -->

    <div class="overlay">
      <mat-card>
        <mat-card-header>
          <div class="logoImage">
            <img class="img" src="assets/Images/ProjectLogo.svg" alt="Hugh-Jackedman-Logo">
          </div>
          <br>
        </mat-card-header>
        <mat-card-content [ngSwitch]="currentState">
          <ng-container *ngSwitchCase="ResetPageState.SendResetEmail">
          <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()">
            <p class="resetParagraph email">
              Please enter your email address and we'll send you a link if we find your account. With this link you can create your new Password.
            </p>
            <div class="spacing" *ngIf="!resetEmailSent"> 
              <div class="input-details">
                <label for="email" class="label" [ngStyle]="getEmailLabelStyle()">Email Address</label>
                  <label *ngIf="shouldShowEmailError()" class="error-alert">
                    {{ getEmailErrorMessage() }}
                  </label>
                <!-- <label *ngIf="showEmailError && emailForm.get('email')?.invalid" class="error-alert">
                  <span *ngIf="emailForm.get('email')?.hasError('required')">Email is required</span>
                  <span *ngIf="emailForm.get('email')?.hasError('email') || emailForm.get('email')?.hasError('pattern')" 
                  >Invalid email format</span>
                   <span *ngIf="emailForm.get('email')?.hasError('email') || emailForm.get('email')?.hasError('pattern')"
                  [ngClass]="{'label-short': true}">Invalid</span> -->
                <!-- </label> --> 
              </div>
              <input type="text"
                    matInput
                    id="email"
                    placeholder="Enter your email here"
                    formControlName="email"
                    (blur)="onEmailBlur()"
                    [ngStyle]="getInputStyle('email')"
                    required>
            </div>
            <div *ngIf="resetEmailSent" class="successMessage">
              Reset email sent! Please check your inbox.
            </div>
            <div class="buttonContainer" *ngIf="!resetEmailSent">
              <button class="btn btn-back" mat-button routerLink="/login">Back</button>
              <button class="btn btn-submit" mat-button type="submit">Send</button>
            </div>
          </form>
        </ng-container>

          <ng-container *ngSwitchCase="ResetPageState.ChangingPassword">
            <form [formGroup]="passwordForm" (ngSubmit)="updateUserPassword()" id="passwordForm">
              <div class="resetText">
                  <p class="resetParagraph passwords">Password must:</p>
                                <ul class="list">
                                    <li>Be at least 8 characters long</li>
                                    <li>Contain at least one uppercase letter</li>
                                    <li>Contain at least one lowercase letter</li>
                                    <li>Contain at least one number</li>
                                    <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                                </ul>
              </div>
              <div formGroupName="passwordGroup" class="passwordContainer">
                  <div class="spacingBetweenInputs">
                      <div class="input-details passwordRelative">
                          <label class="label" for="password" [ngStyle]="getInputStyle('password')">New Password</label>
                          <label for="error" *ngIf="passwordForm.get('passwordGroup.password')?.invalid && passwordForm.get('passwordGroup.password')?.touched && !this.passwordMismatch" class="error-alert">{{getPasswordErrorMessage()}}</label>
                          <label for="error" *ngIf="passwordMismatch && passwordForm.get('passwordGroup.confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                          <!-- <div class="popup" *ngIf="isPopupVisible">
                              <p>Password must:</p>
                              <ul>
                                  <li>Be at least 8 characters long</li>
                                  <li>Contain at least one uppercase letter</li>
                                  <li>Contain at least one lowercase letter</li>
                                  <li>Contain at least one number</li>
                                  <li>Contain at least one special character (e.g., &#64;, #, $, etc.)</li>
                              </ul>
                          </div> -->
                      </div>
                      <div class="passwordInput">
                          <input type="password"
                              matInput
                              id="password"
                              placeholder="Enter New Password"
                              formControlName="password"
                              required
                              [ngStyle]="getInputStyle('password')">
                          <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                      </div>
                  </div>
                  <div class="spacingBetweenInputs confirmPassword">
                      <div class="input-details focusedInput">
                          <label class="label" for="confirmPassword" [ngStyle]="getInputStyle('confirmPassword')">Confirm New Password</label>
                          <label for="error" *ngIf="passwordForm.get('passwordGroup.confirmPassword')?.invalid && passwordForm.get('passwordGroup.confirmPassword')?.touched && !this.passwordMismatch" class="error-alert">{{getConfirmPasswordErrorMessage()}}</label>
                          <label for="error" *ngIf="passwordMismatch && passwordForm.get('passwordGroup.confirmPassword')?.touched" class="error-alert">Mismatch!</label>
                      </div>
                      <div class="passwordInput">
                          <input type="password"
                              matInput
                              id="confirmPassword"
                              (blur)="checkPasswords()"
                              placeholder="Confirm New Password"
                              formControlName="confirmPassword"
                              (copy)="preventCopyPaste($event)"
                              (cut)="preventCopyPaste($event)" 
                              (paste)="preventCopyPaste($event)"
                              required
                              [ngStyle]="getInputStyle('confirmPassword')">
                          <fa-icon [icon]="passwordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']" (click)="togglePasswordVisibility()" class="eye-icon" appShowHidePassword [targetInputs]="['#confirmPassword', '#password']"></fa-icon>
                      </div>
                  </div>
              </div>
              <div class="updatePasswordButtonContainer">
                  <button mat-button style="color:white" class="btn btn-cancelPasswordButton" type="button" (click)="cancelAction()">Cancel</button>
                  <button mat-button style="color:white" class="btn btn-updatePasswordButton" form="passwordForm" 
                  type="submit" [disabled]="!isFormValid()" (click)="updateUserPassword()">Change</button>
              </div>
          </form>
        </ng-container>
        </mat-card-content>

        
      </mat-card>
    </div>


    <!-- [ngStyle]="{'border-color': (passwordForm.get('passwordGroup.password')?.invalid) && (passwordForm.get('passwordGroup.password')?.dirty 
    || passwordForm.get('passwordGroup.password')?.touched) ? 'red' : 'black',
    '--placeholder-color': passwordForm.get('passwordGroup.confirmPassword')?.invalid && (passwordForm.get('passwordGroup.confirmPassword')?.dirty 
    || passwordForm.get('passwordGroup.confirmPassword')?.touched) ? 'red' : 'black',
    'color': passwordForm.get('passwordGroup.confirmPassword')?.invalid && (passwordForm.get('passwordGroup.confirmPassword')?.dirty 
    || passwordForm.get('passwordGroup.confirmPassword')?.touched) ? 'red' : 'black'}" -->