* {
  font-family: 'Outfit', sans-serif;
  }

mat-card{
  width: 32.8rem;
  margin-left: 0.2rem;
}
  
input {
  /* @include variables.body-primary-xs; */
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.063rem solid black;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  color: black;
  background-color: white;
  font-size: 1rem;
}



input #password{
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.063rem solid black;
  /* margin-bottom: 1rem; */
  padding: 0.5rem 0 0.5rem 1rem;
  color: black;
  background-color: white;
  font-size: 1rem;
} 

/* #password{
  display: inline-block;
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0.063rem solid black;
  /* margin-bottom: 1rem; */
  /* padding: 0.5rem 0 0.5rem 1rem;
  color: black;
  background-color: white;
  font-size: 1rem;
}  */ 

mat-card-header{
  margin-bottom: 0.4rem;
  /* margin-top: -0.2rem; */
}

mat-card-title{
  font-size: large;
}

input:focus,
input:valid {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.input-details {
  display: flex;
  justify-content: space-between;
  width: 15.437rem;
}

.error-alert {
  color: red;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.3rem;
}

span#showHide{
padding-bottom: 10px;
}

@media (min-width: 37.5em) {

  input {
    height: 2rem;
    /* margin-bottom: 1.5rem; */
    width: 29.6rem;
  }

  #password{
    display: inline-block;
    width: 29.6rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.063rem solid black;
    margin-bottom: 0rem;
    padding: 0.5rem 0 0.5rem 1rem;
    color: black;
    background-color: white;
    font-size: 1rem;
  } 

  .input-details {
    width: 30.125rem;
  }

  .error-alert {
    font-weight: 500;
  }
}