.pageContainer {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 100%;
  max-width: 3000px;

  height: 100%;
  min-height: 100vh;
  margin: auto;
}

.cardFlex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 95%;
  max-width: 70rem;
  height: 100%;
  max-height: 30rem;
  color: white;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgb(36, 36, 36);
  transition: transform 0.1s cubic-bezier(0.2, 0.0, 0.8, 1.0), box-shadow 0.1s;
}

.productContainer.addHovered {
  transform: translate(-50%, -50%) scale(1.05);
  z-index: 3;
  box-shadow: 0 0 50px rgb(118, 117, 117) !important;
}

.productImageContainer {
  flex: 1;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.productImage {
  height: auto;
  width: 100%; 
  max-width: 38rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}

.productInfo {
  position: absolute;
  top: 2.5rem;
  width: 28rem;
  background-size: cover;
  border-radius: 8px;
  right: 3.2rem
}

p.name {
  font-size: 6rem;
  font-weight: 500;
  height: 5rem;
  line-height: 2rem;
  text-wrap: nowrap;
  /* text-shadow: 0 0 12px rgb(87, 86, 86); */
  text-shadow: 0 0 10px rgb(45, 44, 44);
}

p.price {
  font-family: "Roboto Mono", monospace !important;
  font-style: italic;
  font-weight: bold;
  font-optical-sizing: auto;
  letter-spacing: -5px;
  font-size: 6rem;
  line-height: 3rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  text-shadow: 0 0 10px rgb(45, 44, 44);
}

.productDescriptionAndButtonsContainer {
  margin-left: 1rem;
  margin-top: 3rem;
}

.descriptionTitle {
  font-weight: 450;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 0 0 10px rgb(45, 44, 44);
}

.productDescriptionLorem {
  font-size: 1.2rem;
  text-shadow: 0 0 10px rgb(45, 44, 44);
  height: 95px;
  max-height: 95px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 28rem;
  padding-top: 3rem;
}

.addToCartButton,
.viewCartButton {
  background-color: rgb(255, 255, 255) !important;
}

.addToCartButton,
.viewCartButton,
.backButton {
  width: 8rem;
  line-height: 1;
  border-radius: 0.4rem;
}

// .addToCartButton:hover:not(.limit-reached:hover) {
//   &.productContainer{
//     transform: scale(1.05) !important;
//     z-index: 3;
//     filter: saturate(120%) !important;
//     transition: transform 0.1s cubic-bezier(0.2, 0.0, 0.8, 1.0) !important;
//     box-shadow: 0 0 50px rgb(118, 117, 117) !important;
//   }
// }

// .productContainer:has(.addToCartButton:hover:not(.limit-reached)) {
//   transform: scale(1.05);
//   z-index: 3;
//   // filter: saturate(120%) !important;
//   transition: transform 0.1s cubic-bezier(0.2, 0.0, 0.8, 1.0) !important;
//   box-shadow: 0 0 50px rgb(118, 117, 117) !important;
// }

.viewCartButton {
  padding: 0 1rem 0 1rem;
}

.backButton {
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255) !important;
}

.addToCartButton:hover,
.viewCartButton:hover,
.backButton:hover {
  color: white !important;
  background-color: rgb(0, 0, 0) !important;
  box-shadow: 0 0 10px rgb(78, 78, 78);
}

.addToCartButton.limit-reached:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 9;
}

.spinner {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

.spinner .path {
  stroke: #000000;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner-text {
  color: #000000;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.narrow {
    display: none;
}  

.wide {
    display: block;
}

@media screen and (min-width: 500px) and (max-width: 1020px) {
  .pageContainer {
    height: fit-content;
    min-height: 100vh;
    padding: 2rem 0; 
    display: flex; 
    align-items: center; 
  }

  .cardFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .productContainer {
    margin: 5rem auto;
    width: 30rem;
    height: auto;
    max-height: none;
    background-color: white;
    /* margin-top: 15rem; */
    border-radius: 1rem;
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5rem; */
  }

  /* .productInfo{
        position: relative;
        padding-top: 3rem;
        height: 30rem;
        width: 28rem;
        background-size: cover;
        border-radius: 8px;
    } */

  /* .buttonContainer{
        position: absolute;
        top: 80.5%;
        bottom: 0;
        width: 28rem;
    } */

  .productInfo {
    position: relative;
    padding-top: 3rem;
    height: auto; /* Changed from fixed height */
    min-height: 30rem; /* Added min-height instead */
    width: 28rem;
    background-size: cover;
    border-radius: 8px;
  }

  .buttonContainer {
    position: absolute;
    bottom: 0rem;
    width: 28rem;
  }
}

/* @media screen and (min-width: 300px) and (max-width: 500px) {
  .productContainer {
    width: 90%;
    max-width: 30rem;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
  }

  .productImage {
    height: auto;
    width: 95%;
    max-width: 28rem;
    background-size: cover;
    border-radius: 1rem;
  }
} */

@media screen and (min-width: 300px) and (max-width: 500px) {

  .narrow {
      display: block;
  }  

  .wide {
      display: none;
  }

  .pageContainer {
    height: fit-content;
    min-height: 100vh;
    padding: 1.5rem 0 2rem 0;
    display: flex;
    align-items: center;
  }

  .cardFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .productContainer {
    margin: 3rem auto;
    width: 95%;
    max-width: 30rem;
    height: auto;
    /* aspect-ratio: 3/2; */
    /* min-height: 100vh; */
    /* min-height: 100vh; */
    /* max-height: fit-content; */
    background-color: white;
    border-radius: 1rem;
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    transform: none;
    /* padding-top: 2rem; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .productImage {
    height: auto;
    width: 100%;
    max-width: 28rem;
    padding-top: 1rem;
    aspect-ratio: 1/1;
    background-size: cover;
    /* border-radius: 1rem; */
    margin: auto;
    /* margin: 1rem auto; */
  }

  .productInfo {
    position: relative;
    padding-top: 2rem;
    height: auto;
    /* min-height: 25rem; */
    width: 95%;
    max-width: 28rem;
    background-size: cover;
    border-radius: 8px;
    margin: 0 auto;
  }

  .buttonContainer {
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 28rem;
    margin: 0 auto;
    /* padding-bottom: 1rem; */
  }

  p.name {
    font-size: 4rem;
    height: 2rem;
    line-height: 1.5rem;
  }

  p.price {
    font-size: 4rem;
    margin-top: 0.5rem;
    letter-spacing: -3px;
    /* line-height: 2.5rem; */
  }

  .productDescriptionContainer {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    min-height: 20vh;
    /* margin-left: 0; */
  }

  .productDescriptionLorem{
    padding-top: 0;
    margin-top: -0.5rem;
  }
}
