<div class="pageContainer">
<mat-card class="productContainer">
    <mat-card-content class="cardFlex">
        <mat-card class="productImage" [ngStyle]="{'background-image': 'url(' + currentProduct.productUrl + ')', 'background-size': 'cover', 'background-position': 'center center', 'background-repeat': 'no-repeat'}">
        </mat-card>
        <div class="productInfo">
            <p class="name">{{currentProduct.productName}}</p>
            <p class="price">${{currentProduct.productPrice}}</p>
            <div class="productDescriptionContainer">
            <p class="descriptionTitle"> Product Description: <br><br> </p>
            <p class="productDescriptionLorem">{{currentProduct.productDescription}}</p>
           </div>
           <div class="buttonContainer">
            <button mat-button class="backButton"  routerLink="/store">Back To Store</button>
            <button mat-button class="addToCartButton"  (click)="addToCart(currentProduct)">Add to Cart</button>
            <button mat-button class="viewCartButton"  routerLink="/cart">View Cart</button>
           </div>
        </div>
    </mat-card-content>
</mat-card>
</div>

