* {
    font-family: 'Outfit', sans-serif;
}

.pageContainer {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 100%;
    max-width: 3000px;
    /* margin-top: -10rem; */
    /* overflow-x: scroll; */
    height: 100%;
    min-height: 100vh;
    margin: auto;
}

.cardFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 70rem;
    height: 40rem;
    background-color: white;
    /* margin-top: 15rem; */
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(162, 162, 162);
}

.productImage{
    height: 38rem;
    width: 38rem;
    background-size: cover;
    border-radius: 1rem;
}

.productInfo{
    position: relative;
    padding-top: 2rem;
    /* height: 30rem; */
    height: 100%;
    width: 28rem;
    background-size: cover;
    border-radius: 8px;
}


p.name{
    margin-left: 2rem;
    font-size: 6rem;
    font-weight: 500;
    height: 5rem;
    line-height: 2rem;
}

p.price{
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 1000;
    font-size: 6rem;
    line-height: 3rem;
    padding-left: 0.5rem;
}

.productDescriptionContainer{
    margin-left: 2rem;
    margin-top: 5rem;
    /* height: fit-content; */
}

.descriptionTitle{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.productDescriptionLorem{
    font-size: 1.2rem;
    /* margin-top: 1rem; */
}

.buttonContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* top: 101.5%; */
    right: 0rem;
    margin: auto;
    bottom: 2rem;
    /* width: 28rem; */
    width: 100%;
    min-width: 29rem;
    /* max-width: 40rem; */
}

.addToCartButton, .viewCartButton {
    margin-left: 2rem;
    margin-top: 3.3rem;
    background-color: rgb(255, 255, 255) !important;
}

.addToCartButton, .viewCartButton, .backButton{
    width: 10rem;
}

/* .viewCartButton{
    width: 8rem;
} */

/* .viewCartButton:disabled{
    background: white;
    color: black;
} */

.viewCartButton{
    padding: 0 1rem 0 1rem;
}

.backButton{
letter-spacing: 1px;
margin-left: 2rem;
margin-top: 3.3rem;
background-color: rgb(255, 255, 255) !important;
}

.addToCartButton:hover, .viewCartButton:hover, .backButton:hover{
    color: white !important;
    background-color: rgb(0, 0, 0) !important;
}

.addToCartButton.limit-reached:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

@media screen and (min-width: 500px) and (max-width: 1124px){
    .cardFlex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .productContainer{
        margin: auto;
    width: 42rem;
    height: fit-content;
    background-color: white;
    margin-top: 15rem;
    border-radius: 10px; 
    margin-bottom: 5rem;
    }

    .productInfo{
        position: relative;
        padding-top: 3rem;
        height: 30rem;
        width: 28rem;
        background-size: cover;
        border-radius: 8px;
    }

    .buttonContainer{
        position: absolute;
        top: 80.5%;
        bottom: 0;
        width: 28rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 691px){
    .productContainer{
    /* margin: auto; */
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-top: 15rem;
    border-radius: 10px; 
    margin-bottom: 5rem;
    }

    .productImage{
        height: 100vw;
        width: 90vw;
        background-size: cover;
        border-radius: 8px;
    }
    
    
}
